---
{
	"title": "Content formatting",
	"language": "en",
	"altLangPrefix": "formatting",
	"css": ["http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome"],
	"dateModified": "2014-02-28"
}
---
<div class="wb-prettify all-pre">
 <div class="alert alert-info">
  <p class="lead">This is a community-developed product and not intended to replace the Canada.ca site guidelines.</p>
 </div>
 <div class="panel panel-default wet-boew-toc">
  <div class="panel-heading">
   <h2 class="panel-title">Table of contents</h2>
  </div>
  <div class="panel-body">
   <ul class="colcount-sm-2 colcount-md-3">
    <li><a href="#acronyms">Acronyms and initialisms</a></li>
    <li><a href="#addresses">Addresses</a></li>
    <li><a href="#blockquotes">Blockquotes</a></li>
    <li><a href="#bold">Bold</a></li>
    <li><a href="#english">Canadian English</a></li>
    <li><a href="#capitalization">Capitalization</a></li>
    <li><a href="#commas">Commas</a></li>
    <li><a href="#contractions">Contractions</a></li>
    <li><a href="#currency">Currency</a></li>
    <li><a href="#dash">Dashes and hyphens</a></li>
    <li><a href="#date">Date and time</a></li>
    <li><a href="#examples">Examples</a></li>
    <li><a href="#faqs"><abbr title="Frequently asked questions">FAQ</abbr>s </a></li>
    <li><a href="#form">Forms and publications</a></li>
    <li><a href="#geographic">Geographic names</a></li>
    <li><a href="#headings">Headings and subheadings</a></li>
    <li><a href="#hyphenating">Hyphenating compound terms</a></li>
    <li><a href="#italics">Italics</a></li>
    <li><a href="#legislation">Legislation</a></li>
    <li><a href="#links">Links</a></li>
    <li><a href="#line">Line identifiers</a></li>
    <li><a href="#lists">Lists</a></li>
    <li><a href="#names">Names</a></li>
    <li><a href="#notes">Notes</a></li>
    <li><a href="#numbers">Numbers</a></li>
    <li><a href="#official">Official languages </a></li>
    <li><a href="#periodforms">Periods on forms</a></li>
    <li><a href="#phone">Phone numbers</a></li>
    <li><a href="#pronouns">Pronouns and possessive adjectives</a></li>
    <li><a href="#quotation">Quotation marks</a></li>
    <li><a href="#special">Special characters</a></li>
    <li><a href="#underline">Underline</a></li>
    <li><a href="#web">Web addresses</a></li>
    <li><a href="#terminology">Web terminology</a></li>
    <li><a href="#website">Website and webpage references</a></li>
    <li><a href="#resources">External resources</a></li>
   </ul>
  </div>
 </div>
 <h2 class="page-header" id="acronyms"> Acronyms and initialisms</h2>
 <p>Using initialisms can help to make your documents concise. Initialisms (for which you pronounce each letter) include <strong><abbr title="registered retirement savings plan">RRSP</abbr></strong>, <strong><abbr title="tax-free savings account">TFSA</abbr></strong>, and <strong><abbr title="Goods and Services Tax">GST/HST</abbr></strong>. Acronyms (initialisms that you pronounce as words) include <strong><abbr title="registered retirement income fund">RRIF</abbr></strong>, <strong><abbr title="North-American Free Trade Agreement">NAFTA</abbr></strong>, and <strong>GATT</strong>.</p>
 <p>In general, do not assume that your reader knows the meaning of an  initialism. To introduce an initialism into a text or a group of  webpages, write the words in full, followed by the initialism in  parentheses. If your reader may not read your entire text or group of  texts, repeat the introduction in any main section or webpage where you  use the initialism. Be consistent, and avoid switching back and forth  between an initialism and the words it represents.</p>
 <p>You can adjust your use of initialisms to suit particular readers. For instance, if your target audience is <abbr title="Canada Revenue Agency">CRA</abbr> employees, you can omit the full name of the organization and simply use the initialism. </p>
 <h4>Initialisms in titles and headings</h4>
 <p>In general, do not introduce an initialism in a title or a heading. However,  you may want to use an initialism in a title or a heading. In that  case, introduce the initialism in the body of the text by writing the  words in full, followed by the initialism in parentheses.</p>
 <div class="well">
  <h3 class="mrgn-tp-0 h4">Examples</h3>
  <p>Section 1.2 &ndash; Contractual joint venture<br />
   In  a contractual joint venture (CJV), the terms, obligations, and  liabilities of the parties are stated in a document signed by both  parties.</p>
  <p>Section 2.4 &ndash; Contributing to your <abbr title="registered retirement savings plan">RRSP</abbr> <br />
   A registered retirement savings plan (<abbr title="registered retirement savings plan">RRSP</abbr>) is designed mainly for saving toward your retirement years. </p>
 </div>
 <h2 class="page-header" id="addresses">Addresses</h2>
 <p>Preserve formatting by ending all lines with <code>&lt;br&gt;</code>.</p>
 <div class="row">
  <div class="col-md-6">
   <address>
   Mr. John Doe<br />
   Director of Research and Development<br />
   4th Floor<br />
   Business Building<br />
   250 Yonge Street<br />
   Toronto ON  M5B 2L7
   </address>
  </div>
  <div class="col-md-6">
   <pre><code>&lt;address&gt;
  Mr. John Doe&lt;br&gt;
  Director of Research and Development&lt;br&gt;
  4th Floor&lt;br&gt;
  Business Building&lt;br&gt;
  250 Yonge Street&lt;br&gt;
  Toronto ON M5B 2L7
&lt;/address&gt;
</code></pre>
  </div>
 </div>
 <p>The style for addresses was developed to emphasize language quality and readability.  These differ in some respects from the recommendations  published by Canada Post. Please note, however, that Canada Post's  addressing guidelines state that &quot;Canada Post's automated equipment can  decipher a wide range of addressing styles.&quot;</p>
 <p>Write out in full all the elements of an address <strong>except</strong> the <a href="#postal">postal abbreviations for provinces and territories</a>. </p>
 <h3>Addresses: Municipality, province or territory, and postal code</h3>
 <p>Present the municipality, postal abbreviation for the province or the territory, and postal code on the same line. By following this guideline, characters can be optically recognized  and mail will not be diverted for manual processing by Canada Post.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <address class="mrgn-bttm-0">
  Ottawa ON K1A 0L5
  </address>
 </div>
 <p>Also refer to <a href="#geographic">Geographic names</a>.</p>
 <h3>Addresses: Capitalization in postal addresses</h3>
 <p>Capitalize the <strong>first letter of every word</strong> in an address except prepositions under four letters (like <strong>of</strong> and <strong>for</strong>), conjunctions under four letters (like <strong>and</strong>), and the articles <strong>the</strong>, <strong>a</strong>, and <strong>an</strong> when they are used within a name or title.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <address class="mrgn-bttm-0">
  Mr. John Doe<br />
  Director of Research and Development<br />
  4th Floor<br />
  Business Building<br />
  250 Yonge Street<br />
  Toronto ON  M5B 2L7
  </address>
 </div>
 <p>Also capitalize a <strong>country name</strong>, which should appear alone on the last line of the address block.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <address class="mrgn-bttm-0">
  Mr. Alberto Garcia-Alvarez<br />
  Don Remundo 13, Piso 1<br />
  Seville<br />
  SPAIN
  </address>
 </div>
 <h3>Addresses: Punctuation</h3>
 <p>Use punctuation when it is part of a proper name, such as in &quot;St. John's&quot;.</p>
 <p>Use a <strong>comma</strong> to separate two elements on the same line.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <address class="mrgn-bttm-0">
  Mr. John Jones<br />
  Director, Marketing Department<br />
  ABC Company <br />
  Site 6, Compartment 10<br />
  Rural Route 3, Station Main<br />
  Maillarville AB  T0L 1K0
  </address>
 </div>
 <h3>Addresses: Official languages in addresses</h3>
 <p>For information on official languages in addresses, see item 10.14 in <a href="http://btb.termiumplus.gc.ca/tpv2guides/guides/tcdnstyl/index-eng.html?lang=eng">The Canadian Style</a> and item 8.1.4i) of <a href="http://btb.termiumplus.gc.ca/tpv2guides/guides/redac/index-eng.html?lang=eng">Le guide du r&eacute;dacteur</a>.</p>
 <p>You may translate these types of thoroughfare: <strong><em>rue</em></strong> (Street), <em><strong>avenue</strong></em> (Avenue), and <em><strong>boulevard</strong></em> (Boulevard).</p>
 <p>When an address such as <em><strong>180, avenue de la Cath&eacute;drale</strong></em> is translated, capitalize it in accordance with English usage:</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <address class="mrgn-bttm-0">
  Rimouski Tax Services Office<br />
  Suite 101<br />
  180 De la Cath&eacute;drale Avenue<br />
  Rimouski QC  G5L 5H9
  </address>
 </div>
 <p>When an <strong>ordinal number precedes the word <em>rue</em>, <em>avenue</em>, or <em>boulevard</em></strong> <em>(2e Rue)</em>,  do not translate it. In accordance with French addressing, include a  comma after the building number, superscript part of the numeral <em><strong>(1re, 2e, 5e)</strong></em>, and capitalize the first letter of <em><strong>Rue</strong></em>, <em><strong>Avenue</strong></em>, or <em><strong>Boulevard</strong></em>, which is the official name of the thoroughfare.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <address class="mrgn-bttm-0">
  Mr. Paul Truman<br />
  4687, 5e Rue<br />
  Montr&eacute;al QC  H1Y 3N5
  </address>
 </div>
 <h3>Addresses: Gender (Ms., Mrs., Miss, or Mr.)</h3>
 <p>Most <abbr title="Canada Revenue Agency">CRA</abbr> systems indicate  the gender of the person to whom you write. Use Ms., Mrs., Miss, or Mr.  followed by the individual's first name and last name.</p>
 <p>When you do not know the gender, use the person's full name.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <ul>
   <li>Brooke J. Donovan</li>
   <li>J. Doe</li>
  </ul>
 </div>
 <p>When the addressee is a woman, and her preference cannot be ascertained, use Ms. </p>
 <h3>Addresses: Additional  guidelines</h3>
 <p><strong>Order the elements</strong> of an address from small to big: floor, building, street, etc.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <address class="mrgn-bttm-0">
  4th Floor<br />
  Connaught Building<br />
  555 MacKenzie Avenue<br />
  Ottawa ON  K1A 0L5
  </address>
 </div>
 <p>Write <strong>ordinal numbers in regular characters</strong> (3rd, 7th). Be aware that in Microsoft Word, the superscript effect of ordinal numbers is automatic (3rd, 7th) and <strong>should be cancelled</strong> under Format, Font, Effects. </p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <address class="mrgn-bttm-0">
  340 3rd Avenue
  </address>
 </div>
 <p>If the official name of the <strong>thoroughfare starts with a regular</strong> (125 Street) <strong>or ordinal number</strong> (5th Avenue), <strong>do not use a hyphen</strong> between the civic number and the number of the thoroughfare.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <address class="mrgn-bttm-0">
  17 125 Street, 260 5th Avenue
  </address>
 </div>
 <p>Put the <strong>post office box</strong> on the line above the municipality.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <address class="mrgn-bttm-0">
  Post Office Box 12075<br />
  St. John's NL  A1B 4R5
  </address>
 </div>
 <p>If there is no unit designator (for example, apartment, suite, unit), use <strong>one space before and after the hyphen</strong> that separates the unit number (see 100 below) and the civic number (1620).</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <address class="mrgn-bttm-0">
  100 - 1620 Dickson Avenue
  </address>
 </div>
 <p>If you know it, <strong>do not drop the unit designator</strong> (for example, apartment, suite, unit) and put it above the civic number and the street name.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <address class="mrgn-bttm-0">
  Suite 10<br />
  9700 Jasper Avenue
  </address>
 </div>
 <p>Write as <strong>one word compass directions consisting of two points</strong> (Southwest, Northeast)</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <address class="mrgn-bttm-0">
  645 Murray Avenue Southwest
  </address>
 </div>
 <table class="table" id="postal">
  <caption>
  Postal abbreviations for provinces and territories
  </caption>
  <tbody>
   <tr>
    <th scope="col">Province/Territory </th>
    <th scope="col">Postal abbreviation</th>
   </tr>
   <tr>
    <td>Alberta</td>
    <td><abbr title="Alberta">AB</abbr> </td>
   </tr>
   <tr>
    <td>British Columbia</td>
    <td><abbr title="British Columbia">BC</abbr> </td>
   </tr>
   <tr>
    <td>Manitoba</td>
    <td><abbr title="Manitoba">MB</abbr> </td>
   </tr>
   <tr>
    <td>New Brunswick</td>
    <td><abbr title="New Brunswick">NB</abbr> </td>
   </tr>
   <tr>
    <td>Newfoundland and Labrador</td>
    <td><abbr title="Newfoundland and Labrador">NL</abbr> </td>
   </tr>
   <tr>
    <td>Northwest Territories</td>
    <td><abbr title="Northwest Territories">NT</abbr> </td>
   </tr>
   <tr>
    <td>Nova Scotia</td>
    <td><abbr title="Nova Scotia">NS</abbr> </td>
   </tr>
   <tr>
    <td>Nunavut</td>
    <td><abbr title="Nunavut">NU</abbr> </td>
   </tr>
   <tr>
    <td>Ontario</td>
    <td><abbr title="Ontario">ON</abbr> </td>
   </tr>
   <tr>
    <td>Prince Edward Island</td>
    <td><abbr title="Prince Edward Island">PE</abbr> </td>
   </tr>
   <tr>
    <td>Quebec</td>
    <td><abbr title="Quebec">QC</abbr> </td>
   </tr>
   <tr>
    <td>Saskatchewan</td>
    <td><abbr title="Saskatchewan">SK</abbr> </td>
   </tr>
   <tr>
    <td>Yukon</td>
    <td><abbr title="Yukon">YT</abbr> </td>
   </tr>
  </tbody>
 </table>
 <h2 class="page-header" id="blockquotes">Blockquotes</h2>
 <div class="row">
  <div class="col-md-8">
   <p>For quoting blocks of content from another source within your document.</p>
  </div>
  <div class="col-md-4">
   <div class="well">
    <h2 class="h3 mrgn-tp-0">Related </h2>
    <h3 class="h4"><span class="fa fa-picture-o text-muted"></span> Design guide</h3>
    <ul class="list-unstyled mrgn-lft-lg lst-spcd">
     <li><a href="../design/blockquotes-en.html">Blockquotes<span class="wb-inv"><span class="wb-inv"> - Design guide</span></span></a></li>
    </ul>
    <h3 class="h4"><span class="fa fa-wheelchair text-muted"></span> Accessibility guide</h3>
    <ul class="list-unstyled mrgn-lft-lg lst-spcd">
     <li><a href="../accessibility/quotations-en.html">Quotations and language<span class="wb-inv"> - Accessibility guide</span></a></li>
    </ul>
   </div>
  </div>
 </div>
 <h2 class="page-header" id="bold">Bold</h2>
 <p>Use bold to emphasize words that need to stand out in a sentence. Use   bold sparingly, otherwise its affect is diminished. You can also use   bold:</p>
 <ul>
  <li>on links on a web page</li>
  <li>to indicate steps in a procedure (see the section &ldquo;Procedures&rdquo;).</li>
  <li>indicate GUI elements in software or specific locations on a website.</li>
 </ul>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <p> Go to <strong>Start &gt; Programs &gt; Word</strong> and select the <strong>Word icon.</strong></p>
 </div>
 <h2 class="page-header" id="capitalization">Capitalization</h2>
 <p>Capitalization practices vary widely, and writers often question  which words and phrases require caps. The trend in English writing is  toward less capitalization, which is known as a <strong>down style</strong>. We recommend following this style and limiting the use of capital letters. </p>
 <p>Capitalize only the following:</p>
 <ul>
  <li>the first letter of the first word in a sentence or heading;</li>
  <li>acronyms and initialisms; and</li>
  <li>proper nouns.</li>
 </ul>
 <h3>Capitalization: Headings and titles</h3>
 <p>A <strong>heading</strong> may introduce a topic within a document  or on a webpage, or it may identify a column or row in a table. For a  heading, capitalize only the first letter of the first word and any  proper nouns.</p>
 <div class="well">
  <h4>Example</h4>
  <h4>Headings and page structure</h4>
 </div>
 <p>A <strong>title </strong>is the official name of a document or  publication, such as a form, guide, policy, act, regulation, or report.  For a title, capitalize the first letter of each word except internal  prepositions of fewer than five letters (such as <strong>of</strong>, <strong>for</strong>, and <strong>with</strong>), conjunctions (such as <strong>and</strong> and <strong>or</strong>), and the articles <strong>the</strong>, <strong>a</strong>, and <strong>an</strong>. </p>
 <ul>
  <li>Guide 5013-G, <em>General Income Tax and Benefit Guide for Non-Residents and Deemed Residents of Canada</em></li>
  <li><em>Annual Report to Parliament, 2009</em><em>&ndash;</em><em>2010</em></li>
  <li>Public Affairs and Communications Policy</li>
 </ul>
 <h3>Capitalization: Proper nouns</h3>
 <p>A <strong>proper noun</strong> is the official name of a particular person, place, or thing.</p>
 <p>For a proper noun, capitalize the <strong>first letter of every word</strong> except internal prepositions of fewer than five letters (such as <strong>of</strong>, <strong>for</strong>, and <strong>from</strong>), conjunctions (such as <strong>and </strong>and <strong>or</strong>), and the articles <strong>the</strong>, <strong>a</strong>, and <strong>an</strong>.</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>the Access to Information and Privacy Directorate</li>
   <li>the Board of Management</li>
   <li>the Speech from the Throne</li>
  </ul>
 </div>
 <p>A proper noun has one form, singular or plural.</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>My Account</li>
   <li>First Nations</li>
  </ul>
 </div>
 <h4>Capitalization: Proper noun best practices</h4>
 <p>Any part of a proper noun is not itself a proper noun when it stands alone or modifies another noun.</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li><em>Employment Insurance Act</em>, employment insurance, employment insurance premiums</li>
   <li><em>Old Age Security Act</em>, old age security, old age security pension</li>
   <li><em>Universal Child Care Benefit Act</em>, universal child care benefit, universal child care benefit amount</li>
   <li>the Access to Information and Privacy Directorate, an access-to-information request</li>
  </ul>
 </div>
 <p>When a noun can have both a singular and a plural form, do not consider it as an official name and do not capitalize it.</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>business number, business numbers</li>
   <li>end-state pre-qualification process, end-state pre-qualification processes</li>
   <li>tax-free savings account, tax-free savings accounts</li>
  </ul>
 </div>
 <h3>Capitalization: Institutions and government bodies</h3>
 <p><strong>Capitalize</strong> the proper names of institutions and government bodies</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>Public Service Commission of Canada </li>
   <li>Ottawa Carleton District School Board </li>
   <li>Canadian Medical Association </li>
   <li>First Baptist Church </li>
  </ul>
 </div>
 <p><strong>Capitalize </strong>the proper names of branches, regions, and offices, as well as directorates, divisions, sections, units, and committees.</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>Winnipeg Tax Services Office </li>
   <li>Jonqui&egrave;re Tax Centre </li>
   <li>Legislative Policy and Regulatory Affairs Branch </li>
   <li>Prairie Region</li>
   <li>Scientific Research and Experimental Development Directorate </li>
   <li>Electronic Commerce Compliance Division</li>
   <li>Process Improvement and Notices Section</li>
   <li>Small Business Advisory Committee</li>
  </ul>
 </div>
 <p>But when you make a general reference, <strong>use lower case</strong>.</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>one of our tax services offices </li>
   <li>your tax centre </li>
   <li>our branches and regions </li>
   <li>each directorate </li>
   <li>the federal public service </li>
  </ul>
 </div>
 <h3>Capitalization: Generic nouns</h3>
 <p><strong>Capitalize</strong> a generic noun when it is used as <strong>a short form</strong> for a proper noun that has been presented in full and that refers to an organization or group of <strong>people</strong>.</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>The Canadian Medical Association has updated its policy on third-party forms. You can find the policy on the Association's website. </li>
   <li>We work for the Professional Practices Division. The Division has 75 employees.</li>
   <li>We  will consult the Agency Management Committee about this issue at its  next meeting. The Committee is scheduled to meet again in September. </li>
   <li>The  Department of Finance Canada is recommending legislative changes. The  Department will inform us when the recommendations are ready for review.</li>
  </ul>
 </div>
 <p>But,  lower case short forms for the same proper nouns when they are preceded  by an indefinite article, a possessive adjective, or a demonstrative  pronoun or when they are used as adjectives or are pluralized.</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>The Canadian Medical Association has updated its policy on third-party forms. An association making such a change should publicize it widely. </li>
   <li>We work for the Professional Practices Division. This division has 75 employees.</li>
   <li>We  will consult the Agency Management Committee about this issue at its  next meeting. We can make a presentation after outstanding committee  business has been concluded. </li>
   <li>The invitation list  includes the Department of Finance Canada and the Department of  Employment and Social Development Canada. We would like to have  representatives from the departments at the meeting.</li>
  </ul>
 </div>
 <p>Lower case short forms for proper nouns naming things, including programs, initiatives, strategies, and frameworks.</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>The  Volunteer Income Tax Program is now in its tenth year. We attribute the  program's success to the enthusiasm of our volunteers.</li>
   <li>The  Board of Management Oversight Framework has been in place since the  2003&ndash;2004 fiscal year. The framework will be reviewed in the 2011&ndash;2012  fiscal year.</li>
   <li>Take some time to read the Sustainable Development Strategy. The strategy will help us reduce waste and save valuable resources.</li>
  </ul>
 </div>
 <h3>Capitalization: Copyrighted names</h3>
 <p><strong>Capitalize</strong> trade names of manufactured products.</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>Plexiglas </li>
   <li>Tylenol </li>
   <li>Xerox</li>
  </ul>
 </div>
 <p>Some industries use capital letters within the name of a product. <strong>Capitalize</strong> all names of products and terms, including computer language, according to the manufacturer's preference:</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>Microsoft Word </li>
   <li>MasterCard</li>
   <li>BlackBerry </li>
  </ul>
 </div>
 <h3>Capitalization: Title of office or rank</h3>
 <p><strong>Capitalize </strong>civil, military, religious, and  professional titles, as well as titles of nobility when they precede  and form part of a personal name.</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>Prime Minister Stephen Harper</li>
   <li>Finance Minister James Flaherty</li>
   <li>Queen Elizabeth II </li>
  </ul>
 </div>
 <p>But<strong> do not</strong> capitalize titles in the plural or titles preceded by an indefinite article or possessive adjective </p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>lieutenant-governors of Quebec and Ontario</li>
   <li>assistant commissioners and other members of the Agency Management Committee</li>
   <li>a member of Parliament</li>
   <li>your member of Parliament</li>
  </ul>
 </div>
 <p><strong>Capitalize</strong> formal titles that follow a personal name.</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>Sandra Lavigne, Assistant Commissioner, Public Affairs Branch</li>
   <li>The Honourable Rob Nicholson, Minister of Justice</li>
  </ul>
 </div>
 <div class="well">
  <h4>Examples</h4>
  <p>But<strong> do not </strong>capitalize titles that follow a personal name if they only identify a profession.</p>
  <ul>
   <li>Jane Tanaka, professor of physics</li>
   <li>James Hill, publisher </li>
  </ul>
 </div>
 <p><strong>Capitalize</strong> a title when it refers to an individual or is used as a substitute for that individual's name</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>The Minister is scheduled to speak before the OECD on Friday.</li>
   <li>In the first of a planned series of announcements, the Commissioner unveiled a new direction for communications.</li>
  </ul>
 </div>
 <p>But <strong>do not</strong> capitalize a title when it refers to a role that may be held by more than one person over a period of time.</p>
 <div class="well">
  <h4>Example</h4>
  <p>To complete the process, the commissioner delivers the annual report to the minister of national revenue.</p>
 </div>
 <h3>Capitalization: Parts of a form or publication</h3>
 <p><strong>Capitalize</strong> references to specific parts of a document</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>Appendix D </li>
   <li>Chart 5 </li>
   <li>Figure 1 </li>
   <li>Volume 9</li>
  </ul>
 </div>
 <p><strong>Capitalize</strong> cross-references to a particular section.</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>More titles are listed in the Bibliography. </li>
   <li>See the Appendix for more charts.</li>
  </ul>
 </div>
 <p><strong>Do not</strong> capitalize the word <strong>section</strong> when it is used as part of a law or a set of regulations (see the guideline on <a href="#legislation">Legislation</a> for information on capitalizing references to legislation)</p>
 <div class="well">
  <h4>Example</h4>
  <p>under subsection 12 of section 4 of the Act</p>
 </div>
 <p><strong>Do not</strong> capitalize words such as <strong>page</strong>,<strong> box</strong>, <strong>code</strong>, <strong>line</strong>, <strong>note</strong>,<strong> paragraph</strong>, and <strong>column</strong>.</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>enter the amount from column 1 on line 421 </li>
   <li>box 14 of the T4 slip </li>
   <li>code 33 in the &quot;Other information&quot; area </li>
  </ul>
 </div>
 <p><strong>Do not</strong> capitalize generic or non-standard references to our forms and publications.</p>
 <div class="well">
  <h4>Example</h4>
  <p>your provincial or territorial tax credits form</p>
 </div>
 <h2 class="page-header" id="english">Canadian English</h2>
 <p>Canadian English mixes elements of British and American English. Our  pronunciation and spelling tend to be more diverse. We use the <em>Canadian Oxford Dictionary</em> as our principal reference on matters of spelling. You may also want to consult<em> Editing Canadian English</em>, which has a handy set of charts that are a good reference on variations in Canadian spelling.</p>
 <p>Set the spell checker on your computer and in your electronic  documents for Canadian English. But remember that your spell checker  can only tell you if the words you typed are correctly spelled, not if  you typed the correct word. For example, a good Canadian English  dictionary can help you choose between <strong>licence</strong> and<strong> license</strong>, <strong>principle </strong>and<strong> principal</strong>, and <strong>practice </strong>and <strong>practise</strong>.</p>
 <p>Here is a brief list of some commonly accepted Canadian English spellings:</p>
 <ul>
  <li><strong>cheque</strong> not <strong>check</strong></li>
  <li><strong>centre</strong> not <strong>center</strong></li>
  <li><strong>traveller</strong> not <strong>traveler</strong></li>
  <li><strong>organization </strong>not<strong> organisation </strong></li>
  <li><strong>honourable</strong> not <strong>honorable</strong></li>
  <li><strong>defence </strong>not<strong> defense</strong></li>
 </ul>
 <h2 class="page-header" id="commas">Commas</h2>
 <p>Consult <em>The Gregg Reference Manual</em> and 7.13 to 7.21 of <a href="http://btb.termiumplus.gc.ca/tpv2guides/guides/tcdnstyl/index-eng.html?lang=eng">The Canadian Style</a> for general guidance on using commas, and make sure to apply the following aspects of <abbr title="Canada Revenue Agency">CRA</abbr> comma style.</p>
 <h3 id="serial">Commas: Serial comma</h3>
 <p>Use the A, B, and C (A, B, or C) serial comma structure when you list items in a sentence. </p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>Several  federal departments are involved, including Fisheries and Oceans  Canada, Health Canada, and Public Works and Government Services Canada.</li>
   <li>Contact us to get help accessing My Account, NETFILE, Quick Access, or Represent a Client. </li>
  </ul>
 </div>
 <h3 id="offsetting">Commas: Offsetting commas</h3>
 <p>Use two commas to set off the title of a form or publication when it appears in the body of a sentence.<br />
 </p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>Fill out Form TD1, <em>Personal Tax Credit Return</em>, and send it to us. </li>
   <li>For more information, see Guide RC4027, <em>Doing Business in Canada - <abbr title="Goods and Services Tax">GST</abbr> /<abbr title="Harmonized Sales Tax">HST</abbr> Information for Non-Residents</em>, or contact the International Tax Services Office.</li>
  </ul>
 </div>
 <p>Use two commas to set off the year when it follows the month and day.<br />
 </p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>On May 29, 2004, there will be a general meeting for all <abbr title="Canada Revenue Agency">CRA</abbr> managers.</li>
   <li>The June 27, 1997, issue of <em>Time</em> had an excellent article on the new technologies developed throughout the twentieth century.</li>
  </ul>
 </div>
 <p>Omit the commas when only the month and year are given.<br />
 </p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>We will publish the guide in August 2006 or soon after.</li>
   <li>She published an article on botanical gardens in the July 1998 issue of <em>Canadian Living</em>.</li>
  </ul>
 </div>
 <h2 class="page-header" id="Contractions">Contractions</h2>
 <p>Contractions can give an informal tone to a document, and they are  often used in promotional material such as posters and advertisements.  You can use <strong>not</strong> contractions (don't, can't, won't, and isn't) and <strong>is</strong> contractions (we're, she's, it's). Do not use contractions for <strong>had</strong>, <strong>have</strong>, <strong>should</strong>, and <strong>would</strong> (you'd, he'd, we've).</p>
 <p>Do not use contractions in formal writing such as publications, correspondence, and reports. </p>
 <p>Be sure not to confuse <strong>its</strong> (the possessive form of <strong>it</strong>) with <strong>it's</strong> (the contraction of <strong>it is</strong>). </p>
 <h2 class="page-header" id="currency">Currency</h2>
 <p>Use the following symbols to differentiate between Canadian and U.S. currency in English-language text:</p>
 <p>CAN$1,000</p>
 <p><abbr title="United States">US</abbr>$1,000</p>
 <h2 class="page-header" id="dash">Dashes and hyphens</h2>
 <p>Use the long <strong>em dash</strong> (&mdash;) to emphasize a break in a  sentence or to present information that is secondary to the main idea  (for example, details about or comments on something in the main  sentence). Em dashes can replace commas, semicolons, colons, or  parentheses in a sentence. Do not include a space before or after an em  dash. In Microsoft Word, you can create an em dash with the command <strong>Alt 0151</strong>.</p>
 <ul>
  <li>On December 31, 2009, you had residential ties&mdash;as defined in the previous section&mdash;in more than one province or territory.</li>
  <li>You  must report your world income&mdash;income received from all sources inside  and outside Canada&mdash;but not all of that income may be taxed in Canada. </li>
  <li>The  director general thanked us for our hard work and congratulated us on  eliminating the backlog of files&mdash;a major accomplishment!</li>
 </ul>
 <p><strong>Note: </strong> In French texts, the spacing around em dashes differs: insert one space before and one space after an em dash.</p>
 <p>Use the shorter <strong>en dash</strong> (&ndash;) in titles of publications that contain two parts or that appear to have a title and  subtitle. Insert one space before and one space after the en dash. In  Microsoft Word, you can create an en dash with the command <strong>Alt 0150</strong>.</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>For information on how to fill out the return, see Guide T4012, <em>T2 Corporation &ndash; Income Tax Guide</em>. </li>
   <li>Please fill out and keep in your organization's books and records <a href="http://www.cra-arc.gc.ca/E/pbg/gf/gst29/README.html">Form GST29, Educational Services &ndash; Election and Revocation of the Election to Make Certain Supplies Taxable</a>.</li>
  </ul>
 </div>
 <p>To save print space, you can also use an en dash to separate a heading from text that follows it.</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>Remittance requirement &ndash; Under proposed changes, if you  exercise your stock options after 2010, your employer will be required  to withhold and remit an amount for your taxable stock option benefit. </li>
   <li>Section 1 &ndash; Identification </li>
  </ul>
 </div>
 <p>Use a <strong>hyphen</strong> (-), without spaces before or after it, in some <a href="#Hyphenating">compound terms</a> and in some words with prefixes (such as co-, pre-, re-, semi-, and non-). In Microsoft Word, you can create a non-breaking hyphen by pressing the <strong>Ctrl</strong>, <strong>Shift</strong>, and <strong>hyphen</strong> (-) keys at the same time.</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>co-operate</li>
   <li>pre-retirement</li>
   <li>re-establish</li>
   <li>semi-annual</li>
   <li>non-resident</li>
  </ul>
 </div>
 <p>If you are unsure whether a particular word with a prefix requires a hyphen, consult a Canadian dictionary. </p>
 <h2 class="page-header" id="date">Date and time</h2>
 <h3>Date</h3>
 <p>Use this <strong>alphanumeric form</strong> of dating: month-day-year.</p>
 <div class="well">
  <h4>Example</h4>
  <p>September 24, 2009</p>
 </div>
 <p>The number is cardinal (24) and not ordinal (24th).</p>
 <p>In the order month-day-year, the day and year are separated by a comma, and the year should be followed by a comma within a sentence. The spaces should be non-breaking. You can create a non-breaking space by pressing, at the same time, the <strong>Ctrl</strong> and <strong>Shift</strong> keys and the <strong>space bar</strong>. </p>
 <div class="well">
  <h4>Example</h4>
  <p>On April&nbsp;16,&nbsp;1985, certain additional provisions of the Charter took effect. </p>
  <p>Code: <code>April&amp;nbsp;16,&amp;nbsp;1985</code></p>
 </div>
 <p>The <strong>all-numeric form</strong> of a date may be appropriate for chronological files and for documents  that are presented in both official languages. The format below  conforms to the <a href="http://publiservice.tbs-sct.gc.ca/fip-pcim/man_pdfs-eng.asp">Federal Identity Program Manual</a> (1.2 Message: Identification of programs and services). The year, month, and day are separated by a non-breaking space or non-breaking hyphen.</p>
 <div class="well">
  <h4>Example</h4>
  <p>2009 09 24 <strong>or</strong> 2009-09-24 (September 24, 2009)</p>
 </div>
 <h3>Time</h3>
 <p>To indicate time, write a number based on a 12-hour clock, followed by the abbreviation <strong><abbr title="before midday">a.m.</abbr></strong> or <strong><abbr title="after midday">p.m.</abbr></strong> When stating an hour without minutes, omit the colon and zeroes after  the figure. However, if stating a range of time where one portion  includes minutes and the other does not, add the colon and zeroes to  state the hour.</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>The presentation will begin at 1 <abbr title="after midday">p.m.</abbr></li>
   <li>The course runs from 8:30 <abbr title="before midday">a.m.</abbr> to 4:00 <abbr title="after midday">p.m.</abbr></li>
  </ul>
 </div>
 <p>To indicate time within a particular time zone, place a comma after  the stated time and write the name of the zone out in full, with an  initial capital letter.</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>The regional directors' teleconference is scheduled for 3 <abbr title="after midday">p.m.</abbr>, Eastern time.</li>
   <li>The  Pacific Region is taking the lead on this file. The director will  deliver a progress report at our next meeting, which will be on  Tuesday, December 18, 2011, at 11:15 <abbr title="before midday">a.m.</abbr>, Pacific time.</li>
  </ul>
 </div>
 <p>To indicate duration, where possible, spell out <strong>hour</strong> and <strong>minutes</strong>. In tables or in circumstances where abbreviations are necessary, use <strong>h</strong> for hour and <strong>min</strong> for minutes.</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>You have 1 hour and 30 minutes to complete this section of the test.</li>
   <li>Time to complete: 1 h 30 min </li>
  </ul>
 </div>
 <h4>Time: Stating time in French </h4>
 <p>Different rules apply in French.</p>
 <p>Use a 24-hour clock. To indicate the hour, place an <strong>h</strong> after the number. When needed, write <strong>min</strong> to record minutes and s to record seconds. A non-breaking space should appear between the number and the <strong>h</strong>, <strong>min</strong>, and <strong>s</strong>. </p>
 <p>When not recording seconds, exclude both <strong>min</strong> and <strong>s</strong>.</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>La r&eacute;union est pr&eacute;vue pour 13 h 30.</li>
   <li>Il a couru le marathon en 4 h 23 min 30 s.</li>
  </ul>
 </div>
 <p>For numbers between 1 and 9, you can choose whether to include the zero</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>Le train est entr&eacute; en gare &agrave; 8 h 09. <strong>or </strong>Le train est entr&eacute; en gare &agrave; 8 h 9.</li>
   <li>L'avion a d&eacute;coll&eacute; &agrave; 18 h 05. <strong>or</strong> L'avion a d&eacute;coll&eacute; &agrave; 18 h 5.</li>
  </ul>
 </div>
 <p>If stating an hour without minutes, omit the zeroes:</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>8 h <strong>not </strong>8 h 00</li>
   <li>17 h <strong>not</strong> 17 h 00</li>
  </ul>
 </div>
 <p>Only use colons to state time in tables (for example, 14:05:32).</p>
 <h2 class="page-header" id="examples">Examples</h2>
 <p>Sometimes it is a good idea to use an example to show the reader how  a rule or guideline applies. When you prepare these examples, use names  that represent the diversity of ethnic groups in Canada.</p>
 <h2 class="page-header" id="faqs"><abbr title="Frequently asked questions">FAQ</abbr>s</h2>
 <h4>Questions</h4>
 <ul>
  <li>Personalize the questions&mdash;phrase them as though you are the person asking.
   <ul>
    <li>For example, write: &quot;How do I claim the rebate?&quot; <strong>not</strong>: &quot;How is the rebate claimed?&quot;</li>
   </ul>
  </li>
  <li>Make sure that each question is something people are genuinely likely to ask.</li>
  <li>Remember that users scan FAQs for key words. Use the terms your readers are likely to look for.</li>
  <li>Write each question to stand alone. Follow-up questions should appear separately.</li>
  <li>Ask each question directly, without unnecessary details.</li>
  <li>Avoid putting questions in quotation marks.</li>
 </ul>
 <h4>Answers</h4>
 <ul>
  <li>Personalize your answers&mdash;speak to the person who asked the question.
   <ul>
    <li>For example, if the question begins with &ldquo;I have tuition expenses,&rdquo; then the answer should begin with: &quot;You can&quot; ...<strong>not:</strong> &quot;The student must&quot; ...</li>
   </ul>
  </li>
  <li>Start the answer with <strong>yes </strong>or <strong>no </strong>if you can and then explain any details.</li>
  <li>Answer only the question asked, and keep the response as succinct as possible. Do not provide extra information.</li>
  <li>Avoid putting answers in quotation marks.</li>
 </ul>
 <h2 class="page-header" id="form">Forms and publications</h2>
 <p>When you refer to a form or publication for the first time, always give its descriptor, its letter-number identifier followed by a comma, and its title. Place an <a href="#offsetting">offsetting comma</a> or a period after the title, depending on whether the reference appears  in the body or at the end of the sentence. Do not include the  offsetting comma or the period in italicized or hyperlinked type.</p>
 <div class="well">
  <h4>Examples</h4>
  <ul>
   <li>Fill out Form TD1, <em>Personal Tax Credits Return</em>, and send it to us.</li>
   <li>See <a href="http://www.cra-arc.gc.ca/E/pub/tg/t4037/README.html?=slnk">Guide T4037, Capital Gains</a>.</li>
  </ul>
 </div>
 <p>How you format the descriptor, letter-number identifier, and title of a form or publication depends on whether your document will appear in print form (including <abbr title="Portable document format">PDF</abbr>)  or on the web. If your document will appear in both print and  electronic forms, you must verify that the document's references to  forms and publications are properly formatted for each medium.</p>
 <h3>Forms and publications: Print documents</h3>
 <p>For a first reference in a print document in <strong>Microsoft Word</strong> or <strong>web <abbr title="Portable document format">PDF</abbr></strong>, italicize the title of the form or publication. </p>
 <p>Examples of a first reference in a print or <abbr title="Portable document format">PDF</abbr> document:</p>
 <ul>
  <li>Fill out Form TD1, <em>Personal Tax Credits Return</em>, and send it to us. </li>
  <li>More information is available in Guide RC4027, <em>Doing Business in Canada &ndash; <abbr title="Goods and Services Tax">GST/HST</abbr> Information for Non-Residents</em>. </li>
  <li>For more information, see Pamphlet P151, <em>Canadian Residents Going Down South</em>. </li>
  <li>To learn more, get Information Circular IC07-1, <em>Taxpayer Relief Provisions</em>.</li>
 </ul>
 <p>For later references within a print or <abbr title="Portable document format">PDF</abbr> document, use only the descriptor and letter-number identifier and do not restate the title. For example:</p>
 <ul>
  <li>You can find Form TD1 under &ldquo;Forms and publications&rdquo; on our website.</li>
  <li>Guide RC4027 clarifies how the <abbr title="Goods and Services Tax">GST/HST</abbr> applies to goods imported by non-residents. </li>
 </ul>
 <h3>Forms and publications: Web documents</h3>
 <p>For a <strong>hyperlinked</strong> first reference in a document that will appear on the web, include the descriptor, the letter-number identifier, and the title in the link. Do not italicize the title:</p>
 <ul>
  <li>Fill out <a href="http://www.cra-arc.gc.ca/E/pbg/tf/td1/README.html">Form TD1, Personal Tax Credits Return</a>, and send it to us. </li>
  <li>See <a href="http://www.cra-arc.gc.ca/E/pub/tg/t4037/README.html">Guide T4037, Capital Gains</a>.</li>
  <li>Fill out <a href="http://www.cra-arc.gc.ca/E/pbg/tf/5000-s4-5/README.html">Schedule 5, Details of Dependant</a>, and attach it to your return. </li>
 </ul>
 <p>For later references to the same document or form, use only the descriptor and letter-number  identifier (for example, Form TD1 or Guide T4037) and do not restate  the title. Do not link the second reference unless it is more than one  scroll down the page from the first reference.</p>
 <p>For information on how to format references to <strong>websites</strong> or <strong>webpages</strong> that start with <strong>www.</strong>, see the guideline on <a href="#web">web addresses</a>.</p>
 <h3>Forms and publications: Lists of publications</h3>
 <p>When you list forms and publications, present them in the following  order (unless you feel it is important to list the most used product  first):</p>
 <ul>
  <li>guides </li>
  <li>pamphlets </li>
  <li>forms </li>
  <li>schedules </li>
  <li>all other publications </li>
 </ul>
 <h3>Referring to publications</h3>
 <p>Use <strong>get</strong> rather than <strong>obtain</strong> when advising a reader to find a form or publication&mdash;whether online, by telephone, or in person.</p>
 <ul>
  <li>To permit another person to represent you, get <a href="http://www.cra-arc.gc.ca/E/pbg/tf/t1013/README.html">Form T1013, Authorizing or Cancelling a Representative</a>. </li>
  <li>Get Form RC4288, <em>Request for Taxpayer Relief</em>, and send it and all supporting documents to your tax services office or tax centre.</li>
 </ul>
 <p>When referring readers to a publication or form, we recommend using <strong>see</strong> rather than <strong>read</strong> or <strong>consult</strong>. </p>
 <ul>
  <li>For details, see Form T2201, <em>Disability Tax Credit Certificate</em>. </li>
  <li>For more information, see <a href="http://www.cra-arc.gc.ca/E/pub/tg/rc4135/README.html">Guide RC4135, Home Buyers' Plan (HBP)</a>.</li>
  <li>To find out what to report on line 315, see page 40 of the <em>General Income Tax and Benefit Guide</em>.</li>
 </ul>
 <p>However, if you want to emphasize a message about reading, use the verb <strong>read</strong>.</p>
 <ul>
  <li>By being prepared, you will help us serve you better. Before contacting us, read the information included in the <em>General Income Tax and Benefit Guide</em>. </li>
  <li>If  you tell us about an amount you failed to report, we may waive these  penalties. Read &ldquo;What is a voluntary disclosure?&rdquo; on page 11. </li>
  <li>For more details, read the section in Chapter 2, &ldquo;Tax on <abbr title="registered retirement savings plan">RRSP</abbr> excess contributions,&rdquo; in <a href="http://www.cra-arc.gc.ca/E/pub/tg/t4040/README.html">Guide T4040, <abbr title="registered retirement savings plan">RRSP</abbr>s and Other Registered Plans for Retirement</a>. </li>
 </ul>
 <p>For more information, go to the terminology decision <a href="http://infozone/english/r1713497/writerstoolbox/terminology_archives-e.html#p22">See, read, consult, get, and obtain</a>.</p>
 <h2 class="page-header" id="geographic">Geographic names</h2>
 <p>Use the English name of a province or territory in English texts,  but do not translate the names of cities. For example, the cities  Montr&eacute;al, Qu&eacute;bec, and Trois-Rivi&egrave;res have only one spelling. In other  words, use:</p>
 <ul>
  <li><strong>Qu&eacute;bec</strong> for the city (not Quebec City); and</li>
  <li><strong>Quebec</strong> for the province.</li>
 </ul>
 <p>For more information, see Chapter 15 of <a href="http://btb.termiumplus.gc.ca/tpv2guides/guides/tcdnstyl/index-eng.html?lang=eng">The Canadian Style</a>.</p>
 <p>Also see <a href="#italics">Italics</a>.</p>
 <h2 class="page-header" id="headings">Headings and subheadings</h2>
 <div class="row">
  <div class="col-md-4 pull-right">
   <div class="well">
    <h2 class="h3 mrgn-tp-0">Related </h2>
    <h3 class="h4"><span class="fa fa-font text-muted"></span> Writing guide</h3>
    <ul class="list-unstyled mrgn-lft-lg lst-spcd">
     <li><a href="../writing/principals-en.html#heading">Heading principals- Writing guide</a></li>
    </ul> 
	<h3 class="h4"><span class="fa fa-picture-o text-muted"></span> Design guide</h3>
    <ul class="list-unstyled mrgn-lft-lg lst-spcd">
     <li><a href="../design/headings-en.html">Headings<span class="wb-inv"> - Design guide</span></a></li>
    </ul>
    <h3 class="h4"><span class="fa fa-wheelchair text-muted"></span> Accessibility guide</h3>
    <ul class="list-unstyled mrgn-lft-lg lst-spcd">
     <li><a href="../accessibility/headings-en.html">Headings<span class="wb-inv"> - Accessibility guide</span></a></li>
    </ul>
   </div>
  </div>
  <div class="mrgn-lft-md mrgn-rght-md">
   <p>Good headings and subheadings help guide readers through your  document. At a glance, they can see what type of information you are  presenting and where to find the information they need. Since some  users skim through a document by navigating its headings, it is  important to use them appropriately to convey document structure. </p>
   <p>Make sure your headings and subheadings are short, concise, and give a clear idea of the content of the text that follows. </p>
   <p>Headings in the form of questions are effective in drawing readers'  attention. Question headings can be useful in documents written to  promote programs or give information.</p>
   <ul>
    <li>What is the Canada child tax benefit?</li>
    <li>Do I qualify?</li>
   </ul>
   <p>However, for documents outlining processes and procedures, statement headings may be more appropriate.</p>
   <ul>
    <li>Building trust to promote compliance</li>
    <li>Resolving taxpayer disputes and service complaints </li>
   </ul>
   <p>Order your headings and subheadings properly, and do not skip  heading levels (for example, by going from a level 1 heading directly  to a level 3 heading). </p>
  </div>
 </div>
 <h2 class="page-header" id="hyphenating">Hyphenating compound terms</h2>
 <p>When using <strong>compound adjectives</strong>, hyphenate:</p>
 <ul>
  <li>an adjective and a noun that form a unit to modify another noun:<br />
   <ul>
    <li>a part-time job; a long-term investment </li>
   </ul>
  </li>
  <li>an adjective and participle compound used before <strong>or</strong> after the noun:<br />
   <ul>
    <li>a smooth-talking salesman; the salesman was smooth-talking</li>
   </ul>
  </li>
  <li>a compound made up of an adjective and a noun with an <strong>ed</strong> ending:
   <ul>
    <li>able-bodied; short-handed</li>
   </ul>
  </li>
  <li>a compound adjective made up of a preposition and a noun:<br />
   <ul>
    <li>out-of-province benefits; in-service training</li>
   </ul>
  </li>
  <li>a  phrase that consists of more than two words, at least one of which is  an adverb or a preposition, where the words are used as adjectives:<br />
   <ul>
    <li>the cost-of-living index; on-the-job training</li>
   </ul>
  </li>
  <li>a number, a noun, and an adjective that modify a noun:
   <ul>
    <li>a 10-storey-high building, a 31-year-old Canadian resident </li>
   </ul>
  </li>
 </ul>
 <p><strong>Do not</strong> hyphenate:</p>
 <ul>
  <li>verb-adverb combinations used as a verb phrase:
   <ul>
    <li>phased in; make up; follow up</li>
   </ul>
  </li>
  <li>proper nouns used as adjectives:
   <ul>
    <li>a Privy Council decision</li>
   </ul>
  </li>
  <li>proper adjectives combined with a simple modifier:
   <ul>
    <li>a New York chartered bank</li>
   </ul>
  </li>
  <li>French or foreign words used as adjectives:
   <ul>
    <li>a priori reasoning</li>
   </ul>
  </li>
  <li>words in quotation marks:
   <ul>
    <li>a &quot;zero tolerance&quot; approach</li>
   </ul>
  </li>
  <li>adverbs that end in <strong>ly</strong>:
   <ul>
    <li>richly embroidered; fully employed</li>
   </ul>
  </li>
 </ul>
 <h3>Hyphenating: Carry forward/Carry back</h3>
 When using either of these as a verb (as in <strong>to carry forward</strong> or <strong>to carry back</strong>) or as a noun (as in <strong>a carryback</strong> or a <strong>carryforward</strong>), <strong>do not</strong> use a hyphen. However, when using them as compound adjectives, as in <strong>a carry-forward amount</strong>, use a hyphen.
 <p><strong>Common-law/Common law</strong><br />
  According to the <em>Canadian Oxford Dictionary</em>, when <strong>common-law</strong> refers to marriage, you should always write it with a hyphen.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Examples</h4>
  <ul>
   <li>A relation also includes a common-law partner.</li>
   <li>They are living common-law.</li>
  </ul>
 </div>
 <p>The unhyphenated term <strong>common law</strong> refers to law derived from custom and judicial precedent rather than statutes. So you can be &ldquo;living common-law in a common law jurisdiction.&rdquo;</p>
 <h3 id="toll">Hyphenating: Toll free/Toll-free</h3>
 <p>Do not hyphenate this phrase when it is used as an adverb, but do hyphenate it when it is used as an adjective.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Examples</h4>
  <ul>
   <li>You can call us toll free 24 hours a day.</li>
   <li>Call our toll-free hotline for more information. </li>
  </ul>
 </div>
 <h3 id="prefixes">Hyphenating: With prefixes</h3>
 <p>Use a hyphen if adding a prefix to a word might result in mispronunciation (for example, <strong>re-enter </strong>instead of <strong>reenter</strong>) or a change in meaning of the word (for example, <strong>re-cover</strong> instead of <strong>recover</strong>, <strong>re-form</strong> instead of <strong>reform</strong>, or <strong>pre-serve</strong> instead of <strong>preserve</strong>).</p>
 <p><strong>Special rules</strong>: Use the non-hyphenated <strong>online</strong> instead of <strong>on-line </strong>and <strong>email</strong> instead of <strong>e-mail</strong>.</p>
 <h2 class="page-header" id="italics">Italics</h2>
 <p>Italics are difficult to read. <strong>Do not</strong> use italics to highlight or emphasize terms. Use <a href="#Bold">bold</a> instead.</p>
 <h3>Italics: Forms and publications</h3>
 <p>Use italics for the proper titles of <a href="#form">forms and publications</a>:</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Examples</h4>
  <ul>
   <li>Guide RC4070, <em>Guide for Canadian Small Businesses</em></li>
   <li>Pamphlet T4131, <em>Canadian Residents Abroad</em></li>
   <li><a href="http://www.cra-arc.gc.ca/E/pbg/tf/t2201/">Form T2201, <em>Disability Tax Credit Certificate</em></a></li>
   <li><em>General Income Tax and Benefit Guide</em></li>
   <li>Form T1248 Schedule D, <em>Information About Your Residency Status</em></li>
  </ul>
 </div>
 <h3>Italics: Acts and regulations</h3>
 <p>The first time you refer to an act or regulations, put the title in italics.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Examples</h4>
  <ul>
   <li>paragraph 14(3)(b) of the <em>Income Tax Act</em></li>
   <li>the <em>Income Tax Regulations</em></li>
  </ul>
 </div>
 <p>If you refer to the same legislation later in the same document and do not refer to other legislation, use the word <strong>Act</strong> or <strong>Regulations</strong> as a short form. The word should begin with a capital letter but should <strong>not</strong> be in italics.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <p>According to the <em>Income Tax Act</em>, the CRA may deem  a charitable organization to be exempt from taxes. However, the Act  also permits the CRA to revoke any such exemption.</p>
 </div>
 <p>For more information on how to refer to acts and regulations, see the guideline on <a href="#legislation">legislation</a>.</p>
 <h3>Italics: Foreign words</h3>
 <p>When possible, avoid using words and phrases from other languages in  your documents. If you must include a term from another language, put  that term in italics. </p>
 <div class="well">
  <h4 class="mrgn-tp-0">Examples</h4>
  <ul>
   <li>Bryan A. Garner states that the adjective <em>inter vivos</em> can be replaced by <strong>living</strong>, as in the term <strong>living trust</strong>. </li>
   <li>You have translated the phrase <strong>to take advantage of</strong> as <em>prendre avantage de</em>. Most sources suggest that this is an anglicism.</li>
  </ul>
 </div>
 <p>However, do not put the names of businesses or organizations in italics, even if those names are in another language.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Examples</h4>
  <ul>
   <li>Aluminerie Alouette</li>
   <li>Revenu Qu&eacute;bec</li>
  </ul>
 </div>
 <h2 class="page-header" id="legislation">Legislation</h2>
 <p>When you refer to an act for the first time, write the name in full and in italics.  Be sure not to italicize the article <strong>the</strong> before the title of an act.</p>
 <div class="well">
  <h3 class="mrgn-tp-0 h4">Examples</h3>
  <ul>
   <li><em>Income Tax Act</em></li>
   <li><em>Employment Insurance Act</em></li>
   <li><em>Income Tax Regulations</em></li>
   <li>The <em>Income Tax Act</em> and the <em>Excise Tax Act</em> contain taxpayer relief provisions.</li>
  </ul>
 </div>
 <p>Writing the name of the act or acts in full and in italics  throughout your document ensures that your reader knows what  legislation you are referring to.</p>
 <h3>Short forms</h3>
 <p>In the same section or chapter of a print document or in the same  webpage (maximum two or three screens), you can use a short form after  you have referred to an act in full and in italics. However, if you  doubt that your readers will remember what act you are talking about,  write the name of the act in full and in italics. </p>
 <p><strong>Use</strong> the word <strong>Act</strong> as a short form if you refer to one act, such as the <em>Income Tax Act</em> or the <em>Employment Insurance Act</em>. Capitalize the letter <strong>A</strong> but do not put the word <strong>Act </strong>in italics. The same format applies to the short form for the <em>Income Tax Regulations</em>. </p>
 <div class="well">
  <h4 class="mrgn-tp-0">Examples</h4>
  <ul>
   <li>We use <strong>taxpayer </strong>in the context of administering and enforcing the <em>Income Tax Act</em>. The term is defined in subsection 248(1) of the Act. </li>
   <li>The <abbr title="Canada Revenue Agency">CRA</abbr> does not publish the <em>Income Tax Regulations</em>. The Regulations are available, however, on the Department of Justice Canada website.</li>
  </ul>
 </div>
 <div class="alert alert-warning">
  <h4>Note</h4>
  <p> In French, we write in italics the equivalent short form, <em>Loi</em> or <em>R&egrave;glement</em>.</p>
 </div>
 <p><strong>Do not</strong> introduce the short form <strong>(the Act)</strong>, written between parentheses and preceded by the article <strong>the</strong>. </p>
 <div class="well">
  <h4 class="mrgn-tp-0">Incorrect example </h4>
  <p>We have identified specific areas of non-compliance with the <em>Income Tax Act </em>(the Act). In accordance with section XX of the Act ...</p>
  <div  class="mrgn-bttm-lg"></div>
  <h4>Correct example</h4>
  <p>We have identified specific areas of non-compliance with the <em>Income Tax Act</em>. In accordance with section XX of the Act &hellip;</p>
 </div>
 <p><strong>Use</strong> abbreviations as a short form, such as ITA for <em>Income Tax Act</em> and ETA for <em>Excise Tax Act</em>,  if you refer to more than one act in the same document. Remember,  however, that your readers may be confused if you use several  abbreviations. </p>
 <p><strong>Do not</strong> italicize or put periods in the abbreviations, such <em>as</em> <em>ITA </em>or I.T.A. for the <em>Income Tax Act</em> and <em>EIA</em> or E.I.A. for <em>Employment Insurance Act</em>. You will find the correct abbreviations in the <a href="http://infozone/english/r1713497/writerstoolbox/cra_glossary/menu-e.asp">CRA glossary</a> and in <a href="http://btb.termiumplus.gc.ca/tpv2alpha/alpha-eng.html?lang=eng">TERMIUM Plus&reg;</a>.</p>
 <h3>Legislation: Parts of acts and regulations</h3>
 <p>There are different symbols and words to identify the parts of acts and regulations.</p>
 <p>12(1)(a)(iii)(B)(VI)1</p>
 <ul>
  <li>12 section
   <ul>
    <li>(1) subsection
     <ul>
      <li>(a) paragraph [the symbol is a lower case letter of the alphabet]
       <ul>
        <li>(iii) subparagraph [small Roman numeral]
         <ul>
          <li>(B) clause [upper case letter of the alphabet]
           <ul>
            <li>(VI) subclause [large Roman numeral]
             <ul>
              <li>1 sub-subclause</li>
             </ul>
            </li>
           </ul>
          </li>
         </ul>
        </li>
       </ul>
      </li>
     </ul>
    </li>
   </ul>
  </li>
 </ul>
 <p>Use the proper word to identify the part you refer to.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example </h4>
  <p>The term taxpayer is defined in subsection 248(1) of the <em>Income Tax Act</em>.</p>
 </div>
 <p>Write in <strong>regular character</strong> and <strong>between parentheses</strong> the <strong>lower case letter </strong>of the alphabet that identifies a paragraph of an act or regulations. </p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example </h4>
  <p>Under paragraph 47(1)(b) of the <em>Income Tax Act</em>, the taxpayer &hellip;</p>
 </div>
 <p>We adopted the regular character for consistency and efficiency. In  the legislation, the lower case letter identifying a paragraph appears  sometimes in italics and sometimes in regular character. </p>
 <div class="alert alert-warning">
  <h4>Note</h4>
  <p> In French, write in italics and with a closing parenthesis the lower case letter of the alphabet that identifies a paragraph (<em>alin&eacute;a</em>) of an act or regulations. French writers, editors, and translators use this style consistently.</p>
 </div>
 <div class="well">
  <h4 class="mrgn-tp-0">Example </h4>
  <p>Selon l'alin&eacute;a 47(1)<em>b</em>) de la <em>Loi de l'imp&ocirc;t sur le revenu</em>, le contribuable...</p>
 </div>
 <h3>Legislation: Capitalization</h3>
 <p><strong>Capitalize</strong> the word <strong>act</strong> when you use it to replace the full name of the act you just wrote in full.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <p>We use taxpayer in the context of administering and  enforcing the Income Tax Act. The term is defined in subsection 248(1)  of the Act.</p>
 </div>
 <p><strong>Do not capitalize</strong> the word <strong>act</strong> when it is used in a general sense or when it is used in plural.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Examples</h4>
  <ul>
   <li>The Income Tax Act is an act of Parliament that... </li>
   <li>The Access to Information and Privacy Directorate is responsible for fulfilling the <abbr title="Canada Revenue Agency">CRA</abbr>'s responsibilities under the Access to Information Act and the Privacy Act. Taxpayers can make a request under these acts.</li>
  </ul>
 </div>
 <p><strong>Do not</strong> capitalize words such as section, subsection, and paragraph when they are used to identify the parts of acts or regulations.</p>
 <h2 class="page-header" id="line">Line identifiers</h2>
 <p>Use Arabic numerals (1, 2, 3) to identify lines on a form. If you  have to identify lines in subcalculations, use the following order:</p>
 <ul>
  <li>Arabic numerals</li>
  <li>capital letters</li>
  <li>lower-case Roman numerals (place one bracket to the right of each numeral)</li>
 </ul>
 <div class="well">
  <h4 class="mrgn-tp-0">Examples</h4>
  <p>_______ 1<br />
   _______ 2</p>
  <p class="mrgn-lft-lg"> _______ A<br />
   _______ B </p>
  <p class="mrgn-lft-xl"> _______ i)<br />
   _______ ii) </p>
 </div>
 <p>You can use bold to highlight a line identifier when it appears  beside a line in a calculation, but do not use bold when it appears  within text. Never use quotation marks or parentheses to highlight  identifiers.</p>
 <h2 class="page-header" id="lists">Lists </h2>
 <div class="row">
  <div class="pull-right col-md-4">
   <div class="well">
    <h2 class="h3 mrgn-tp-0">Related </h2>
    <h3 class="h4"><span class="fa fa-font text-muted"></span> Writing guide</h3>
    <ul class="list-unstyled mrgn-lft-lg lst-spcd">
     <li><a href="../writing/principals-en.html#lists">List principals<span class="wb-inv"> - Writing guide</span></a></li>
    </ul>
    <h3 class="h4"><span class="fa fa-picture-o text-muted"></span> Design guide</h3>
    <ul class="list-unstyled mrgn-lft-lg lst-spcd">
     <li><a href="../design/lists-en.html">Lists<span class="wb-inv"> - Design guide</span></a></li>
     <li><a href="../design/listgroup-en.html">List group<span class="wb-inv"> - Design guide</span></a></li>
     <li><a href="../design/pills-en.html">Pills<span class="wb-inv"> - Design guide</span></a></li>
    </ul>
    <h3 class="h4"><span class="fa fa-wheelchair text-muted"></span> Accessibility guide</h3>
    <ul class="list-unstyled mrgn-lft-lg lst-spcd">
     <li><a href="../accessibility/tables-en.html">Tables<span class="wb-inv"> - Accessibility guide</span></a></li>
    </ul>
   </div>
  </div>
  <div class="mrgn-lft-md mrgn-rght-md">
   <p>If you have a long sentence that contains a number of elements, you  can make the information easier for your reader to understand by  presenting it in a vertical list. In general, use bullets for the items  in lists. Use numbers only when you are providing step-by-step  instructions or when you want to rank or show the priority of items. </p>
   <p>To create an effective list, do the following:</p>
   <ul>
    <li>Begin with a lead-in that introduces or applies to all the list items.</li>
    <li>Include in the lead-in any word or phrase that is common to all the items.</li>
    <li>Put only one idea in each item.</li>
    <li>Use hollow bullets for items in a nested list (a list within a list) to distinguish them from the items in the primary list.</li>
    <li>Punctuate appropriately.</li>
   </ul>
   <p>Avoid creating a <strong>sentence sandwich</strong> where part of your sentence comes before the list and another part comes after.</p>
   <p>Although vertical lists can be useful, do not overuse them. If you  only have one or two points in a sentence, you generally should not  create a vertical list.</p>
   <p>Introduce a vertical list with a colon. While  this colon will precede every vertical list, there are several ways to <strong>punctuate</strong> the items. You can:</p>
   <ul>
    <li>use <strong>semicolons</strong> after each item (and a  period after the final item) when together they complete a sentence  begun by the lead-in and the last two are linked by <strong>and</strong> or <strong>or</strong> to emphasize the relationship between the items; </li>
    <li>use <strong>periods</strong> when each item is a complete sentence and you want it to stand alone; or </li>
    <li>present <strong>without punctuation</strong> a simple list of stand-alone items.</li>
   </ul>
   <p>How you <strong>capitalize</strong> items depends on how you  punctuate them. Capitalize the first letter of the first word of an  item when the item forms a complete sentence and is punctuated with a  period. Do not capitalize the lead words in lists where the items are  not punctuated or are punctuated with semicolons.</p>
   <h3>Lists: Parallel structure </h3>
   <p>All items in a list must be presented in parallel structure.  Parallel structure means maintaining the same grammatical pattern for  each item, such as beginning each with the same part of speech and  using the same verb tense, sentence or phrase structure, voice, and  perspective. For example, if the first item in a list uses the  imperative (or command) mood, all of the items must use the imperative  mood. Or, if your first item begins with a noun, continue listing items  beginning with nouns rather than verbs. Similarly, do not include a mix  of negatively and positively phrased items.</p>
   <div class="well">
    <div class="row">
     <div class="col-md-6">
      <h4>Example of non-parallel structure <span class="glyphicon glyphicon-remove-circle"></span></h4>
      <p>To draft a high quality source document:</p>
      <ul>
       <li>organize your ideas;</li>
       <li>only use short sentences and paragraphs;</li>
       <li>do not use the passive voice; and</li>
       <li>use the right words; </li>
      </ul>
     </div>
     <div class="col-md-6">
      <h4>Example of parallel structure <span class="glyphicon glyphicon-ok-circle"></span></h4>
      <p>To draft a high quality source document:</p>
      <ul>
       <li>organize your ideas;</li>
       <li>write short sentences and paragraphs;</li>
       <li>use the active voice; and</li>
       <li>use the right words; </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
 </div>
 <h2 class="page-header" id="links">Links</h2>
 <div class="row">
  <div class="pull-right col-md-4">
   <div class="well">
    <h2 class="h3 mrgn-tp-0">Related </h2>
    <h3 class="h4"><span class="fa fa-font text-muted"></span> Writing guide</h3>
    <ul class="list-unstyled mrgn-lft-lg lst-spcd">
     <li><a href="principals-en.html#links">Link principals<span class="wb-inv"> - Writing guide</span></a></li>
    </ul>
    <h3 class="h4"><span class="fa fa-picture-o text-muted"></span> Design guide</h3>
    <ul class="list-unstyled mrgn-lft-lg lst-spcd">
     <li><a href="../design/links-en.html">Links<span class="wb-inv"> - Design guide</span></a></li>
    </ul>
    <h3 class="h4"><span class="fa fa-wheelchair text-muted"></span> Accessibility guide</h3>
    <ul class="list-unstyled mrgn-lft-lg lst-spcd">
     <li><a href="../accessibility/links-en.html">Links<span class="wb-inv"> - Accessibility guide</span></a></li>
    </ul>
   </div>
  </div>
  <div class="mrgn-lft-md mrgn-rght-md">
   <p>Use hyperlinks to provide access to more detailed information. You can hyperlink:</p>
   <ul>
    <li>Web addresses for websites or webpages</li>
    <li>sections of websites or webpages </li>
    <li>documents</li>
    <li>descriptive words and phrases</li>
   </ul>
   <p>Do not place hyperlinks in quotation marks or bold, and  ensure that spaces and punctuation before and after a hyperlink are not included in the hyperlink. </p>
   <p>There are two link types:</p>
   <ul>
    <li><strong>general</strong> links to a Web page &mdash; attempt to match the link text to the <strong>&lt;h1&gt;</strong> on the landing page. </li>
    <li><strong>specific</strong> links to a point on a Web page (anchor point) &mdash; attempt to match the link text to the natural heading (for example an<strong> &lt;h2&gt;</strong>)   on the landing page.</li>
   </ul>
   <p>To avoid confusing the user, <strong>only make minor link text adjustments when</strong>:</p>
   <ul>
    <li> <strong>a link forms part of a sentence</strong>, and maintaining the  &lt;h1&gt; text of   the landing page (or anchor point) creates an awkward or grammatically   incorrect sentence. You can possibly retain the matching text if you put   the link at the end of that information chunk and   then write:
     <ul>
      <li>Refer to <a href="#"> Content formatting <small>Writing guide - WET style guide</small></a>, or </li>
      <li>For further information, refer to: <a href="#"> Content formatting <small>Writing guide - WET style guide</small></a></li>
     </ul>
    </li>
    <li> <strong>the &lt;h1&gt; on the landing page includes text that loses context</strong> when used on another page for example, an InfoZone link titled <a href="http://www.manitobacourts.mb.ca/"> Welcome to Manitoba Courts</a>. It is clearer if the link text is shortened to <a href="http://www.manitobacourts.mb.ca/"> Manitoba Courts</a>, rather than fully matching the &lt;h1&gt; text of the landing page.</li>
    <li> <strong>multiple links on the same page share the same link text, but have different targets</strong>. Distinguish the links by adding more specific link text to them.</li>
   </ul>
   <p>For information on how to format links to  forms or publications, see the guideline on <a href="#form">Forms and publications</a>.</p>
   <h3>Linking descriptive words and phrases</h3>
   <p>You can also introduce a link in screen text in a general way, using descriptive words or phrases. However, <strong>do not include descriptive hyperlinks in documents that will be printed</strong> (for example, letters, forms, and <abbr title="Portable document format">PDF</abbr> documents); rather, provide web addresses in this instance. For more  information on how to format web addresses for print documents, see the  guideline on <a href="#web">web addresses</a>.</p>
   <p>For text that will appear on the web, ensure that you include in a  descriptive hyperlink only the key term or phrase that identifies the  topic.</p>
   <ul>
    <li>You must meet certain criteria to be eligible for the <a href="http://www.cra-arc.gc.ca/tx/ndvdls/tpcs/ncm-tx/rtrn/cmpltng/ddctns/lns300-350/316/lgbl-eng.html">disability amount</a>. </li>
    <li>Different rules may apply, depending on whether you <a href="http://www.cra-arc.gc.ca/tx/ndvdls/tpcs/rrsp-reer/cntrbtng/menu-eng.html">contribute to an <abbr title="registered retirement savings plan">RRSP</abbr></a>.</li>
   </ul>
  </div>
 </div>
 <h2 class="page-header" id="names">Names</h2>
 <p>Use <strong>last name</strong>, rather than <strong>surname</strong> or <strong>family name</strong>. Although <strong>last name</strong> could potentially lead to confusion for some cultural groups, it is the  plainest way to draw this distinction, and it corresponds with <strong>first name</strong>.</p>
 <p>When asking for personal information, do not ask for a <strong>full </strong>name or <strong>full </strong>address. Simply ask for the person's name and address.</p>
 <h2 class="page-header" id="notes">Notes</h2>
 <p>Use notes sparingly to emphasize important information or  exceptions. Make sure you really want to separate the information you  are putting in the note from the rest of your text. If you use too many  notes, or notes that contain too much information, they will lose their  effectiveness.</p>
 <h2 class="page-header" id="numbers">Numbers</h2>
 <p>Spell out numbers for amounts from one through nine. For 10 and  above, use the numeric figure. If a sentence has numbers both higher  and lower than nine, make them all figures. </p>
 <p>Use figures if you are expressing numbers in percentages (for  example, 5%) or in millions, billions, or trillions (for example, 7  million). </p>
 <p>Spell out a number that begins a sentence (or reword the sentence if you want to use a figure).</p>
 <div class="well">
  <h3 class="mrgn-tp-0 h4">Examples</h3>
  <ul>
   <li>Please respond to this report within three days.</li>
   <li>Eleven people are involved in this case.</li>
   <li>There were 2 cases of tax avoidance reported in 15 days.</li>
   <li>Three representatives and 12 accountants responded to our request.</li>
  </ul>
 </div>
 <p>Leave no space between a figure and a dollar sign ($) or a  percentage symbol (%). The dollar sign and any currency notation  precede the figure. The percentage symbol follows the figure.</p>
 <div class="well">
  <h3 class="mrgn-tp-0 h4">Examples</h3>
  <ul>
   <li>We raised $1,000 in our charity bake sale. </li>
   <li>Based on today's exchange rate, the amount owing is CAN$732.67.</li>
   <li>Last year, we met our service target 95% of the time.</li>
  </ul>
 </div>
 <h3>Large numbers</h3>
 <p>Wherever possible write large numbers using a combination of figures  and words (for example, 14 trillion, 175 million). When using this  combination, use a non-breaking space between the figure and the word. You can create a non-breaking space by pressing, at the same time, the <strong>Ctrl</strong> and <strong>Shift</strong> keys and the <strong>space bar</strong>. </p>
 <p>If you must write large numbers as figures, use commas rather than spaces to separate each group of three digits.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Examples</h4>
  <ul>
   <li>14,000,000,000,000</li>
   <li>175,000,000</li>
  </ul>
 </div>
 <h3>Numbers: Decimals</h3>
 <p>Use a period to present a number with a decimal.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Examples</h4>
  <ul>
   <li>The supplies budget shows a deficit of $163.32.</li>
   <li>According to the survey, 85.5% of respondents agreed with our decision.</li>
  </ul>
 </div>
 <h3>Numbers: Fractions</h3>
 <p>For simple fractions in text, write out the fraction in words (for example, three-quarters).  For a sentence that contains compound fractions, such as 3 3/4, or a  sentence that mixes compound and simple fractions, use only figures.</p>
 <p>In general, spell out ordinal numbers that can be expressed in one or two words.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Examples</h4>
  <ul>
   <li>He placed second in the job competition.</li>
   <li>Help us celebrate our fiftieth year in operation. </li>
   <li>We cannot be a twenty-first-century organization with twentieth-century technology.</li>
  </ul>
 </div>
 <p>Use numerical figures for ordinal numbers that would require more than two words if spelled out and for address information. Do not, however, use superscript format. </p>
 <div class="well">
  <h4 class="mrgn-tp-0">Examples</h4>
  <ul>
   <li>We will meet in the boardroom on the 12th floor at 2 <abbr title="after midday">p.m.</abbr> </li>
   <li>Yours was the 225th application we received. </li>
  </ul>
 </div>
 <p>For information on how to use numbers to express time, see <a href="#date">Date and time</a>.</p>
 <h3>Numbers: In French</h3>
 <p>Different rules apply when writing numbers in French. For example, in French texts you should:</p>
 <ul>
  <li>use a non-breaking space to separate each group of three digits in a large number; </li>
  <li>use a comma rather than a period to indicate a decimal;</li>
  <li>include a non-breaking space between a number and a percentage symbol (%); </li>
  <li>include a non-breaking space between a number and a dollar sign ($); </li>
  <li>place the dollar sign and any currency notation after the figure; and</li>
  <li>present ordinal numbers using superscript format.</li>
 </ul>
 <div class="well">
  <h4 class="mrgn-tp-0">Examples</h4>
  <ul>
   <li>158 000 d&eacute;clarants &eacute;lectroniques</li>
   <li>50 % du gain en capital</li>
   <li>4,5 millions de dollars</li>
   <li>17,29 %</li>
   <li>163,32 $</li>
   <li>3 225 $US</li>
   <li>175e rang</li>
  </ul>
 </div>
 <h2 class="page-header" id="official">Official languages</h2>
 <p>Make sure you produce documents for the <abbr title="Canada Revenue Agency">CRA</abbr> in accordance with the <a href="http://infozone/english/r2732472/ec%2Dce/ol%2Dlo/legpol%2De.asp">policies and directives on official languages</a> and the <em>Official Languages Act</em>. </p>
 <h2 class="page-header" id="periodforms" >Periods on forms </h2>
 <p>Follow these guidelines if you draft lines on forms, including returns and schedules.</p>
 <p><strong>Use a period</strong> when it is a single sentence. In general, a sentence is defined as a subject + verb + object, a  subject + verb, or, as on the forms, an imperative verb (add, enter,  use, multiply) followed by an object.</p>
 <div class="well">
  <h3 class="mrgn-tp-0 h4">Examples</h3>
  <ul>
   <li>Add lines 400 to 440.</li>
   <li>Enter the amount from line 1 or line 3, whichever is less. </li>
   <li>Multiply line 18 by line 19.</li>
   <li>Add the amounts on line 5 of column 1 and column 2, if applicable.</li>
  </ul>
 </div>
 <p><strong>Do not</strong> use a period when it is a phrase (incomplete sentence). </p>
 <div class="well">
  <h3 class="mrgn-tp-0 h4">Examples</h3>
  <ul>
   <li>Ontario political contributions made in 2008</li>
   <li>Unused risk capital investment tax credits from previous years</li>
   <li>Total of amounts your dependant can claim on lines 5804 to 5840 of his or her Form NT428</li>
  </ul>
 </div>
 <p>When a phrase is followed by a sentence, put the sentence between  parentheses and start with a lower case letter. Don't add a period. </p>
 <div class="well">
  <h3 class="mrgn-tp-0 h4">Examples</h3>
  <ul>
   <li>Universal child care benefit (see the guide)</li>
   <li>Interest and other investment income (attach Schedule 4)</li>
   <li>Rate (see the note above)</li>
   <li>Line 29 minus line 30 (if negative, enter &ldquo;0&rdquo;)</li>
  </ul>
 </div>
 <p>When a sentence is followed by a phrase, put the phrase between parentheses and start with a lower case letter. Add a period. </p>
 <div class="well">
  <h3 class="mrgn-tp-0 h4">Example</h3>
  <p>Enter your taxable income (line 260 of your return).</p>
 </div>
 <h2 class="page-header" id="pronouns">Pronouns and possessive adjectives</h2>
 <p><strong>Personalize your text</strong></p>
 <p>Address your reader directly, using the pronoun <strong>you</strong>. When you refer to the <abbr title="Canada Revenue Agency">CRA</abbr>, use the pronouns <strong>we</strong> or <strong>us</strong>, and when you refer to yourself, use <strong>I</strong> or <strong>me</strong>.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Incorrect example</h4>
  <p>Please call <strong>the undersigned</strong> if you have any questions.</p>
  <div class="mrgn-bttm-lg"></div>
  <h4>Correct example</h4>
  <p>Please call <strong>me</strong> if you have any questions.</p>
 </div>
 <p><strong>Avoid gendered language</strong></p>
 <p><strong>Do not</strong> use the masculine pronoun <strong>he</strong> to mean <strong>he or she</strong>. Wherever possible, <strong>rewrite</strong> sentences that use gendered pronouns (<strong>he</strong> or <strong>she</strong>) or gendered possessive adjectives (<strong>his</strong> or <strong>her</strong>) by:</p>
 <ul>
  <li>personalizing the subject</li>
  <li>pluralizing the subject</li>
  <li>eliminating the pronoun or possessive adjective</li>
 </ul>
 <div class="well">
  <h4 class="mrgn-tp-0">Incorrect example</h4>
  <p><strong>An individual </strong>is responsible for filing <strong>his or her</strong> tax return for each year in which <strong>he or she</strong> owes tax.</p>
  <div class="mrgn-bttm-lg"></div>
  <h4>Correct example</h4>
  <ul>
   <li><strong>You</strong> are responsible for filing <strong>your</strong> tax return for each year in which <strong>you </strong>owe tax. (personalizing the subject)</li>
   <li><strong>Individuals</strong> are responsible for filing <strong>their</strong> tax returns for each year in which <strong>they</strong> owe tax. (pluralizing the subject)</li>
   <li><strong>An individual</strong> is responsible for filing <strong>a</strong> tax return for each year in which tax is payable. (eliminating the pronoun and possessive adjective)</li>
  </ul>
 </div>
 <p><strong>Plural pronouns and possessive adjectives with singular subjects</strong></p>
 <p>When you don't know whether the subject is a man, a woman, a company, or an entity, you can use <strong><br />
  they</strong> or <strong>them</strong>. In English, there is no singular pronoun that signifies <strong>he or she or it</strong>.</p>
 <div class="well">
  <h3 class="mrgn-tp-0 h4">Example</h3>
  <ul>
   <li>We will look at all of the facts related to each particular case to ensure that <strong>the taxpayer</strong> receives all of the relief <strong>they</strong> are entitled to.</li>
   <li>If <strong>a registrant</strong> fails to remit <abbr title="Goods and Services Tax">GST/HST</abbr> as required, <strong>they </strong>will be subject to penalties and arrears interest.</li>
   <li>Choose your tax preparer carefully, and check <strong>their </strong>references.</li>
  </ul>
 </div>
 <p>If you choose to use <strong>they</strong>, <strong>them</strong>, and<strong> their</strong> with singular subjects, <strong>you must use this combination consistently </strong>throughout your document.</p>
 <h2 class="page-header" id="quotation">Quotation marks</h2>
 <p>We use the North American style (with periods and commas placed <strong>before</strong> the closing quotation mark).</p>
 <div class="well">
  <h3 class="mrgn-tp-0 h4">Examples</h3>
  <ul>
   <li>&ldquo;Under the Canadian tax system, the government relies on  taxpayers to pay what they owe,&rdquo; said Michel Dorais, Commissioner of  the <abbr title="Canada Revenue Agency">CRA</abbr>. </li>
   <li>The  data that you enter will prompt one of the following responses:  &ldquo;Registered,&rdquo; &ldquo;Not registered,&rdquo; or &ldquo;Insufficient information entered.&rdquo;</li>
   <li>See line 255, &quot;Northern residents deductions.&quot;</li>
  </ul>
 </div>
 <p>Use quotation marks only when you are quoting something. If you want to highlight a term within text, use <a href="#bold">bold</a>:</p>
 <div class="well">
  <h3 class="mrgn-tp-0 h4">Example</h3>
  <p>A <strong>factual resident</strong> has to calculate federal income tax.</p>
 </div>
 <p>You can use quotation marks to identify a title or button to which you are not linking:</p>
 <div class="well">
  <h3 class="mrgn-tp-0 h4">Examples</h3>
  <p>Go to <a href="http://www.cra-arc.gc.ca/esrvc-srvce/tx/ndvdls/myccnt/menu-eng.html">My Account for Individuals</a> and select &quot;Log in&quot; if you have an epass.</p>
 </div>
 <p><strong>Do not</strong> place linked items in quotation marks. </p>
 <h2 class="page-header" id="special">Special characters</h2>
 <h3>Special characters: Ampersand (&amp;)</h3>
 <p>The ampersand has  traditionally been used as a space-saving character in tables and  notes, and in business names like Johnson &amp; Johnson and H&amp;R  Block. Except when used as part of an initialism such as SR&amp;ED  (scientific research and experimental development), do not use the  ampersand as a substitute for <strong>and</strong> in documents or organizational titles.</p>
 <h3><strong>Special characters: e.g., i.e.</strong></h3>
 <p>Do not use <strong>e.g.</strong> (the abbreviation for <em>exempli gratia</em><em>,</em> meaning <strong>for example</strong>). Instead, use <strong>for example</strong>, followed by a comma.</p>
 <p>Do not use <strong>i.e. </strong>(the abbreviation for <em>id est</em><em>, </em>meaning <strong>that is</strong>). Instead, use <strong>that is</strong>, followed by a comma.</p>
 <h3 id="no">Special characters: No.</h3>
 <p>Use <strong>No</strong>. and <strong>Nos</strong>. as the abbreviations for number and numbers.</p>
 <h3>Special characters: Percentage (%)</h3>
 <p>To present percentages, use symbols, not written words. Instead of the word <strong>percent</strong>, use <strong>%</strong>.</p>
 <h3>Special characters: etc.</h3>
 <p>The Latin term <strong>et cetera</strong> (etc.) means &ldquo;and other things,&ldquo; &ldquo;and so on,&rdquo; or an equivalent expression. </p>
 <ul>
  <li>Do not use the expression <strong>et cetera</strong>.</li>
  <li>We do not recommend using the abbreviation <strong>etc. </strong>in your written documents. The abbreviation <strong>etc.</strong> suggests that information provided in the enumeration is incomplete, which may confuse your reader.</li>
  <li>When you cannot give all the items, introduce an enumeration with <strong>including</strong> or <strong>such as</strong>. These words imply that you will only give a few items.</li>
  <li>Do not use <strong>etc.</strong> at the end of an enumeration introduced by <strong>including</strong>, <strong>such as</strong>, <strong>for example</strong>, <strong>that is</strong>, or other equivalent expressions.</li>
 </ul>
 <p>However, if you choose to write <strong>etc.</strong>, remember that the abbreviation <strong>etc.</strong>:</p>
 <ul>
  <li>is always preceded by at least two elements;</li>
  <li>is always preceded and followed by a comma, unless it terminates the sentence or is inside parentheses; and</li>
  <li>is never followed by ellipsis points, but always ends with a period.</li>
 </ul>
 <div class="well">
  <h4 class="mrgn-tp-0">Examples</h4>
  <ul>
   <li>For their own protection, employees will not, under any circumstance or at any location, fill out questionnaires, forms, etc.</li>
   <li>There  are many factors that can affect the compliance burden over which we  have little influence or control (characteristics of individual  taxpayers, tax law, tax policy, etc.). </li>
  </ul>
 </div>
 <h3>Special characters: Spelling out characters</h3>
 <p>When describing characters required either to be entered or their   use, write out the character and then include it in parentheses   afterwards. </p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <p>Separate each term with a &quot;,&quot; (comma).</p>
 </div>
 <h2 class="page-header" id="phone">Phone numbers</h2>
 <p>Format both local and long-distance phone numbers that are not toll-free as follows: 514-873-4692.</p>
 <p>If collect calls are accepted, exclude the <strong>1-</strong> before long-distance numbers that are not toll-free. If the caller dials <strong>1-</strong>, he or she will be charged.</p>
 <p>Five area codes beginning with the number <strong>8</strong>&mdash;800, 855, 866, 877, and 888&mdash;are toll-free. Do not, however, refer to them as toll-free. That is, do not use the adverb <a href="#toll">toll free</a> or the compound adjective <strong>toll-free</strong> before or after these numbers.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <p>If you want to negotiate a suitable payment arrangement, please call 1-866-864-5823. </p>
 </div>
 <p>Make sure telephone numbers are not split over two lines of text. </p>
 <p>If you are writing a number that has an extension, include the word <strong>extension</strong> and a number after the telephone number. Use the short form <strong>ext.</strong> only if you do not have room for the full word. Remember, also, to put a comma before the word <strong>extension</strong>.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <p>613-888-8888, extension 5555</p>
 </div>
 <p>Generally, do not introduce telephone numbers with phrases like, &quot;To  get information on this topic, call our general enquiries line at 1-800-959-2221.&quot; Instead, simply say, &quot;To get information on this topic, call 1-800-959-2221.&quot; </p>
 <p>However, if you are providing numbers for more than one area, you will have to decide whether to name each area.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <p>Call our automated Tax Information Phone Service (TIPS) at 1-800-267-6999 or our individual income tax enquiries line at 1-800-959-8281.</p>
 </div>
 <p>In a web document, do not refer readers to a telephone number to  order publications. Link to the document in question or refer readers  to the <strong>Forms and publications</strong> link.</p>
 <h2 class="page-header" id="underline"> Underline</h2>
 <p>Do not use underline text. Underlined text implies a link on a web page.</p>
 <h2 class="page-header" id="web">Web addresses</h2>
 <p>For references to the <abbr title="Canada Revenue Agency">CRA</abbr> website, use <strong>www.cra.gc.ca</strong> (for English text) and <strong>www.arc.gc.ca</strong> (for French text). Whenever possible, however, refer readers to specific webpages on the site.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <ul>
   <li>For more information about the children's fitness amount, go to <strong>www.cra.gc.ca/fitness</strong>.</li>
   <li>Go to <a href="http://www.cra.gc.ca/leads">www.cra.gc.ca/leads</a> to learn how to report a suspected case of tax evasion.</li>
  </ul>
 </div>
 <h3>Web addresses: In print </h3>
 <p>For documents that will be <strong>printed or published in <abbr title="Portable document format">PDF</abbr></strong>, put references to websites or webpages in bold type. Include <strong>www.</strong> but omit <strong>http://</strong></p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <ul>
   <li>Throughout the guide, we refer to other forms and  publications you may need. You can get these forms and publications  from our website at <strong>www.cra.gc.ca/forms</strong> or by calling us at 1-800-959-2221.</li>
   <li>For details, go to <strong>www.cra.gc.ca/electronicservices</strong>.</li>
   <li>Go to <strong>www.cra.gc.ca/benefits-calculator</strong> to use our child and family benefits calculators. </li>
  </ul>
 </div>
 <p>If you want to refer readers to a particular topic on a webpage,  provide the address for that page and instruct readers how to navigate  from there.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <p>For more information, go to <strong>www.cra.gc.ca/audit</strong> and select the topic &ldquo;How we select files to audit.&rdquo;</p>
 </div>
 <p>For documents that will be uploaded to the web in <abbr title="Hypertext Markup Language">HTML</abbr>, hyperlink the entire address. Include <strong>www.</strong> but omit <strong>http://</strong>:</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <ul>
   <li>Throughout the guide, we refer to other forms and publications you may need. You can get these forms and publications at <a href="http://www.cra.gc.ca/forms">www.cra.gc.ca/forms</a> or by calling us at 1-800-959-2221.</li>
   <li>For details, go to <a href="http://www.cra.gc.ca/electronicservices">www.cra.gc.ca/electronicservices</a>.</li>
   <li>Go to <a href="http://www.cra.gc.ca/benefits-calculator">www.cra.gc.ca/benefits-calculator</a> to use our child and family benefits calculators. </li>
  </ul>
 </div>
 <p>For more information on hyperlinking web addresses, documents, and descriptive terms, see the guideline on <a href="#links">Links</a>.</p>
 <h3>Web addresses: Punctuation</h3>
 <p>When including a web address at the end of a sentence, put a period  after the address but do not bold the punctuation or include it in the  link format.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <ul>
   <li>You will find more information about this program on our website at <strong>www.cra.gc.ca</strong>. You can also call our toll-free enquiries line. </li>
   <li>You can get more information about the Community Volunteer Income Tax Program at <a href="http://www.cra.gc.ca/volunteer">www.cra.gc.ca/volunteer</a>. We offer free training sessions to teach you how to fill out basic income tax and benefit returns. </li>
  </ul>
 </div>
 <p>You can often avoid using punctuation before or after an address by presenting the address in the body of the sentence.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <ul>
   <li>For more information, visit our website at <strong>www.cra.gc.ca</strong> or call your tax services office. </li>
   <li>Go to <a href="http://www.cra.gc.ca/careers">www.cra.gc.ca/careers</a> to find out more about career opportunities with the <abbr title="Canada Revenue Agency">CRA</abbr>.</li>
  </ul>
 </div>
 <h2 class="page-header"  id="website">Website and webpage references</h2>
 <p>When referring a reader to a website or a webpage in a guide, form, or other document, keep the following in mind:</p>
 <ul>
  <li>A <strong>website</strong> is a collection of webpages. A web address that ends with the primary domain of &quot;gc.ca,&quot; such as <strong>www.cra.gc.ca</strong> and <strong>www.netfile.gc.ca</strong>, indicates a website. When you refer a reader to a website, use the word <strong>visit</strong>. </li>
  <li>A web address that includes a slash and text after the primary domain, such as <strong>www.cra.gc.ca/tfsa</strong> or <strong>www.cra.gc.ca/voluntarydisclosures</strong>, indicates a <strong>webpage</strong>. When you refer a reader to a webpage, use the words <strong>go to</strong>. </li>
 </ul>
 <p><strong>Visiting</strong> a website is dynamic&mdash;you navigate through the multiple pages the site offers. <strong>Going to</strong> a webpage is static&mdash;you expect to find what you are looking for on the referenced page.</p>
 <div class="well">
  <h4 class="mrgn-tp-0">Example</h4>
  <ul>
   <li>For more information, visit <strong>www.cra.gc.ca</strong>. </li>
   <li>For details on our e-services, go to <strong>www.cra.gc.ca/electronicservices</strong>. </li>
  </ul>
 </div>
 <h2 class="page-header" id="terminology"> Web terminology</h2>
 <p>This list of terms is a guide for ensuring words are spelled consistently.</p>
 <ul>
  <li><strong>Internet</strong> Initial caps</li>
  <li><strong>intranet</strong> All lowercase</li>
  <li><strong>Web</strong> The word web is only capitalized when it is used in a proper name, such as World Wide Web.</li>
  <li><strong>website</strong> Two words, lowercase.</li>
  <li><strong>web application</strong> Two words, lowercase.</li>
  <li><strong>web page</strong> Two words, lowercase.</li>
  <li><strong>web form</strong> Two words, lowercase.</li>
  <li><strong>Note:</strong> Initial caps and bold.</li>
  <li><strong>email</strong> No hyphen, not e-mail.</li>
 </ul>
 <h2 class="page-header"  id="resources">External resources</h2>
 <h3>Dictionaries</h3>
 <p>We use the <em>Canadian Oxford Dictionary</em> as our principal  reference on matters of spelling and word use. If it lists more than  one spelling for a word, we normally choose the first one listed. See  the following for other references on spelling and word use: </p>
 <ul>
  <li><em>Gage Canadian Dictionary</em></li>
  <li><em>ITP Nelson Canadian Dictionary</em></li>
  <li><em>Oxford English Dictionary</em></li>
  <li><em>Webster's New World College Dictionary</em></li>
  <li><em>Merriam-Webster's Collegiate Dictionary </em></li>
 </ul>
 <h3>Writing guides</h3>
 <p>For more information on grammar, style, and plain language, consult the following:</p>
 <ul>
  <li><em>The Gregg Reference Manual</em>, 8th Canadian edition</li>
  <li><a href="http://btb.termiumplus.gc.ca/tpv2guides/guides/tcdnstyl/index-eng.html?lang=eng">The Canadian Style</a></li>
  <li><em>Editing Canadian English</em></li>
  <li><a href="http://www.plainlanguagenetwork.org/plaintrain/">Plain Language Online Training</a>.</li>
 </ul>
 <p class="mrgn-tp-lg"><span class="glyphicon glyphicon-info-sign"></span> Some of the code and documentation for this page is sourced from <a href="http://getbootstrap.com/" rel="external">Bootstrap</a></p>
</div>
