---
{
	"title": "Writing guide",
	"language": "en",
	"altLangPrefix": "index",
	"css": ["http://maxcdn.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome"],
	"dateModified": "2014-08-06"
}
---
<section class="alert alert-info">
	<h2 class="h3">Community-developed product</h2>
	<p>This is a community-developed product and not intended to replace the Canada.ca site guidelines.</p>
</section>

<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-4 col-lg-3 visible-md visible-lg ">
				<span class="fa-stack fa-5x">
					<span class="fa fa-circle fa-stack-2x"></span>
					<span class="fa fa-font fa-stack-1x fa-inverse"></span>
				</span>
			</div>
			<div class="col-md-8 col-lg-9">
				<p>The writing guide provides:</p>
				<ul>
					<li>The principles every content creator must know before writing content made for the Web.</li>
					<li>The writing standards that ensure content adheres to specific technical writing requirements.</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<section class="col-sm-4">
				<h2>Create content</h2>
				<ul class="list-unstyled">
					<li>
						<a href="principals-en.html">Content creation principles</a>
						<ul>
							<li><a href="principals-en.html#print">Print versus Web</a></li>
							<li><a href="principals-en.html#development">Content development</a></li>
							<li><a href="principals-en.html#architecture">Content architecture</a></li>
							<li><a href="principals-en.html#style">Content style and flow</a></li>
							<li><a href="principals-en.html#content">Content structure</a></li>
						</ul>
					</li>
				</ul>
			</section>

			<section class="col-sm-8">
				<h2>Format content</h2>
				<ul class="colcount-sm-2 list-unstyled">
					<li><a href="formatting-en.html#acronyms">Acronyms and initialisms</a></li>
					<li><a href="formatting-en.html#addresses">Addresses</a></li>
					<li><a href="formatting-en.html#quotations">Quotations</a></li>
					<li><a href="formatting-en.html#bold">Bold</a></li>
					<li><a href="formatting-en.html#english">Canadian English</a></li>
					<li><a href="formatting-en.html#capitalization">Capitalization</a></li>
					<li><a href="formatting-en.html#commas">Commas</a></li>
					<li><a href="formatting-en.html#contractions">Contractions</a></li>
					<li><a href="formatting-en.html#currency">Currency</a></li>
					<li><a href="formatting-en.html#dash">Dashes and hyphens</a></li>
					<li><a href="formatting-en.html#date">Date and time</a></li>
					<li><a href="formatting-en.html#examples">Examples</a></li>
					<li><a href="formatting-en.html#faqs"><abbr title="Frequently asked questions">FAQ</abbr>s</a></li>
					<li><a href="formatting-en.html#form">Forms and publications</a></li>
					<li><a href="formatting-en.html#geographic">Geographic names</a></li>
					<li><a href="formatting-en.html#headings">Headings and subheadings</a></li>
					<li><a href="formatting-en.html#hyphenating">Hyphenating compound terms</a></li>
					<li><a href="formatting-en.html#italics">Italics</a></li>
					<li><a href="formatting-en.html#legislation">Legislation</a></li>
					<li><a href="formatting-en.html#links">Links</a></li>
					<li><a href="formatting-en.html#line">Line identifiers</a></li>
					<li><a href="formatting-en.html#lists">Lists</a></li>
					<li><a href="formatting-en.html#names">Names</a></li>
					<li><a href="formatting-en.html#notes">Notes</a></li>
					<li><a href="formatting-en.html#numbers">Numbers</a></li>
					<li><a href="formatting-en.html#official">Official languages </a></li>
					<li><a href="formatting-en.html#periodforms">Periods on forms</a></li>
					<li><a href="formatting-en.html#phone">Phone numbers</a></li>
					<li><a href="formatting-en.html#pronouns">Pronouns and possessive adjectives</a></li>
					<li><a href="formatting-en.html#quotation">Quotation marks</a></li>
					<li><a href="formatting-en.html#special">Special characters</a></li>
					<li><a href="formatting-en.html#underline">Underline</a></li>
					<li><a href="formatting-en.html#web">Web addresses</a></li>
					<li><a href="formatting-en.html#terminology">Web terminology</a></li>
					<li><a href="formatting-en.html#website">Website and webpage references</a></li>
					<li><a href="formatting-en.html#resources">External resources</a></li>
				</ul>
			</section>
		</div>
	</div>

	<section class="col-md-4">
		<h2 class="wb-inv">Related</h2>
		<div class="list-group">
			<a href="../design/index-en.html" class="list-group-item">Design guide</a>
			<a href="../writing/index-en.html" class="list-group-item active">Writing guide</a>
			<a href="../usability/index-en.html" class="list-group-item">Usability guide</a>
			<a href="../accessibility/index-en.html" class="list-group-item">Accessibility guide</a>
		</div>

		<blockquote>
			<p>On the average Web page, users have time to read at most 28% of the words during an average visit; 20% is more likely.</p>
			<p class="text-right">-Nielsen Norman Group<br />
				<a href="http://www.nngroup.com/articles/how-users-read-on-the-web/">How Users Read on the Web</a></p>
		</blockquote>

		<blockquote>
			<p>I try to leave out the parts that people skip.</p>
			<p class="text-right">-Elmore Leonard, author</p>
		</blockquote>
	</section>
</div>
