---
{
	"title": "Cette page a été déplacée",
	"language": "fr",
	"altLangPrefix": "principals",
	"dateModified": "2016-10-17"
}
---
<p>Consultez : <a href="prncpls-fr.html">Principes en matière de création du contenu</a></p>
