---
{
	"title": "Principes de création du contenu",
	"language": "fr",
	"altLangPrefix": "prncpls",
	"dateModified": "2016-10-17"
}
---

  <p>Les utilisateurs abordent le contenu en ligne très différemment des documents imprimés. Ils sont à la chasse, et ils suivent une piste d'information. Ils cherchent activement l'information – au lieu de l'accepter passivement telle qu'elle est présentée. Les utilisateurs parcourent rapidement l'information des pages Web pour vérifier s'ils peuvent trouver ce qu'ils cherchent. Au lieu de lire chaque mot, les utilisateurs balaient du regard le texte en ligne et y cherchent des mots clés et des expressions familières. S'ils ne les trouvent pas immédiatement, ils passent rapidement à autre chose, et il est peu probable qu'ils retournent sur un site qui ne convenait pas à leurs besoins.</p>
  <p>Pour entrer en contact avec les utilisateurs, rédigez des renseignements que les utilisateurs peuvent parcourir rapidement et qui leur permettent de trouver ce qu'ils cherchent.  De plus, réécrivez tout le contenu qui était à l'origine destiné à l'impression afin qu'il convienne à un public Web.</p>
  <div class="row wb-eqht mrgn-tp-lg">
        <div class="col-md-6 brdr-rght">
          <div class="row">
            <div class="col-sm-3 col-md-4"> <a href="dvlpmnt-fr.html"><img alt="Développement de contenu" class="img-responsive mrgn-bttm-sm hidden-xs" src="dvlpmnt.png"></a> </div>
            <div class="col-sm-9 col-md-8">
              <p class="h5 mrgn-tp-0"><a href="dvlpmnt-fr.html">Développement de contenu</a></p>
              <p>Information sur la stratégie de contenu et le contexte  (les utilisateurs et leurs tâches). Les détails comprennent aussi les éléments de contenu à réutiliser, recycler et réduire.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <hr class="brdr-bttm visible-xs visible-sm">
          <div class="row">
            <div class="col-sm-3 col-md-4"> <a href="rchtctr-fr.html"><img alt="Architecture de contenu" class="img-responsive mrgn-bttm-sm hidden-xs" src="rchtctr.png"></a> </div>
            <div class="col-sm-9 col-md-8">
              <p class="h5 mrgn-tp-0"><a href="rchtctr-fr.html">Architecture de contenu</a></p>
             <p>Information sur la façon d'organiser le contenu, de le présenter, de le structurer et de le trier par ordre alphabétique. Les détails comprennent aussi la longueur appropriée des pages ainsi que l'utilisation de blocs de contenu et de sections de <abbr title="Foire aux questions">FAQ</abbr></p>
            </div>
          </div>
        </div>
  </div>
	  <div class="row wb-eqht">
        <hr class="brdr-bttm">
        <div class="col-md-6 brdr-rght">
          <div class="row">
            <div class="col-sm-3 col-md-4"> <a href="stl-fr.html"><img alt="Style et flux du contenu" class="img-responsive mrgn-bttm-sm hidden-xs" src="flw.png"></a> </div>
            <div class="col-sm-9 col-md-8">
              <p class="h5 mrgn-tp-0"><a href="stl-fr.html">Style et flux du contenu</a></p>
              <p>Information sur la façon de rédiger dans un langage clair et simple avec du texte concis qui présente une structure parallèle.  Les détails comprennent aussi la façon de créer une mise en page cohérente avec du contenu prévisible.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <hr class="brdr-bttm visible-xs visible-sm">
          <div class="row">
            <div class="col-sm-3 col-md-4"> <a href="strctr-fr.html"><img alt="Structure et présentation du contenu" class="img-responsive mrgn-bttm-sm hidden-xs" src="strctr.png"></a> </div>
            <div class="col-sm-9 col-md-8">
              <p class="h5 mrgn-tp-0"><a href="strctr-fr.html">Structure et présentation du contenu</a></p>
              <p>Information  sur les formats appropriés des documents, les en-têtes et les liens.  Les détails comprennent aussi la façon de présenter efficacement des éléments clés comme les listes, les images, les tableaux, les couleurs et les polices.</p>
</div>
          </div>
        </div>
  </div>
  