---
{
	"title": "Content architecture",
	"language": "en",
	"altLangPrefix": "rchtctr",
	"dateModified": "2016-10-17"
}
---

  <p>Content  architecture is how tasks and information about those tasks are categorized and organized &minus; whether it's one web page, or spread over dozens of pages. Good content architecture suits your users'  needs and expectations so they can quickly find  what they need.</p>
  <div class="row mrgn-tp-lg">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Table of contents</h2>
        </div>
        <div class="panel-body">
          <ul>
            <li><a href="#length">Consider page length</a></li>
            <li><a href="#organize">Organize your content</a></li>
            <li><a href="#structure">Organize your page structure</a></li>
            <li><a href="#provide">Provide content at the point of need</a></li>
            <li><a href="#present">Present information gradually through progressive disclosure</a></li>
            <li><a href="#write">Write in complete blocks</a></li>
            <li><a href="#alphabetization">Know when to alphabetize</a></li>
            <li><a href="#faq">Avoid <abbr title="Frequently asked questions">FAQ</abbr>'s </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Content creation principles</h2>
        </div>
        <div class="list-group"><a href="dvlpmnt-en.html" class="list-group-item">Content development</a> <a href="rchtctr-en.html" class="list-group-item active">Content architecture</a> <a href="stl-en.html" class="list-group-item">Content style and flow</a> <a href="strctr-en.html" class="list-group-item">Content structure and presentation</a></div>
      </div>
    </div>
  </div>
  <h2 id="length"><span id="length-heading">Consider page length</span> </h2>
  <div id="length-info">
    <div class="well">
      <p><strong>Key points:</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> Users do scroll down the page</li>
        <li><span class="fa fa-li fa-check text-success"></span> Scrolls are better than pages when reading single articles or topics</li>
      </ul>
    </div>
    <p>Historically,  content was broken down into smaller chunks and spread over numerous pages, as  users did not scroll down. This is no longer true today. Although a user spends  most of their time viewing information above the fold (the part of a webpage that is visible without scrolling), a strong <a href="stl-en.html#scent">scent of information</a> prompts  them to explore the rest of the page. Users need a reason to scroll. <a href="rchtctr-en.html#structure">Organize your page structure</a> in a way that highlights the most important information at the top, so that a user has an interest in reading information below the fold.</p>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>Web users spend 80% of their time looking at  information above the page fold. Although users do scroll, they  allocate only 20% of their attention below the fold. </p>
      <p>During the Web's first years, users often didn't scroll Web pages at  all...Today, users will scroll. However, you shouldn't ignore the fold  and create endless pages for two reasons: </p>
      <ul>
        <li>Long pages continue to be problematic because of users' limited attention span</li>
        <li>The real estate above the fold is more valuable than the stuff below the fold for attracting and keeping users' attention</li>
      </ul>
      <p>So, yes, you can put information below the fold rather than limit  yourself to bite-sized pages. <strong>In fact, if you have a long article, it's  better to present it as one scrolling canvas than to split it across  multiple page views. Scrolling beats paging because it's easier for  users to simply keep going down the page than it is to decide whether  or not to click through for a next page of a fragmented article.</strong> But  no, the fact that users scroll doesn't free you from prioritizing and  making sure that anything truly important remains above the fold.  Information foraging theory states that people decide whether to  continue along a path (including scrolling path down a page) based on  the current content's information scent. In other words, users will  scroll below the fold only if the information above it makes them  believe the reset of the page will be valuable. </p>
      <footer class="text-right">Jakob Nielsen<br>
       <cite> <a href="http://www.useit.com/alertbox/scrolling-attention.html" rel="external">Scrolling and Attention<span  class="wb-inv"> (external link)</span></a></cite></footer>
    </blockquote>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>Although people weren't used to scrolling in the mid-nineties,  nowadays it's absolutely natural to use the browser's scrollbar. For a  continuous and lengthy content, like an article or a tutorial,  scrolling provides even better usability than slicing up the text to  several pages. </p>
      <footer class="text-right"><abbr title="User Experience Design">UX</abbr> Myths<br>
        <cite><a href="http://uxmyths.com/post/654047943/myth-people-dont-scroll" rel="external">Myth #3: People don't scroll<span  class="wb-inv"> (external link)</span></a></cite></footer>
    </blockquote>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p> What do users hate more: long pages full of information that require lengthy scrolling or having to drill down through multiple&mdash;albeit shorter&mdash;pages to find what they need? Ask them, and they&rsquo;ll often say, "We hate scrolling." But usability tests say otherwise. Folks don&rsquo;t seem to mind scrolling, as long as they believe that it will eventually pay off. </p>
      <p> In the trade-off between hiding content below the fold or spreading it across several pages, users have greater success when the content is on a single page. However, if you&rsquo;re going to go with longer pages, you&rsquo;d better make sure that your users can easily find the information they need. </p>
      <p> Create pages that are easy to scan. That have a consistent structure. That allow users to jump right to where they want to be. </p>
      <footer class="text-right"><abbr title="User Interface Engineering">UIE</abbr>: <abbr title="User Experience Design">UX</abbr> Thought of the Day<br>
        <cite><a href="http://ux-thought.tumblr.com/post/144245902964/to-scroll-or-not-to-scroll" rel="external">To Scroll or Not to Scroll?<span  class="wb-inv"> (external link)</span></a></cite></footer>
    </blockquote>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>We don&rsquo;t go to a page, see useless and irrelevant content, and scroll out of the blind hope that something useful may be hidden 5 screens down.  What we find at the top of the page helps us decide to continue scrolling, navigate to another page, try another site, or abandon the task altogether. [&hellip;] Users can be encouraged to scroll by giving them good reason to do so. Visual elements can draw the eye down the page. Compelling content can draw the user in. If the most interesting information is at the top of the page, users may be enticed to visit the bottom of the page as well.</p>
      <footer class="text-right">Amy Schade<br>
        <cite><a href="https://www.nngroup.com/articles/page-fold-manifesto/" rel="external">The Fold Manifesto: Why the Page Fold Still Matters<span  class="wb-inv"> (external link)</span></a></cite></footer>
    </blockquote>
  </div>
  <h2 id="organize"><span id="organize-heading">Organize your content</span></h2>
  <div id="organize-info">
    <div class="well">
      <p><strong>Key points:</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> Categorize your content</li>
        <li><span class="fa fa-li fa-check text-success"></span> Prioritize your content</li>
        <li><span class="fa fa-li fa-check text-success"></span> Organize your content in a consistent structure</li>
      </ul>
    </div>
    <p><strong>Organize  your content by topic, task, or audience to best suit your user's needs.</strong> Each  user is there to complete a task; ensure your categories always lead to a task.  Organize your content so the most popular tasks are the easiest to find. Keep  the structure <strong>simple, logical, and consistent</strong> so users quickly become familiar  with it. Users can then  navigate through your content quicker and easier. For example,  use numbered steps if the content is procedural, and the user needs to follow  each step from start to finish. </p>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl"> Remember that web users are task-oriented: they come to a website with a goal in mind. Information organized by topic or by frequent tasks is often easier to navigate because it immediately addresses what people seek. [&hellip;] Audience-based navigation demands additional cognitive effort from users, as they must determine which category to choose, what information to expect in each category, and whether there is other useful information in different audience groups. It forces users to identify themselves instead of presenting topics upfront. But by ensuring that categories are mutually exclusive, and that there is sufficiently unique content to justify a new section, designers can reduce the risks of this type of navigation.
      <footer class="text-right">Nielsen Norman Group<br>
        <cite><a href="https://www.nngroup.com/articles/audience-based-navigation/" rel="external">Audience-Based Navigation: 5 Reasons to Avoid It<span  class="wb-inv"> (external link)</span></a></cite></footer>
    </blockquote>
  </div>
  <h2 id="structure"><span id="structure-heading">Organize your page structure</span></h2>
  <div id="structure-info">
    <div class="well">
      <p><strong>Key points:</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> First &ndash; conclusion, summary, or task</li>
        <li><span class="fa fa-li fa-check text-success"></span> Second &ndash; supporting information</li>
        <li><span class="fa fa-li fa-check text-success"></span> Third &ndash; background and details</li>
      </ul>
    </div>
    <p>When  organizing the information on a web page, <strong>place the most important information  at the top of the page</strong> where users can easily find it. The rest of the  information should then follow in order of importance to your users. <strong>Start with  the conclusion, summary, or task, followed by supporting information and,  finally, background and details.</strong> This is known as the <strong>inverted pyramid</strong> methodology of writing. It is also important to keep your page structure simple  and consistent with your overall content structure. Refer also to, <a href="rchtctr-en.html#length">Page length and scrolling</a> </p>
  </div>
  <h2 id="provide"><span id="provide-heading">Provide content at the point of need</span></h2>
  <div id="provide-info">
    <div class="well">
      <p><strong>Key points:</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> Provide just the right amount of information in a specific context</li>
        <li><span class="fa fa-li fa-check text-success"></span> Provide all the information that is important to complete a specific task or a segment of a task</li>
        <li><span class="fa fa-li fa-check text-success"></span> Do not duplicate content</li>
      </ul>
    </div>
    <p>Providing information &ldquo;at the point of need&rdquo; means placing the right amount of information &ndash; <strong>no more and no less</strong> &minus; in the context where a user would expect to find it. To provide information at the point of need, you need to know <strong>what information users would expect to find together in one place </strong>to help them complete a task and what information they would expect to find in a different context, without loss of meaning. You must also effectively balance it with the principle of progressive disclosure; refer to <a href="#present">Present information gradually though progressive disclosure</a>.</p>
    <p>Requirement to provide content at the point of need does not mean you can duplicate content! Refer to <a href="dvlpmnt-en.html#reuse">Reuse, recycle, and reduce content.</a></p>
  </div>
  <h2 id="present"><span id="present-heading">Present information gradually through progressive disclosure</span></h2>
  <div id="present-info">
    <div class="well">
      <p><strong>Key points:</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> Limit the number of choices</li>
        <li><span class="fa fa-li fa-check text-success"></span> Do not overwhelm users with too much information at once</li>
        <li><span class="fa fa-li fa-check text-success"></span> Introduce extra information gradually</li>
      </ul>
    </div>
    <p>According to usability expert Jakob Nielsen, progressive  disclosure improves three of five usability components: learnability, efficiency of  use, and error rate. <strong>Progressive  disclosure reduces complexity of user interaction as well as their cognitive  load; it helps with decision making and increases efficiency and ease of use of  the interface</strong>. To apply this principle effectively:</p>
    <ul>
      <li>Focus on the information the user needs to complete a specific task</li>
      <li>Provide the right level of detail at the right time; consider if you should  move from abstract to specific, from basic to expert</li>
      <li>Limit the number of choices to reduce potential confusion</li>
      <li>Don&rsquo;t overwhelm users with too much information at once; they will waste  time trying to figure out what information is relevant or what links to click  on, amidst the many options</li>
      <li>Make additional information available within reach</li>
    </ul>
    <p>The following example is taken from the structure of a furniture store website.</p>
    <table class="table table-bordered">
      <caption>
      Ineffective and effective methods of providing information
      </caption>
      <thead>
        <tr>
          <th scope="col">Ineffective group of information </th>
          <th scope="col">Effective use of hierarchy of information </th>
          <th scope="col">Limit the options</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Don&rsquo;t dump all the different types of information you have in one place without any order or grouping; this overloads and confuses the user:
            <ul>
              <li>Bathroom</li>
              <li>Living room</li>
              <li>Cushions</li>
              <li>Sofas and armchairs</li>
              <li>Fabric sofas</li>
              <li>Coffee and side tables</li>
              <li>Sofa tables</li>
              <li>Lighting</li>
              <li>Textiles</li>
              <li>Rugs</li>
              <li>Table  lamps</li>
            </ul></td>
          <td>Do use hierarchy or other methods of grouping to represented different types and levels of information:
            <ul>
              <li>Bathroom</li>
              <li>Living room
                <ul>
                  <li>Sofas and armchairs
                    <ul>
                      <li>Fabric sofas </li>
                    </ul>
                  </li>
                  <li>Coffee and side tables
                    <ul>
                      <li>Sofa tables</li>
                    </ul>
                  </li>
                  <li>Lighting
                    <ul>
                      <li>Table lamps </li>
                    </ul>
                  </li>
                  <li>Textiles
                    <ul>
                      <li>Cushions</li>
                      <li>Rugs </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul></td>
          <td><p>Do limit the number of options a user has to make up front; more options can be presented within reach, after the initial choice is made:</p>
            <ul>
              <li>Bathroom </li>
              <li>Living room </li>
            </ul></td>
        </tr>
      </tbody>
    </table>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>The term cognitive load was originally coined by psychologists to describe the mental effort required to learn new information. Though web browsing is a much more casual activity than formal education, cognitive load is still important: users must 'learn' how to use a site's navigation, layout, and transactional forms. And even when the site is fairly familiar, users must still carry around the information that is relevant to their goal. For instance, when planning a vacation, the users&rsquo; cognitive load includes interface-related knowledge and specific vacation-related constraints that they may have (such as price and timeframe).</p>
      <p>When a computer can't handle our processing demands, we can simply upgrade to a newer, more powerful machine. But to date there's no way to increase the actual processing power of our brains. Instead, designers must understand and accommodate these limits.</p>
      <footer class="text-right">Kathryn Whitenton<br>
        <cite><a href="https://www.nngroup.com/articles/minimize-cognitive-load/" rel="external">Minimize Cognitive Load to Maximize Usability<span  class="wb-inv"> (external link)</span></a></cite></footer>
    </blockquote>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>Researchers have often debated the maximum amount of items we can store in our conscious mind, in what's called our working memory, and a new study puts the limit at three or four.</p>
      <p>Working memory is a more active version of short-term memory, which refers to the temporary storage of information. Working memory relates to the information we can pay attention to and manipulate.</p>
      <footer class="text-right">Clara Moskowitz<br>
        <cite><a href="http://www.livescience.com/2493-mind-limit-4.html" rel="external">Mind's Limit Found: 4 Things at Once<span  class="wb-inv"> (external link)</span></a></cite></footer>
    </blockquote>
    
    
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>The mind can only sort through so many options and make so many choices before it starts to run out of steam.</p>
      <footer class="text-right">Jane Porter<br>
        <cite><a href="http://www.fastcompany.com/3031364/the-future-of-work/why-having-too-many-choices-is-making-you-unhappy" rel="external">Why Having Too Many Choices Is Making You Unhappy<span  class="wb-inv"> (external link)</span></a></cite></footer>
    </blockquote>
  </div>
  <h2 id="write"><span id="write-heading">Write in complete blocks</span></h2>
  <div id="write-info">
    <div class="well">
      <p><strong>Key points:</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> Write       each page as if it is the first page users read; ensure it can stand on its own</li>
        <li><span class="fa fa-li fa-check text-success"></span> Create       a separate page for common and supporting information, as needed</li>
      </ul>
    </div>
    <p>Site  visitors do not access the same web pages during every visit, nor do they  access them in the same order during every visit. For this reason, <strong>write each web  page so it can stand on its own</strong>. Don't make assumptions as to what users have  previously read or will subsequently read. Web usage is never linear.</p>
    <p>In  some instances, you need to repeat phrases or sentences across many web pages  so that the information on each page is complete. If you repeat a lot of  supporting content, you may want to create a new page for that information and  link to it from the other pages or you may have to <a href="dvlpmnt-en.html#reuse">reuse and recycle content in another way</a>.</p>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>When we look at a webpage, we tend to see it not as a whole, but rather   as compartmentalized chunks of information. We tend to read in blocks,   going directly to items that seem to match what we're actively looking   for.</p>
      <p>An eye-tracking study conducted by Nielsen revealed an eye-movement   pattern that could further support this idea that web users do indeed   read in chunks: We swipe our eyes from left to right, then continue on   down the page in an F-shaped pattern, skipping a lot of text in between.</p>
      <p>We can do several things to accommodate these reading patterns. One   strategy is to break up long articles into sections so that users can   easily skim down the page. This applies to block reading (because blocks   of text are denoted by headings) as well as the F-shaped pattern,   because we're attracted to the headings as we move down the page.</p>
      <footer class="text-right">Mashable<br>
        <cite><a href="http://mashable.com/2011/09/12/website-usability-tips/" rel="external">7 Best Practices for Improving Your Website's Usability<span  class="wb-inv"> (external link)</span></a></cite></footer>
    </blockquote>
  </div>
  <h2 id="alphabetization"><span id="alphabetization-heading">Know when to alphabetize</span></h2>
  <div  id="alphabetization-info">
    <div class="well">
      <p><strong>Key points:</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> Organize       information by priority, importance, and popularity &ndash; not alphabetically</li>
        <li><span class="fa fa-li fa-check text-success"></span> Alphabetize       only when the users know the exact wording of all the options</li>
      </ul>
    </div>
    <p><strong>Alphabetizing content is  rarely a good idea</strong>. It is successful when the information has stable naming conventions,  like people's names, or geographical locations. All other information is best  organized by priority, importance, or popularity. </p>
    <p>If  the user is unsure which letter their desired information falls under, then his  or her experience with your content is the same as if it were in <strong>random order</strong>.</p>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>...you can let the importance or  frequency of use guide how you prioritize long listings rather than  default to less-useful alphabetical sorting...But typically, when you reach  for an <abbr title="A to Z">A-Z</abbr> structure, you should give yourself a little extra kick and  seek out something better. </p>
      <footer class="text-right">Jakob Nielsen<br>
        <cite><a href="http://www.useit.com/alertbox/alpha-sorting.html" rel="external">Alphabetical Sorting Must (Mostly) Die<span  class="wb-inv"> (external link)</span></a></cite></footer>
    </blockquote>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>(Alphabetical order is good) only if the users knew the  wording of the links. The exact wording. This works well for people's  names, states, cities, car models, and sports teams.</p>
      <p>Where it falls apart is for things where users may not know the  exact wording. In that instance...they must scan  every link to make sure they can see what is relevant and what isn't. <strong>The moral of the story: Unless you can be absolutely sure that users  will know the exact terms in your list, alphabetical order is just  random order.</strong> </p>
      <footer class="text-right">Jared Spool<br>
        <cite><a href="http://www.uie.com/brainsparks/2006/02/06/alphabetized-links-are-random-links/" rel="external">Alphabetized Links are Random Links<span  class="wb-inv"> (external link)</span></a></cite></footer>
    </blockquote>
  </div>
  <h2 id="faq"><span id="faq-heading">Avoid <abbr title="Frequently asked questions">FAQ</abbr>'s</span></h2>
  <div id="faq-info">
    <div class="well">
      <p><strong>Key points:</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> Do not create extra  pages of content (such as <abbr title="Frequently asked questions">FAQ</abbr>'s) to compensate for lack of order and structure  of old content</li>
        <li><span class="fa fa-li fa-check text-success"></span> Edit and re-organize  existing content to help users find the right information quickly</li>
        <li><span class="fa fa-li fa-check text-success"></span> Provide answers to users questions in  context with related information</li>
      </ul>
    </div>
    <p><abbr title="Frequently asked questions">FAQ</abbr>  pages are often created as a band-aid solution to an otherwise messy content  environment. Contrary to improving discovery of important information, <strong><abbr title="Frequently asked questions">FAQ</abbr>'s are generally not user friendly</strong>.  They tend to:</p>
    <ul>
      <li> Separate information from the context in which it needs to  be understood </li>
      <li> Duplicate information </li>
      <li> Make users look for information in multiple places</li>
    </ul>
    <p>Since  most <abbr title="Frequently asked questions">FAQ</abbr>'s are long and contain varied information, users find them frustrating  They have to go through a long list of questions without knowing if they can find  the answer they need. Also, multiple pages  equal more waiting time, as each page has to load.</p>
    <p>In  general, <strong>users&rsquo;  questions are best answered in context with other information on the same  topic</strong>. Instead of having multiple pages on a single topic, find where the  content already exists.  Restructure the page to include the necessary  information. <strong>Do not create an extra <abbr title="Frequently asked questions">FAQ</abbr> page.</strong></p>
    <p>How  you organize the page depends on the  page content and the  users. For  example, procedures and processes are best organized by tasks. <strong>In most other  situations, topical organization can replace questions and answers.</strong> If you feel that your  information is best organized with questions and answers, ensure the page  breaks up questions into logical topic sub-sections, and has a meaningful and  descriptive title.</p>
    <table class="table table-bordered">
      <caption>
      The different ways to organize information
      </caption>
      <thead>
        <tr>
          <th scope="col">Tasks</th>
          <th scope="col">Topics</th>
          <th scope="col">Topics then questions and answers</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Apply for child benefits online:
            <ul>
              <li> <strong>Apply</strong> for Canada child tax benefit </li>
              <li> <strong>Register</strong> children for tax credits and programs </li>
              <li> <strong>Enroll</strong> for Universal child care benefit</li>
            </ul></td>
          <td>Child and family benefits overview:
            <ul>
              <li>Canada child tax benefit (<abbr title="Canada Child Tax Benefit">CCTB</abbr>)
                <ul>
                  <li><strong>Overview</strong></li>
                  <li>Eligibility</li>
                  <li>Payment dates</li>
                </ul>
              </li>
              <li>Universal child care benefit (<abbr title="Universal Child Care Benefit">UCCB</abbr>)
                <ul>
                  <li><strong>Overview</strong></li>
                </ul>
              </li>
            </ul></td>
          <td>Child and family benefits overview:
            <ul>
              <li>Canada child tax benefit (<abbr title="Canada Child Tax Benefit">CCTB</abbr>)
                <ul>
                  <li><strong>What</strong> is <abbr title="Canada Child Tax Benefit">CCTB</abbr>?</li>
                  <li><strong>Who</strong> qualifies for <abbr title="Canada Child Tax Benefit">CCTB</abbr>?</li>
                  <li><strong>When</strong> is <abbr title="Canada Child Tax Benefit">CCTB</abbr> paid?</li>
                </ul>
              </li>
              <li>Universal child care benefit (<abbr title="Universal Child Care Benefit">UCCB</abbr>)
                <ul>
                  <li><strong>What</strong> is <abbr title="Universal Child Care Benefit">UCCB</abbr>?</li>
                </ul>
              </li>
            </ul></td>
        </tr>
      </tbody>
    </table>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>Frequently  asked questions usually aren&rsquo;t questions asked by the reader, but rather are  important information dumped in the <abbr title="Frequently asked questions">FAQ</abbr> section by the content editor. In most  cases, <abbr title="Frequently asked questions">FAQ</abbr> content is not where users expect to find it, which makes users&rsquo;  experience frustrating and less than informative.</p>
      <p>If you&rsquo;re thinking about  adding <abbr title="Frequently asked questions">FAQ</abbr>s, consider reviewing the content on your website that is generating  questions and think about how you can change the content or design to answer  the question &mdash; or provide an answer in context to prevent people from visiting  an additional webpage to find the answer. </p>
      <footer class="text-right">18F civic consultancy  inside the <abbr title="United States">US</abbr> government, for the government <br>
        <cite><a href="https://pages.18f.gov/content-guide/" rel="external">Content guide<span  class="wb-inv"> (external link)</span></a></cite></footer>
    </blockquote>
  </div>
