---
{
	"title": "Structure et présentation du contenu",
	"language": "fr",
	"altLangPrefix": "strctr",
	"dateModified": "2016-10-17"
}
---

  <p>La structure et la présentation du contenu sont fondées sur le sujet, ou sur la tâche, selon ce qui convient le mieux à vos utilisateurs. Faites en sorte que la structure demeure simple, logique et cohérente afin que les utilisateurs puissent se familiariser rapidement avec votre contenu. Ensuite, les utilisateurs pourront l'explorer facilement pour accomplir leurs tâches.</p>
  <div class="row mrgn-tp-lg">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Table des matières</h2>
        </div>
        <div class="panel-body">
          <ul>
            <li><a href="#alt">Évitez les médias substituts et de remplacement</a></li>
            <li><a href="#heading">Optimisez les en-têtes et les étiquettes de menu</a></li>
            <li><a href="#links">Établissez correctement des liens vers le contenu</a></li>
            <li><a href="#presentation">Utilisez efficacement les éléments de mise en forme et de présentation </a>
              <ul>
                <li><a href="#lists">Listes</a> </li>
                <li><a href="#image">Images</a></li>
                <li><a href="#tables">Tableaux</a></li>
                <li><a href="#colour">Couleur</a></li>
                <li><a href="#font">Police</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Principes de création du contenu</h2>
        </div>
        <div class="list-group">
        <a href="dvlpmnt-fr.html" class="list-group-item">Développement de contenu</a> 
        <a href="rchtctr-fr.html" class="list-group-item">Architecture de contenu</a> 
        <a href="stl-fr.html" class="list-group-item">Style et flux du contenu</a> 
        <a href="strctr-fr.html" class="list-group-item active">Structure et présentation du contenu</a></div>
      </div>
    </div>
  </div>
  <h2 id="alt"><span id="alt-heading">Évitez les médias substituts et de remplacement</span></h2>
  <div id="heading-alt">
<div class="well">
  <p><strong>Points clés :</strong></p>
  <ul class="fa-ul">
    <li><span class="fa fa-li fa-check text-success"></span> La publication de contenu en ligne dans des médias autres que le <abbr title="Langage hypertexte">HTML</abbr>, comme Word, <abbr title="format de document portable">PDF</abbr>, <abbr title="Powerpoint">PPT</abbr> et Excel, va à l'encontre de la plupart des principes de la convivialité
</li>
        <li><span class="fa fa-li fa-check text-success"></span> Il est préférable d'éviter les  médias substituts et de remplacement en ligne, à moins d'être clairement nécessaires du point de vue opérationnel ou des utilisateurs </li>
  </ul>
  </div>
    <p>L'information peut être publiée en ligne dans un grand nombre de formats différents. Chaque format a une fin précise :</p>
    <ul>
      <li>Le média <strong><abbr title="Langage hypertexte">HTML</abbr></strong> est destiné à structurer et à mettre en page l'information sur le Web</li>
      <li>Les documents <strong>Word </strong>conviennent très bien à titre de modèles ou d'autres types d'information qui nécessitent des modifications faciles</li>
      <li>Les documents  <strong><abbr title="format de document portable">PDF</abbr></strong> sont tout indiqués pour les publications officielles ou juridiques
        <ul>
          <li>Ils préservent l'intégrité du contenu et la mise en page du document</li>
          <li>En règle générale, ils ne sont pas censés être modifiés</li>
        </ul>
      </li>
      <li>Les documents <strong><abbr title="Powerpoint">PPT</abbr></strong> servent à faire des présentations, et, s'ils sont publiés en ligne
        <ul>
          <li>Ils ne sont idéaux que lorsque vous prévoyez que quelqu'un d'autre pourrait vouloir faire la même présentation ou s'en servir comme modèle</li>
        </ul>
      </li>
      <li>Les documents <strong>Excel</strong> sont destinés au partage de données tabulaires</li>
    </ul>
    
<p>Même si l'on peut utiliser des formats différents en ligne en fonction d'un besoin particulier,   <strong>le <abbr title="Langage hypertexte">HTML</abbr> est le meilleur média pour le contenu en ligne</strong>. </p>
    <p>Lorsque des documents sont publiés en ligne dans des médias autres que le <abbr title="Langage hypertexte">HTML</abbr>, comme Word, <abbr title="format de document portable">PDF</abbr>, <abbr title="Powerpoint">PPT</abbr> ou Excel, cela crée un certain nombre de problèmes parce que ces médias ne sont pas destinés principalement au Web :</p>
    <ul>
      <li>L'information est inaccessible parce que les documents n'ont pas été créés en fonction des principes du Web</li>
      <li>L'information est incomplète parce que la mise en forme et la mise en page du document (comme une diapositive <abbr title="Powerpoint">PPT</abbr> ou une infographie dans un média <abbr title="Powerpoint">PPT</abbr>) peuvent restreindre la quantité et le type de renseignements communiqués</li>
      <li>Les documents non réactifs qui ne s'adaptent pas aux besoins des utilisateurs dans des contextes en ligne différents (comme les appareils mobiles)</li>
      <li>L'information en double, qui prend plus d'espace sur les serveurs, se produit lorsque des médias substituts sont disponibles pour la même information </li>
      <li>L'information contradictoire se produit lorsque des médias substituts sont offerts pour la même information, mais qu'un seul média est mis à jour, tandis que les autres sont oubliés </li>
      <li>Les documents qui sont difficiles à mettre en jour en raison des restrictions imposées au média (par exemple, la version <abbr title="format de document portable">PDF</abbr> d'une infographie nécessiterait beaucoup d'efforts, de temps et d'argent pour être mise à jour si l'on trouvait un problème ou une difficulté liée à la convivialité parce que le document était conçu en fonction d'une présentation et d'éléments visuels précis dans une quantité d'espace de document déterminée, rendant impossible l'ajout de renseignements supplémentaires)</li>
      <li>Les pratiques intenables sont renforcées alors que des médias substituts sont créés pour les documents imprimés, et on encourage donc l'impression de documents</li>
      <li>L'information manque de souplesse et ne peut pas être réutilisée, puisqu'elle est figée dans des médias de documents particuliers et qu'elle ne peut être extraite par un système de gestion du contenu (<abbr title="Système de gestion du contenu">SGC</abbr>)</li>
    </ul>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>[Traduction] En structurant le contenu en fonction de la réutilisation, nous pouvons créer, publier et utiliser le contenu avec une plus grande efficience. Nous pouvons l'assembler et le réassembler  pour des produits, des publics, des appareils ou des contextes d'utilisation différents. L'information qui est intégrée aux documents rend ce processus difficile, si ce n'est impossible. [...] Le volume de contenu a aussi un effet sur la trouvabilité. La mentalité « nous pourrions le mettre en ligne » ne subit aucun contrôle lorsque la publication est aussi facile que d'« enregistrer en tant que <abbr title="format de document portable">PDF</abbr> » et de téléverser. Les sites Web peuvent se transformer en classeurs énormes, obligeant leurs visiteurs de passer à travers d'autres liens et résultats de recherche pour trouver ce qu'ils cherchent. La Banque mondiale a affirmé récemment que plus de 31 % de ses rapports n'avaient jamais été téléchargés.</p>
<p>Nos essais de convivialité montrent souvent que les gens ont plus de problèmes avec le contenu des documents <abbr title="format de document portable">PDF</abbr> qu'avec les pages Web. Ils cliquent sur un lien et amorcent un téléchargement imprévu ou non souhaité. Le téléchargement échoue ou ils l'abandonnent lorsqu'ils constatent la grosseur du fichier. Les gens ont parfois de la difficulté à explorer les documents volumineux dont la mise en page est axée sur l'impression, qui présentent des graphiques énormes et qui n'ont aucun signet interne. Souvent, l'information qu'ils veulent se trouve dans un seul paragraphe. Les documents <abbr title="format de document portable">PDF</abbr> peuvent nécessiter d'importants efforts malgré des besoins en information simples.</p>
      <footer class="text-right">4Syllables<br>
      <cite><a href="http://4syllables.com.au/articles/relying-on-pdf/" rel="external"><span lang="en">Relying on <abbr title="Portable file document">PDF</abbr> online?</span> 6 reasons to stop (disponible en anglais seulement)<span class="wb-inv"> lien externe</span></a></cite></footer>
</blockquote>



<blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>[Traduction] Près du tiers des rapports <abbr title="format de document portable">PDF</abbr> [de la Banque mondiale] n'ont jamais été téléchargés, pas même une fois. Environ 40 % des rapports ont été téléchargés moins de 100 fois. </p>
      <footer class="text-right">The Sydney Morning Herald<br>
      <cite><a href="http://www.smh.com.au/world/world-bank-learns-most-pdfs-it-produces-go-unread-20140509-zr7fs.html" rel="external"><span lang="en">World Bank learns most <abbr title="Portable file document">PDF</abbr>s it produces go unread</span> (disponible en anglais seulement)<span class="wb-inv"> lien externe</span></a></cite></footer>
</blockquote>

<p>Une fois que vous définissez les tâches de vos utilisateurs, déterminez l'information dont ces derniers ont besoin pour accomplir ces tâches : </p>
<ul>
  <li><strong>Gardez l'information spécifiques au tâches</strong></li>
  <li><strong>Présentez la logiquement ou séquentiellement dans un endroit ou les utilisateurs peuvent espérer la trouver</strong></li>
  <li>Assurez-vous que l'information est récente et pertinente, non redondante ou triviale</li>
  <li><a href="#alt">Évitez les médias substituts et de remplacement</a></li>
</ul>


    <p>Puisque vous ne pouvez pas déterminer tous les besoins des utilisateurs, et puisque ces besoins évoluent, les créateurs de contenu devraient offrir un <strong>mécanisme de rétroaction </strong>aux utilisateurs. Les propriétaires du contenu devraient être ouverts aux suggestions de changements et de modifications par les utilisateurs. </p>

    <h2 id="heading"><span id="heading-heading">Optimisez les en-têtes et les étiquettes de menu</span></h2>
  <div id="heading-info">
    <div class="well">
      <p><strong>Points clés :</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> Donnez à chaque page Web un titre unique et descriptif</li>
        <li><span class="fa fa-li fa-check text-success"></span> Utilisez des expressions ou des termes clairs, concis, descriptifs et familiers</li>
        <li><span class="fa fa-li fa-check text-success"></span> Utilisez des mots clés importants dans les deux premiers mots</li>
        <li><span class="fa fa-li fa-check text-success"></span> Présentez le contexte qui explique où est l'utilisateur et pourquoi il est là</li>
        <li><span class="fa fa-li fa-check text-success"></span> Utilisez des sous-titres pour diviser les longues pages Web</li>
      </ul>
</div>
    <p>La première chose que les utilisateurs voient sur une page Web est le titre.  <strong>Le titre doit instantanément présenter le type d'information qui se trouve sur la page</strong>. Le titre de la page doit en outre être <strong>unique</strong>, de sorte que les utilisateurs ne prennent pas une page pour une autre.</p>
    <p>Faites en sorte que les en-têtes soient clairs et descriptifs afin de mieux orienter les utilisateurs vers l'information qu'ils cherchent. Incluez des mots clés dans les en-têtes, en particulier dans les <strong>deux premiers mots</strong>, pour aider les utilisateurs à parcourir le texte plus facilement. </p>
    <p>Un bon titre présente le contexte en expliquant :</p>
    <ul>
      <li>Où est l'utilisateur</li>
      <li>Pourquoi il est là</li>
    </ul>
    <table class="table table-bordered">
    <caption class="wb-inv">Exemples écrivez et n'écrivez pas</caption>
      <thead>
        <tr>
          <th scope="col">Contexte</th>
          <th scope="col"><span class="fa  fa-check text-success"></span> Écrivez</th>
          <th scope="col"><span class="fa fa-ban text-danger"></span> N'écrivez pas</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Le titre est unique et descriptif</td>
          <td>Notes au dossier pour la gestion des blessures et des maladies –  <strong>Modèle</strong> </td>
          <td>Notes au dossier </td>
        </tr>
        <tr>
          <td>Le titre commence par les mots les plus importants (en anglais) </td>
          <td><span lang="en">Information Management <strong>Policy</strong></span> (Gestion de l'information – <strong>Politique</strong>)  </td>
          <td><span lang="en"><strong>Policy on</strong> Information Management</span> (<strong>Politique sur</strong> la gestion de l'information)</td>
        </tr>
        <tr>
          <td>Le titre ne comprend pas d'information inutile </td>
          <td>Programme de recrutement</td>
          <td>Renseignements sur le programme de recrutement – <strong>Ce qu'il faut savoir</strong></td>
        </tr>
        <tr>
          <td>Le titre est concis</td>
          <td><strong>Approbation</strong> des demandes d'autorisation de voyager </td>
          <td>Comment approuver les demandes d'autorisation de voyager </td>
        </tr>
      </tbody>
    </table>
    <p><strong>Les sous-titres rendent les grands blocs de texte plus faciles à lire et à parcourir rapidement.</strong> Assurez-vous que les sous-titres sont clairs et concis et qu'ils suivent une  <a href="stl-fr.html#parallel">structure en parallèle</a>.</p>
    <p>Une bonne pratique consiste à utiliser des sous-titres dans les longs documents. Lorsque de l'information figure sur le Web, les sous-titres améliorent la convivialité et la lisibilité.</p>
    <p><strong>De bons en-têtes et de bons sous-titres sont essentiels afin de rendre accessible le contenu sur le Web. </strong> Les utilisateurs de lecteur d'écran peuvent utiliser les titres et les sous-titres pour passer rapidement d'une section à l'autre et pour mieux comprendre ou résumer le contenu.</p>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>[Traduction] (Pour être efficace, un en-tête doit être :)</p>
      <ul>
        <li><strong>court </strong>(parce que les gens ne lisent pas beaucoup en ligne); </li>
        <li><strong>riche en odeur d'information</strong>, résumant clairement l'article cible; </li>
        <li><strong>chargé dès le début </strong>des mots clés les plus importants (parce que les utilisateurs ne font souvent que parcourir rapidement le début des éléments énumérés); </li>
        <li><strong>compréhensible hors contexte </strong>(parce que les titres apparaissent souvent sans article, comme dans les résultats des moteurs de recherche); </li>
        <li><strong>prévisible</strong>, afin que les utilisateurs sachent s'ils aimeront l'article complet  <em>avant </em>de cliquer (parce que les gens n'aiment pas retourner aux sites qui ne tiennent pas promesse).</li>
      </ul>
      <footer class="text-right">Nielsen Norman <span lang="en">Group</span><br>
        <cite><a href="http://www.nngroup.com/articles/worlds-best-headlines-bbc-news/" rel="external"><span lang="en">World's Best Headlines: <abbr title="British Broadcasting Corporation">BBC</abbr> News</span> (disponible en anglais seulement)<span class="wb-inv"> lien externe</span></a></cite></footer>
    </blockquote>
    <p>Des approches différentes s'appliquent à la rédaction destinée à l'impression et à la rédaction destinée au Web. Cela s'applique également aux en-têtes.</p>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>[Traduction] (Dans) un article paru dans le <em>New York Times</em> à propos des labeurs des grandes personnes sur la route, « Coping With the Tall Traveler's Curse », [...] (le) <strong>titre </strong>lui-même est en fait un exemple des différences entre le style du contenu imprimé et de celui en ligne : </p>
      <ul>
        <li>Dans un document imprimé, une expression comme « la malédiction du grand voyageur » est un peu intéressante et pourrait attirer des lecteurs. Puisque l'article comportait une photo d'un type grand plié à l'arrière d'un taxi, le contenu de l'article était clair pour quiconque jetait un coup d'œil à cette page dans le journal</li>
        <li>À l'inverse, la publication en ligne du même titre ne respecterait pas plusieurs des lignes directrices sur la rédaction pour le Web :
          <ul>
            <li>Les trois premiers mots anglais (« <span lang="en">coping with the</span> »)  <strong>n'ont aucun contenu porteur d'information</strong>. Sur le Web, il faut commencer par des mots comme « grand voyageur », puisqu'il arrive souvent que les utilisateurs parcourent rapidement, vers le bas, la partie de gauche d'une liste d'éléments. Ils ne voient jamais les derniers mots d'un lien, à moins que les premiers mots attirent leur attention</li>
            <li>L'en-tête est <strong>dénué de mots clés </strong>– comme  « siège d'aéronef » et « lit d'hôtel » –, qui sont importants pour l'optimisation pour les moteurs de recherche (<abbr title="Optimisation pour les moteurs de recherche">OMR</abbr>). Personne ne cherchera « malédiction » en tendant de trouver des chaînes d'hôtels qui offrent des lits très longs ou les sièges d'aéronef qui sont les moins désagréables pour les voyageurs à longues jambes</li>
            <li>Les mots « la malédiction du grand voyageur » sont <strong>insuffisamment précis</strong> pour indiquer aux utilisateurs de quoi traite l'histoire. Puisque les titres sont souvent présentés en tant que liens simples retirés de l'article lui-même, la photo du pauvre type dans le taxi ne sera pas là pour expliquer le contenu de l'histoire. En ligne, le titre à lui seul doit présenter une odeur d'information suffisamment forte pour permettre aux utilisateurs de prédire ce qu'ils trouveront s'ils suivent le lien</li>
          </ul>
        </li>
      </ul>
      <footer class="text-right">Nielsen Norman <span lang="en">Group</span><br>
        <cite><a href="http://www.nngroup.com/articles/writing-style-for-print-vs-web/" rel="external">Writing Style for Print <abbr title="versus">vs.</abbr> Web (disponible en anglais seulement)<span class="wb-inv"> lien externe</span></a></cite></footer>
    </blockquote>
    <div id="intranet-ia-info">
      <p>Sur l'intranet, les   étiquettes de menu et les en-têtes doivent être distincts et significatifs aux yeux des utilisateurs, étant centrés sur les sujets et les tâches plutôt que sur la structure organisationnelle.</p>
      <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
        <p>[Traduction] De nombreux sites intranet sont victimes d'étiquettes de menu qui portent à confusion. De telles étiquettes rendent difficile, pour les utilisateurs, la localisation de ce qu'ils cherchent.</p>
        <p>Les raisons les plus courantes de la confusion sont les suivantes :</p>
        <ul>
          <li>Les termes sont trop vagues et finissent par être des fourre-tout (<abbr title="par exemple">p. ex.</abbr> « Pour les employés »)</li>
          <li>Les sections comme « Comment puis-je... » ou « Outils » deviennent trop grandes</li>
          <li>Des noms de section différents sur le site ne se distinguent pas (<abbr title="par exemple">p. ex.</abbr> « Ressources humaines » et « Administration et gestion » peuvent apparaître dans le même menu)</li>
          <li>Le langage est pollué par du jargon ou des termes propres à la marque</li>
        </ul>
        <p>L'appellation floue constitue l'un des projets les plus grands et les plus importants à aborder lorsqu'il est question d'<abbr title="architecture de l'information">AI</abbr> de l'intranet. Toutes les catégories de navigation doivent être descriptives, précises et mutuellement exclusives, de sorte que les utilisateurs puissent choisir sans hésiter où se rendre.</p>
        <p>[...] les sites intranet sont initialement structurés pour imiter la configuration organisationnelle de la société, puisque ce type d'<abbr title="architecture de l'information">AI</abbr> rend facile la tenue à jour du site intranet : chaque service ou secteur a sa section du site intranet. Toutefois, l'inconvénient, c'est que chaque fois qu'il y a une réorganisation de l'institution, la navigation doit changer elle aussi. Nous avons aussi constaté, lors de nos essais auprès des utilisateurs de sites intranet, que la navigation fondée sur la tâche a tendance à faciliter l'apprentissage.</p>
        <p>Un piège courant dans le cas de l'<abbr title="architecture de l'information">AI</abbr> fondée sur la tâche consiste en les noms de catégorie difficiles à parcourir rapidement. Les organisations croient que les noms de catégorie doivent commencer par un verbe ou suivre le modèle « Je dois... » pour être fondées sur la tâche. Cela n'est pas nécessaire. Parfois, en tentant de faire entrer un lien ou des étiquettes de menu dans un média en particulier, on les rend longs et difficiles à parcourir rapidement, puisque les mots les plus significatifs n'apparaissent pas avant la fin de l'étiquette. L'<abbr title="architecture de l'information">AI</abbr> fondée sur la tâche ne nécessite aucune structure grammaticale particulière pour les étiquettes; il s'agit simplement de regrouper les renseignements en fonction de la façon dont les employés les utilisent plutôt que des personnes qui les créent et les tiennent à jour.</p>
        <footer class="text-right">Nielsen Norman <span lang="en">Group</span><br>
          <cite><a href="https://www.nngroup.com/articles/intranet-information-architecture-ia/" rel="external"><span lang="en">Intranet Information Architecture (<abbr title="Information Architecture">IA</abbr>) Trends</span> (disponible en anglais seulement)<span class="wb-inv"> lien externe</span></a></cite></footer>
      </blockquote>
    </div>
  </div>
  <h2 id="links"><span id="links-heading">Établissez correctement des liens vers le contenu</span> </h2>
  <div id="links-info">
    <div class="well">
      <p><strong>Points clés :</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> Utilisez le titre de la page cible en tant que titre de l'hyperlien, ou utilisez un titre qui s'en approche le plus possible</li>
        <li><span class="fa fa-li fa-check text-success"></span> La cible de chaque lien doit être claire, sans contexte supplémentaire outre le lien lui-même</li>
        <li><span class="fa fa-li fa-check text-success"></span> Ajoutez un hyperlien à la première mention seulement</li>
        <li><span class="fa fa-li fa-check text-success"></span> Évitez d'intégrer trop d'hyperliens à un seul paragraphe</li>
        <li><span class="fa fa-li fa-check text-success"></span> Limitez les hyperliens à l'information importante</li>
        <li><span class="fa fa-li fa-check text-success"></span> Vérifiez si les hyperliens fonctionnent</li>
      </ul>
    </div>
    <p><strong>Les hyperliens orientent les utilisateurs</strong> vers l'information qu'ils cherchent. Utilisez des hyperliens pour éviter de répéter des renseignements qui sont déjà clairement exprimés  sur une autre page ou pour renvoyer à des renseignements connexes, tels que des définitions, des renseignements à l'appui ou des renseignements généraux.</p>
    <p><strong>Utilisez le titre de la page cible en tant que texte de l'hyperlien</strong>. Les utilisateurs sont très confus si le texte du lien et le nom de la page ne correspondent pas. Dans les situations où vous devez modifier le texte du lien, tentez de le <strong>faire correspondre le plus étroitement possible</strong> au nom de la page.</p>
    <p>Pour répondre aux exigences en matière d'accessibilité, indiquez  <strong>clairement la cible de chaque lien, sans contexte supplémentaire outre le texte du lien</strong>. Les utilisateurs de lecteur d'écran peuvent lire les pages en générant une liste de tous les liens sur la page, et, à l'aide de la touche de tabulation, passer d'un lien à l'autre sans aucun contexte  environnant. Si la formulation du lien ne résume pas clairement le contenu de la cible, cela peut porter à confusion les utilisateurs de lecteur d'écran. Voir  <a href="strctr-fr.html#heading">Optimisez les en-têtes et les étiquettes de menu</a>. </p>
    <p>Si vous mentionnez plus d'une fois une autre page Web,  <strong>mettez en hyperlien la première mention seulement</strong>. Évitez d'insérer trop d'hyperliens dans un seul paragraphe. Un trop grand rapprochement des liens peut porter à confusion. Les utilisateurs ne sont pas toujours en mesure de déterminer où arrête un lien et où commence le suivant.</p>
    <p>Les utilisateurs sont attirés vers les hyperliens et les suivent s'ils les voient. Puisque vous ne voulez pas que les utilisateurs passent outre le contenu de la page où ils se trouvent, <strong> ajoutez seulement un hyperlien vers les références qui peuvent aider les utilisateurs à accomplir leur tâche ou qui présentent des renseignements utiles à propos de la tâche.</strong> N'ajoutez pas d'hyperliens inutiles ou d'information non connexe. La présence de trop d'hyperliens est distrayante, et il devient difficile, pour les utilisateurs, de faire la distinction entre l'information qui est importante et celle qui ne l'est pas. Assurez-vous que les hyperliens acheminent les utilisateurs à la bonne page. Voir  <a href="stl-fr.html#scent">Créez des chemins d'information clairs</a> pour en savoir plus sur les hyperliens.</p>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
    <p>Faites en sorte que les liens textuels soient assez longs pour être compris, mais assez courts pour réduire l'habillage au minimum.</p>
    <br>
    <footer class="text-right">
    <span lang="en"><abbr title="United States">U.S.</abbr> Health and Human Services, Standards and Usability  Guidelines</span><br>
    <cite><a href="http://guidelines.usability.gov/guidelines/102" rel="external"><span lang="en">Use appropriate text link lengths</span> (disponible en anglais seulement)<span class="wb-inv"> lien externe</span></a></cite>
    </footer></blockquote>
  </div>
  <h2 id="presentation"><span id="presentation-heading">Utilisez efficacement les éléments de mise en forme et de présentation</span></h2>
  <div id="presentation-info">
    <p>Pour garantir une expérience de l'utilisateur uniforme et pour respecter les normes de convivialité, vous devez comprendre quand et comment utiliser correctement divers éléments de mise en forme et de présentation.</p>
  </div>
  <h3 id="lists"><span id="lists-heading">Listes</span></h3>
  <div  id="lists-info">
    <div class="well">
      <p><strong>Points clés :</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> Donnez à la liste un titre descriptif et unique</li>
        <li><span class="fa fa-li fa-check text-success"></span> Évitez les sous-listes dans la mesure du possible</li>
        <li><span class="fa fa-li fa-check text-success"></span> Disposez la liste dans un ordre logique</li>
        <li><span class="fa fa-li fa-check text-success"></span> Utilisez des chiffres pour énumérer des étapes ou des instructions, et des puces pour toutes les autres listes</li>
        <li><span class="fa fa-li fa-check text-success"></span> Évitez de mettre des éléments en ordre alphabétique</li>
        <li><span class="fa fa-li fa-check text-success"></span> Énumérez les éléments selon une structure en parallèle</li>
      </ul>
    </div>
    <p><strong>Il est plus facile de parcourir rapidement des listes que des paragraphes. </strong>Celles-ci contribuent à mettre en surbrillance ou en évidence des énoncés ou des éléments de liste qui représentent une seule idée. Lorsque vous avez une série d'énoncés courts et simples, utilisez une liste plutôt qu'un paragraphe. Évitez de présenter plus d'une idée par élément de liste. Les <strong>sous-listes </strong>peuvent parfois porter à confusion et être difficiles à parcourir rapidement. Évitez-les autant que vous le pouvez. Tentez de  <strong>limiter les listes à deux niveaux</strong>.    </p>
    <p>Chaque liste nécessite une des opérations suivantes : un <strong>titre descriptif et unique, une phrase d'introduction ou un paragraphe introductif </strong>de fournir un contexte . Évitez l'utilisation excessive des listes; en utilisant trop de listes détruit leur efficacité . <strong>Ne pas faire une phrase d'introduction comme un en-tête - utiliser un en-tête approprié.</strong></p>
    <p>Disposez les éléments de liste, selon le cas :</p>
    <ul>
      <li>Par ordre logique ou séquentiel</li>
      <li>Par ordre de priorité, d'importance ou de popularité</li>
    </ul>
    <p>Si vous énumérez une série d'éléments  <strong>et que l'ordre est important, utilisez des chiffres plutôt que des puces</strong>. Énumérez les éléments en suivant une  <a href="stl-fr.html#parallel">structure en parallèle</a> pour aider les utilisateurs à parcourir rapidement les listes.</p>
    <p>En règle générale,  <strong>ne mettez pas les listes en ordre alphabétique</strong>. L'utilisateur peut ne pas être certain de la lettre qui correspond à l'information voulue. Mettez les listes en ordre alphabétique lorsque l'information est assortie à une convention d'appellation stable, comme dans le cas de noms de personnes ou de lieux.</p>
     <p class="mrgn-tp-lg"><span class="fa  fa-check text-success"></span> <strong>Pour rendre les listes uniformes, </strong>par souci d'harmonisation avec le  <a href="https://www.tbs-sct.gc.ca/hgw-cgf/oversight-surveillance/communications/csc-grc-fra.asp" rel="external">Guide de rédaction du contenu du site Canada.ca <span class="wb-inv"> (lien externe)</span></a> (la source qui fait actuellement autorité) et pour faciliter, pour les utilisateurs, le fait de parcourir rapidement des listes à des tailles d'écran et des résolutions différentes :</p>
     <ul>
  <li>Introduisez chaque liste par une phrase qui se termine par un deux-points (:)</li>
    <li>Écrivez le premier mot en majuscule dans un élément de liste que<strong> lorsque les points sont des pensées complètes, ou si le premier mot est un nom propre</strong></li>
    <li>N'ajoutez pas de ponctuation à la fin d'un élément de liste</li>
    <li>N'utilisez pas d'articles comme « le » et « un » pour commencer une liste  </li>
</ul>
  </div>
  <h3 id="image"><span id="image-heading">Images</span></h3>
  <div  id="image-info">
    <div class="well">
      <p><strong>Points clés :</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> Les images doivent soutenir l'information</li>
        <li><span class="fa fa-li fa-check text-success"></span> Il arrive souvent aux utilisateurs de passer outre les images</li>
        <li><span class="fa fa-li fa-check text-success"></span> Les images peuvent ralentir la recherche d'information</li>
        <li><span class="fa fa-li fa-check text-success"></span> Du texte doit accompagner et décrire pleinement les images – pour les utilisateurs non visuels</li>
      </ul>
    </div>
    <p>N'ajoutez une image que si elle soutient l'information que cherchent les utilisateurs. Les images doivent aider les utilisateurs à naviguer ou à comprendre. Autrement, elles  sont gênantes lorsque les utilisateurs cherchent de l'information pertinente, ou encore ces derniers les passent outre, tout simplement. </p>
    <p> Une image doit avoir une apparence professionnelle et moderne. Assurez-vous qu'elle est claire et qu'elle n'est pas pixélisée. De plus,  <strong>sachez que la plupart des images sont protégées par le droit d'auteur</strong>. N'utilisez que des images venant de sources approuvées, et obtenez la permission nécessaire pour les utiliser. </p>
    <p> Pour répondre aux exigences en matière d'accessibilité, <strong>donnez toujours l'alternative texte (le texte alternatif) pour tout le contenu non textuel, comme les images,</strong> afin qu'il puisse devenir d'autres formes dont les personnes ont besoin. Mentionnons, à titre d'exemple, les gros caractères, le braille, la parole, les symboles et le langage simplifié. Au moment de fournir du texte alternatif, suivez les principes suivants :</p>
    <ul>
      <li>[Traduction] Le <strong>texte alternatif</strong> doit décrire l'image et ne doit pas dépasser  <strong>125 caractères (y compris les espaces).</strong></li>
      <li>Pour des images complexes ou des images qui nécessitent plus de 125 caractères, procédez comme suit :
        <ul>
          <li>Fournir une simple déclaration de texte comme la valeur <strong>alt</strong></li>
          <li>Fournir une description de texte plus détaillé, codez immédiatement avant ou après l'image</li>
          </ul>
      </li>
      </ul>
    <p>Cela garantit que tous les utilisateurs ont accès à une description simple de l'image, supporte différents styles d'apprentissage et répond aux exigences d'accessibilité. Le contenu doit décrire complètement l'image pour les utilisateurs non-visuels qui utilisent le logiciel de synthèse vocale de texte. Les utilisateurs non-visuels exigent la même expérience que les utilisateurs visuels, et doivent comprendre toutes les informations sans les images associées.</p>

    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>Les utilisateurs accordent une attention soutenue aux photos et aux autres images qui comportent des renseignements pertinents, mais ils passent outre les images légères qui servent à « animer » des pages Web.</p>
      <footer class="text-right">Nielsen Norman <span lang="en">Group</span><br>
        <cite><a href="http://www.nngroup.com/articles/photos-as-web-content/" rel="external"><span lang="en">Photos as Web Content</span> (disponible en anglais seulement)<span class="wb-inv"> lien externe</span></a></cite></footer>
  </blockquote>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>[Traduction] Les bonnes images expliquent un concept, évoquent un sentiment, transmettent de l'information et enrichissent l'expérience globale des gens sur un site. Les mauvaises images sont un gaspillage d'espace, les utilisateurs les passent outre et, pire encore, elles portent à confusion.</p>
      <p>Selon le contexte et le type d'image, les gens regardent en moyenne moins de la moitié des images qui leur sont présentées – 42 % seulement. Et, en règle générale, ils ne regardent ces images que pendant moins des deux dixièmes d'une seconde. Les gens passent outre plus d'images qu'ils n'en regardent sur le Web, et ils ne regardent les images que pendant une fraction de seconde.</p>
      <p>Les concepteurs devraient faire attention à l'utilisation d'images qui accompagnent du texte, sans toutefois enrichir ce texte. Nous croyons que de telles images ne devraient pas être sur une page. Elles constituent un gaspillage de pixels, du travail gaspillé pour le concepteur et une perte de temps pour les utilisateurs.</p>
      <p>Les utilisateurs regardent les images qui sont liées au contenu environ deux fois plus souvent – 29 % du temps. </p>
      <footer class="text-right">Jakob Nielsen et Kara Pernice<br>
        <cite><a href="http://www.peachpit.com/articles/article.aspx?p=1412019" rel="external"><span lang="en">Eyetracking Web Usability: Images</span> (disponible en anglais seulement)<span class="wb-inv"> lien externe</span></a></cite></footer>
    </blockquote>
  </div>
  <h3 id="tables"><span id="tables-heading">Tableaux</span></h3>
  <div  id="tables-info">
    <div class="well">
      <p><strong>Points clés :</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> Utilisez les tableaux uniquement pour l'information financière, statistique, comparative et numérique</li>
        <li><span class="fa fa-li fa-check text-success"></span> Assurez-vous que toutes les colonnes et/ou rangées ont un en-tête</li>
        <li><span class="fa fa-li fa-check text-success"></span> Faites en sorte que les tableaux demeurent courts, clairs et concis</li>
        <li><span class="fa fa-li fa-check text-success"></span> Assurez-vous qu'il y a suffisamment d'espace blanc entre chaque élément de donnée</li>
      </ul>
    </div>
    <p>Les tableaux constituent un moyen efficace de présenter l'information.  <strong>Utilisez-les seulement pour afficher l'information financière, statistique, comparative et numérique</strong> – et non à des fins stylistiques. S'il est logique de présenter les données à l'aide d'une feuille de calcul, il est alors approprié de présenter les mêmes données dans un tableau. Pour connaître des options de rechange aux tableaux, adressez-vous à votre équipe Web.</p>
    <p>À l'instar du texte, assurez-vous que les tableaux sont  <strong>clairs et concis</strong>, avec le moins possible d'éléments de donnée dans chaque cellule. Si vous devez inclure plus que quelques mots dans une cellule, envisagez d'utiliser un autre média. De plus, si les cellules de votre tableau sont plus qu'à 50 % vides, il sera plus difficile de passer rapidement des en-têtes de tableau au contenu associé – envisagez d'utiliser un autre média.</p>
    <p>S'il n'y a pas suffisamment d'<strong>espace blanc</strong> dans chaque cellule, les données deviennent difficiles à lire. Assurez-vous que chaque rangée et chaque colonne possèdent un en-tête clair et concis. Cela permet aux lecteurs d'écran de transmettre sans ambiguïté le contenu des tableaux. </p>
  </div>
  <h3 id="colour"><span id="colour-heading">Couleur</span></h3>
  <div  id="colour-info">
    <div class="well">
      <p><strong>Points clés :</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> <strong> Avec les couleurs, le minimalisme est de règle.</strong></li>
        <li><span class="fa fa-li fa-check text-success"></span> La couleur peut permettre de grouper des éléments de contenu semblable ou d'indiquer des différences</li>
        <li><span class="fa fa-li fa-check text-success"></span> La couleur ne peut pas être le seul élément qui sert à transmettre  l'information</li>
        <li><span class="fa fa-li fa-check text-success"></span> Le texte et l'arrière-plan doivent présenter un contraste élevé</li>
      </ul>
    </div>
    <p>La couleur devrait accroître la convivialité, et non rivaliser pour obtenir l'attention; <strong>avec les couleurs, le minimalisme est de règle</strong>. Une palette de couleurs limitée représente une approche de coordination et de liaison avec le contenu dans l'ensemble de la présence Web, et elle renforce la <strong>confiance </strong>que les utilisateurs accordent à l'information.</p>
    <p> La couleur est efficace dans les situations suivantes :</p>
    <ul>
      <li>On utilise un maximum de 3 couleurs principales et de 3 couleurs accentuées dans un seul site Web</li>
      <li> La signification culturelle des couleurs est prise en compte</li>
    </ul>
    <p>La couleur permet de <strong>grouper les éléments de contenu semblables ou d'indiquer les différences</strong>. Lorsque vous utilisez de la couleur, demandez-vous quel en est l'effet sur les utilisateurs ayant des limitations visuelles :</p>
    <ul>
      <li><strong>La couleur ne peut pas être le seul élément qui sert à transmettre l'information</strong> – les personnes daltoniennes peuvent avoir de la difficulté à la comprendre (utilisez-la conjointement avec le texte et la texture)</li>
      <li> Certaines combinaisons de couleurs complémentaires peuvent créer des <strong>vibrations visuelles</strong>, qui rendent la lecture très difficile (par exemple, rouge sur bleu, jaune sur bleu, blanc sur jaune)  </li>
    </ul>
    <p>Le texte et l'arrière-plan doivent présenter un  <strong>contraste élevé</strong> – l'outil  <a href="http://juicystudio.com/services/luminositycontrastratio.php" rel="external"><span lang="en">Luminosity Colour Contrast Ratio Analyser</span></a> peut analyser les couleurs en arrière-plan et en avant-plan pour déterminer si le contraste est suffisant. Les utilisateurs lisent le texte noir sur arrière-plan blanc jusqu'à 32 % plus rapidement que du texte clair sur un arrière-plan foncé.</p>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>[Traduction] Le codage par couleurs permet aux utilisateurs de parcourir rapidement les éléments et d'y percevoir rapidement les modèles et les liens. Les éléments de même couleur seront considérés comme liés les uns aux autres, tandis que les éléments présentant des différences de couleur bien visibles seront considérés comme différents. </p>
      <footer class="text-right">Health and Human Services Department.gov<br>
        <cite><a href="http://guidelines.usability.gov/guidelines/185" rel="external"><span lang="en">Standards and usability guidelines</span> (disponible en anglais seulement)<span class="wb-inv"> lien externe</span></a></cite></footer>
    </blockquote>
  </div>
  <h3 id="font"><span id="font-heading">Police</span></h3>
  <div  id="font-info">
    <div class="well">
      <p><strong>Points clés :</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> Limitez le nombre de polices différences qui sont utilisées dans un site Web</li>
        <li><span class="fa fa-li fa-check text-success"></span> Utilisez des polices Web standards</li>
        <li><span class="fa fa-li fa-check text-success"></span> Limitez l'utilisation de polices de couleur</li>
        <li><span class="fa fa-li fa-check text-success"></span> N'écrivez pas tout en majuscules</li>
      </ul>
    </div>
    <p>Sur le Web, 90 % de l'information se trouve sous forme de langage écrit et est présentée à l'aide de polices. La police a un effet sur la <strong>vitesse et le degré d'aisance</strong> avec lesquels les utilisateurs comprennent et lisent le contenu. Voir aussi <a href="strctr-fr.html#colour">Couleur</a>.</p>
    <p>Lorsque vous choisissez des polices, suivez les principes suivants :</p>
    <ul>
      <li><strong>N'utilisez pas plus de 3 polices et de 3 couleurs </strong>dans un seul site Web.
        <ul>
          <li> Autrement, le site Web aura une apparence peu structurée et peu professionnelle</li>
          <li>La plupart des sites Web ont un nombre limité de polices déterminées au préalable dont l'utilisation est autorisée sur le Web. Adressez-vous à votre équipe Web si vous avez besoin de plus de renseignements</li>
        </ul>
      </li>
      <li><strong>Utilisez des polices Web standards </strong>que les utilisateurs peuvent rapidement reconnaître et lire</li>
      <li><strong>Utilisez des polices sans empattement  </strong>« comme Arial » pour le contenu</li>
      <li><strong>Limitez l'utilisation des polices avec empattement</strong>, qui ont des « bras » et des « pattes » (comme  Times  New Roman) aux en-têtes</li>
      <li><strong>N'utilisez pas les polices Comic Sans et Impact</strong></li>
      <li><strong>Utilisez avec prudence les polices de couleur</strong>.
        <ul>
          <li>N'utilisez pas du texte bleu pour du contenu; les utilisateurs pourraient le prendre pour des liens </li>
          <li>Pour une lisibilité optimale, utilisez du texte noir sur arrière-plan blanc</li>
        </ul>
      </li>
      <li><strong> Ne pas utiliser italique « sauf dans les citations directes copiées à partir d'une source externe »</strong>, car ils peuvent ralentir la vitesse de lecture
        <ul>
          <li>Voir aussi <a href="https://www.tbs-sct.gc.ca/hgw-cgf/oversight-surveillance/communications/csc-grc-fra.asp" rel="external">Guide de rédaction du contenu du site Canada.ca <span class="wb-inv"> (lien externe)</span> </a> : Caractères gras, italique et soulignement </li>
        </ul>
      </li>
      <li><strong>N'écrivez pas tout en majuscules</strong>; cela ralentit la lecture et peut sembler agressif</li>
    </ul>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>[Traduction] Les concepteurs devraient [...] s'efforcer d'éliminer, ou du moins de réduire au minimum, la  <strong>charge cognitive superflue </strong>:  le traitement qui nécessite des ressources mentales, sans toutefois aider réellement les utilisateurs à comprendre le contenu (par exemple, les styles de police différents qui ne transmettent aucun sens unique). </p>
      <footer class="text-right">Kathryn Whitenton<br>
        <cite><a href="https://www.nngroup.com/articles/minimize-cognitive-load/" rel="external"><span lang="en">Minimize Cognitive Load to Maximize Usability</span>  (disponible en anglais seulement)<span class="wb-inv"> lien externe</span></a></cite></footer>
    </blockquote></div>
  </div>

