---
{
	"title": "Content structure and presentation",
	"language": "en",
	"altLangPrefix": "strctr",
	"dateModified": "2016-10-17"
}
---

  <p>Content structure and presentation is by topic, or task &minus; whichever  audience best suits your users. Keep the structure simple, logical, and consistent so users can quickly  become familiar with your content. Then users can easily navigate through it to complete their tasks.</p>
  <div class="row mrgn-tp-lg">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Table of contents</h2>
        </div>
        <div class="panel-body">
          <ul>
            <li><a href="#alt">Avoid  multiple and alternative formats</a></li>
            <li><a href="#heading">Optimize headings and menu labels</a></li>
            <li><a href="#links">Link to content correctly</a></li>
            <li><a href="#presentation">Use formatting and presentation elements effectively </a>
              <ul>
                <li><a href="#lists">Lists</a> </li>
                <li><a href="#image">Images</a></li>
                <li><a href="#tables">Tables</a></li>
                <li><a href="#colour">Colour</a></li>
                <li><a href="#font">Font</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Content creation principles</h2>
        </div>
        <div class="list-group"><a href="/english/r1713497special/chad_crf000/styleguide-new/theme-wet-boew/writing/dvlpmnt-en.html" class="list-group-item">Content development</a> <a href="/english/r1713497special/chad_crf000/styleguide-new/theme-wet-boew/writing/rchtctr-en.html" class="list-group-item">Content architecture</a> <a href="/english/r1713497special/chad_crf000/styleguide-new/theme-wet-boew/writing/stl-en.html" class="list-group-item">Content style and flow</a> <a href="/english/r1713497special/chad_crf000/styleguide-new/theme-wet-boew/writing/strctr-en.html" class="list-group-item active">Content structure and presentation</a></div>
      </div>
    </div>
  </div>
  <h2 id="alt"><span id="alt-heading">Avoid multiple and alternative formats</span></h2>
  <div id="heading-alt">
<div class="well">
  <p><strong>Key points:</strong></p>
  <ul class="fa-ul">
    <li><span class="fa fa-li fa-check text-success"></span> Publication of online content in formats other than <abbr title="Hypertext Markup Language">HTML</abbr>, such as Word, <abbr title="Portable document format">PDF</abbr>, <abbr title="Powerpoint file">PPT</abbr>, or Excel, goes against most usability principles
</li>
        <li><span class="fa fa-li fa-check text-success"></span> Alternative and multiple formats are best avoided online unless there is a clear business or user need for them </li>
  </ul>
  </div>
    <p>Information can be published online in many different formats . Each  format has a specific purpose:</p>
    <ul>
      <li><strong><abbr title="Hypertext Markup Language">HTML</abbr></strong> format is meant for structuring and laying  out information on the web</li>
      <li><strong>Word </strong>documents are great for templates or other  types of information that require easy edits</li>
      <li><strong><abbr title="Portable document format">PDF</abbr>s </strong>are best used for official or legal  publications
        <ul>
          <li>They preserve the integrity of the content and layout of the  document</li>
          <li>Generally they are not meant for edit</li>
        </ul>
      </li>
      <li><strong><abbr title="Powerpoint file">PPT</abbr>s</strong> are used for delivering presentations and  if published online,
        <ul>
          <li>They are only ideal when you anticipate someone else might  want to present the same presentation or use it as a template</li>
        </ul>
      </li>
      <li><strong>Excel</strong> is meant for sharing tabular data</li>
    </ul>
    
<p>While different formats can be used online based on a specific need,  <strong><abbr title="Hypertext Markup Language">HTML</abbr> is the best format for online content</strong>. </p>
    <p>When documents are published online in formats other than <abbr title="Hypertext Markup Language">HTML</abbr>, such as  Word, <abbr title="Portable document format">PDF</abbr>, <abbr title="Powerpoint file">PPT</abbr>, or Excel, it creates a number of issues because these formats  are not primarily meant for the web:</p>
    <ul>
      <li>Inaccessible information because documents are  not created with web principles in mind</li>
      <li>Incomplete information&nbsp; because document format and layout (such as a  <abbr title="Powerpoint file">PPT</abbr> slide or an infographic in a <abbr title="Portable document format">PDF</abbr> format) may restrict the amount and type  of information communicated</li>
      <li>Unresponsive documents which do not adjust to  meet users&rsquo; needs in different online contexts (such as mobile)</li>
      <li>Duplicated information that takes up more server  space, which results when multiple formats are available for the same  information </li>
      <li>Conflicting information, which results when  multiple formats are available for the same information, but only one format  gets updated while the others are forgotten</li>
      <li>Documents that are difficult to update because  of format restrictions (for example a <abbr title="Portable document format">PDF</abbr> of an infographic would take lots of  effort, time and money to update if a problem or usability issue is found  because the document was designed with specific presentation and visuals in  mind in a finite amount of document space, making addition of any extra  information impossible)</li>
      <li>Unsustainable practices are reinforced as  alternative formats are created for print, and therefore encourage printing of  documents</li>
      <li>Inflexible information which cannot be reused as  it is locked down in specific document formats and cannot be extracted by a  content management system (<abbr title="content management system">CMS</abbr>)</li>
    </ul>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>Structuring content for reuse means we can create, publish  and use content more efficiently. We can assemble and reassemble it for  different products, audiences, devices or contexts of use. Information embedded  in documents makes this process difficult, if not impossible. [&hellip;] Content  volume also affects findability. The &ldquo;we could put that online&rdquo; mentality runs  unchecked when publishing is as easy as &lsquo;save as <abbr title="Portable document format">PDF</abbr>&rsquo; and upload. Websites can  turn into massive filing cabinets &mdash;making website visitors wade through more  links and search results to find what they&rsquo;re looking for. Perhaps they  never will. The World Bank said recently that over 31% of its reports had never  been downloaded.&rdquo;</p>
<p>&ldquo;Our usability testing often shows people have  more problems with content in <abbr title="Portable document format">PDF</abbr> documents than web pages. They click a  link and start an unexpected or unwanted download. The download fails, or they  bail out when they see how big the file is. People sometimes struggle to  navigate a large document with print layouts, huge graphics and no internal  bookmarks. &nbsp;Often the information they want is in a single paragraph. <abbr title="Portable document format">PDF</abbr>s  can make hard work of simple information needs.</p>
      <footer class="text-right">4Syllables<br>
      <cite><a href="http://4syllables.com.au/articles/relying-on-pdf/" rel="external">Relying on <abbr title="Portable document format">PDF</abbr> online? 6 reasons to stop<span  class="wb-inv"> (external link)</span></a></cite></footer>
</blockquote>



<blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>Nearly one-third of [World Bank] <abbr title="Portable document format">PDF</abbr> reports had never been downloaded, not even once. Another 40 per cent of their reports had been downloaded fewer than 100 times</p>
      <footer class="text-right">The Sydney Morning Herald<br>
      <cite><a href="http://www.smh.com.au/world/world-bank-learns-most-pdfs-it-produces-go-unread-20140509-zr7fs.html" rel="external">World Bank learns most <abbr title="Portable document format">PDF</abbr>s it produces go unread<span  class="wb-inv"> (external link)</span></a></cite></footer>
</blockquote>

<p>Once you define users' tasks, determine the information they need to  complete those tasks: </p>
<ul>
  <li><strong>Keep information specific to  the tasks </strong></li>
  <li><strong>Present it logically or  sequentially in a location where users expect to find it</strong></li>
  <li>Ensure information is timely  and relevant, not redundant or trivial</li>
  <li><a href="#alt">Avoid multiple and alternative formats </a></li>
</ul>


    <p>Since you can&rsquo;t identify all user needs, and because these needs change,  content creators should provide users with a <strong>feedback mechanism</strong>. Content  owners should be open to users' suggestions for changes and modifications. </p>

<h2 id="heading"><span id="heading-heading">Optimize headings and menu labels</span></h2>
  <div id="heading-info">
    <div class="well">
      <p><strong>Key points:</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> Give       each web page a unique, descriptive       title</li>
        <li><span class="fa fa-li fa-check text-success"></span> Use       clear, concise, descriptive, and familiar terms or phrases</li>
        <li><span class="fa fa-li fa-check text-success"></span> Use       important keywords in the first two words</li>
        <li><span class="fa fa-li fa-check text-success"></span> Provide context for where the user is       and why they are there</li>
        <li><span class="fa fa-li fa-check text-success"></span> Use       sub-headings to break up long web       pages</li>
      </ul>
</div>
    <p>The  first thing users see on a web page is the title. <strong>The title must instantly  convey the type of information the page contains</strong>. The page title must also be <strong>unique</strong> so users do not confuse one page with another.</p>
    <p>Make  headings clear and descriptive to help guide users to the information they are looking for. Include keywords in headings, particularly in the <strong>first two  words</strong> to help users scan more easily. </p>
    <p>A good title  provides context for:</p>
    <ul>
      <li>where the user is, and</li>
      <li>why they are there</li>
    </ul>
    <table class="table table-bordered">
    <caption class="wb-inv">Examples of how and how not to write</caption>
      <thead>
        <tr>
          <th scope="col">Context</th>
          <th scope="col"><span class="fa  fa-check text-success"></span> Write</th>
          <th scope="col"><span class="fa fa-ban text-danger"></span> Do not write</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Title is &nbsp;unique and descriptive</td>
          <td>Managing injury and    illness case file notes &ndash; <strong>Template</strong> </td>
          <td>File notes </td>
        </tr>
        <tr>
          <td>Title starts with    most important words</td>
          <td>Information Management <strong>Policy</strong></td>
          <td><strong>Policy    on</strong> Information Management </td>
        </tr>
        <tr>
          <td>Title does not    include unnecessary information </td>
          <td>Recruitment program</td>
          <td>Recruitment    program information &ndash; <strong>What you need to know</strong></td>
        </tr>
        <tr>
          <td>Title is concise</td>
          <td><strong>Approving</strong> travel requests</td>
          <td>How to approve travel    requests </td>
        </tr>
      </tbody>
    </table>
    <p><strong>Sub-headings  make large blocks of text easier to read and scan.</strong> Ensure that sub-headings are  clear, concise and in <a href="/english/r1713497special/chad_crf000/styleguide-new/theme-wet-boew/writing/stl-en.html#parallel">parallel structure</a>.</p>
    <p>It is  a good writing practice to use sub-headings in longer documents. When information is on the web, sub-headings improve usability and readability.</p>
    <p><strong>Good headings and sub-headings  are essential to making web content accessible</strong>. Screen reader users  can use the headings and sub-headings to navigate quickly between sections, and  to better understand or summarize content.</p>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>(A successful heading must be)</p>
      <ul>
        <li><strong>short </strong>(because people  don't read much online); </li>
        <li><strong>rich in information scent </strong>, clearly summarizing the target article; </li>
        <li><strong>front-loaded </strong>with the most important keywords (because users often  scan only the beginning of list items); </li>
        <li><strong>understandable out of context </strong>(because headlines often appear without articles, as in search engine results); and </li>
        <li><strong>predictable </strong>, so users know whether they'll like the full article <em>before </em>they click (because people don't return to sites that promise more than they deliver).</li>
      </ul>
      <footer class="text-right">Nielsen Norman Group<br>
        <cite><a href="http://www.nngroup.com/articles/worlds-best-headlines-bbc-news/" rel="external">World's Best Headlines: <abbr title="British Broadcasting Corporation">BBC</abbr> News<span  class="wb-inv"> (external link)</span></a></cite></footer>
    </blockquote>
    <p>There  are different approaches to writing for print and writing for web. This applies  to headings as well.</p>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>(In) an article in <em>The New York Times </em>about tall people's travails on the road: "Coping With the Tall Traveler's Curse.",...(the) <strong>headline</strong> itself is actually an example of the differences between print and online content style: </p>
      <ul>
        <li>In print, a phrase like "tall traveler's curse" is a bit enticing and   might draw readers in. Because the article featured a photo of a tall   guy crunched in the back of a taxi, the article's content was clear to   anybody glancing at that page in the newspaper</li>
        <li>In contrast, putting the same headline online would fail several  guidelines for writing for the Web :
          <ul>
            <li>The first 3 words have <strong>no information-carrying content</strong>. On the Web, you must start with words like "tall traveler" because users often  scan down the left part of a list of items. They never see the last words in a link unless the first few words attract their attention</li>
            <li>The headline <strong>lacks keywords </strong>&mdash; such as "airline seat" and "hotel bed" &mdash; that are important for   search engine optimization (<abbr title="search engine optimization">SEO</abbr>). No one will search "curse" when trying   to find out which hotel chains offer extra-long beds or which airline   seats are the least unpleasant for long-legged travelers</li>
            <li>The words "tall traveler's curse" are <strong>insufficiently specific </strong>to tell users what the story is about. Because headlines are often   presented as plain links removed from the article itself, the photo of   the poor guy in the cab won't be there to explain the story's content.   Online, the headline alone must provide enough  information scent to let users predict what they'll get if they follow the link</li>
          </ul>
        </li>
      </ul>
      <footer class="text-right">Nielsen Norman Group<br>
        <cite><a href="http://www.nngroup.com/articles/writing-style-for-print-vs-web/" rel="external">Writing Style for Print <abbr title="versus">vs.</abbr> Web<span  class="wb-inv"> (external link)</span></a></cite></footer>
    </blockquote>
    <div id="intranet-ia-info">
      <p>On the intranet, headings and menu labels have to be distinct and meaningful to users, focusing on topics and tasks rather than organizational structure.</p>
      <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
        <p>Many intranets suffer from confusing menu labels. Such labels make it difficult for users to find what they&rsquo;re looking for.</p>
        <p>The most common reasons for confusion are:</p>
        <ul>
          <li>Terms are too broad and end up acting as catch-all (<abbr title="for example">e.g.</abbr>, For Employees)</li>
          <li> Sections such as How do I&hellip; or Tools grow too big</li>
          <li> Different section names on the site lack distinction (<abbr title="for example">e.g.</abbr>, Human Resources and Administration &amp; Management may appear in the same menu)</li>
          <li> Language is polluted with jargon or branded terms</li>
        </ul>
        <p>Unclear naming is one of the biggest and most important projects to tackle when it comes to the intranet <abbr title="Information Architecture">IA</abbr>. Each navigation category must be descriptive, specific, and mutually exclusive so that users can pick where to navigate without hesitation.</p>
        <p>...intranets are initially structured to mimic the organizational configuration of the company, because this type of <abbr title="Information Architecture">IA</abbr> makes maintenance of the intranet easy: each department or area gets a section of the intranet. However, the down side is that every time there&rsquo;s a re-org in the institution, the navigation has to change too. We have also found, in our user testing of intranets, that task-based navigation tends to facilitate learning.</p>
        <p>A common pitfall with task-based <abbr title="Information Architecture">IA</abbr>'s is difficult-to-scan category names. Organizations think that category names need to start with verbs or follow an &ldquo;I need to...&rdquo; pattern in order to be task based. This isn&rsquo;t necessary. Sometimes trying to fit link or menu labels to a specified format makes them long and more difficult to scan, because the most meaningful words don't appear until the end of the label. Task-based <abbr title="Information Architecture">IA</abbr> doesn't require any particular grammatical structure for labels; it just means grouping information according to how employees use it, rather than by who creates and maintains it.</p>
        <footer class="text-right">Nielsen Norman Group<br>
          <cite><a href="https://www.nngroup.com/articles/intranet-information-architecture-ia/" rel="external">Intranet Information Architecture (<abbr title="Information Architecture">IA</abbr>) Trends<span  class="wb-inv"> (external link)</span></a></cite></footer>
      </blockquote>
    </div>
  </div>
  <h2 id="links"><span id="links-heading">Link to content correctly</span> </h2>
  <div id="links-info">
    <div class="well">
      <p><strong>Key points:</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> Use the title of the target page as the title of the hyperlink, or as close as possible</li>
        <li><span class="fa fa-li fa-check text-success"></span> Target of each link must be clear without any additional context beyond the link       itself</li>
        <li><span class="fa fa-li fa-check text-success"></span> Add a hyperlink only to the first reference</li>
        <li><span class="fa fa-li fa-check text-success"></span> Avoid embedding too many hyperlinks in one paragraph</li>
        <li><span class="fa fa-li fa-check text-success"></span> Limit  hyperlinks to important information</li>
        <li><span class="fa fa-li fa-check text-success"></span> Verify that the hyperlinks work</li>
      </ul>
    </div>
    <p><strong>Hyperlinks  guide users</strong> to the information they are looking for. Use hyperlinks to avoid  repeating information that is already clearly expressed on another web page or  to reference related information, such as definitions, supporting information,  and background information.</p>
    <p><strong>Use the title of the  target page as the text in the hyperlink</strong>. It is very confusing to  users if the link text and page name don't match. In  situations when you need to modify the link text, try to <strong>match the text as closely as possible</strong> to the page name.</p>
    <p>To meet accessibility requirements,make the <strong>target  of each link clear, and without any additional context beyond the link text</strong>.&nbsp; Screen reader users can read pages by  generating a list of all the links on the page, and tab from link to link  without any surrounding context. If the wording of the link does not clearly  summarize the content of the target, it can confuse screen reader users. Refer to <a href="/english/r1713497special/chad_crf000/styleguide-new/theme-wet-boew/writing/strctr-en.html#heading">Optimize headings and menu labels</a>. </p>
    <p>If  you refer to another web page more than once, <strong>add a hyperlink only to the first reference</strong>. Avoid putting  too many hyperlinks in a single paragraph. It can be confusing if they  are too close together. Users are not always able to tell where one hyperlink  ends and the next one begins.</p>
    <p>Users  are attracted to hyperlinks and follow them if they see them. Since you don&rsquo;t  want users to ignore the content of the page they are on<strong>, only add a hyperlink to references that can help users complete their  task or that provide valuable information about the task.</strong> Do not add a  hyperlink to unnecessary or unrelated information. Too many hyperlinks are  distracting and it becomes difficult for users to distinguish between important  and unimportant information. Ensure that the hyperlinks direct users to the  right page. Refer to <a href="/english/r1713497special/chad_crf000/styleguide-new/theme-wet-boew/writing/stl-en.html#scent">Create clear paths to  information</a> for more on hyperlinks.</p>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
    <p>Make  text links long enough to be understood, but short enough to minimize  wrapping.</p><br>
    <footer class="text-right">
    <abbr title="United States">U.S.</abbr> Health and Human Services, Standards and Usability  Guidelines <cite><a href="http://guidelines.usability.gov/guidelines/102" rel="external">Use  appropriate text link lengths<span  class="wb-inv"> (external link)</span></a></cite>
    </footer></blockquote>
  </div>
  <h2 id="presentation"><span id="presentation-heading">Use formatting and presentation elements effectively</span></h2>
  <div id="presentation-info">
    <p>To ensure consistent user experience and meet usability  standards, you need to understand when and how to appropriately use various  formatting and presentation elements.</p>
  </div>
  <h3 id="lists"><span id="lists-heading">Lists</span></h3>
  <div  id="lists-info">
    <div class="well">
      <p><strong>Key points:</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> Give       the list a descriptive and unique title</li>
        <li><span class="fa fa-li fa-check text-success"></span> Avoid       sub-lists when possible</li>
        <li><span class="fa fa-li fa-check text-success"></span> Arrange       the list in a logical order</li>
        <li><span class="fa fa-li fa-check text-success"></span> Use       numbers to list steps or instructions and bullets for all other lists</li>
        <li><span class="fa fa-li fa-check text-success"></span> Avoid       alphabetizing items</li>
        <li><span class="fa fa-li fa-check text-success"></span> List       items in a parallel structure</li>
      </ul>
    </div>
    <p><strong>Lists  are easier to scan than paragraphs. </strong>They help highlight or emphasize single idea statements or list items. When you have a series of short, simple points, use lists instead of  paragraphs. Avoid more than one idea per list item. <strong>Sub-lists </strong>are sometimes confusing and difficult to scan. Avoid them  as much as you can. Try to <strong>limit  lists to two levels</strong>. </p>
    <p>Each list requires one of the following: a<strong> descriptive and unique heading</strong>, a <strong>lead-in sentence </strong>or an<strong>  introductory paragraph</strong> to provide some context. Avoid overusing  lists; using too many lists destroys their effectiveness. <strong>Don't make a lead-in sentence like a header - use a proper header</strong>.</p>
    <p>Arrange  list items in:</p>
    <ul>
      <li>logical or sequential order, or by</li>
      <li>priority, importance, or popularity</li>
    </ul>
    <p>If  you list a series of items <strong>where the  order is important, use numbers rather than bullets</strong>. List items with <a href="/english/r1713497special/chad_crf000/styleguide-new/theme-wet-boew/writing/stl-en.html#parallel">parallel structure</a> to  help users quickly scan lists.</p>
    <p>Generally, <strong>do not alphabetize lists</strong>. The user  may not be sure which letter their desired information  falls under.  Alphabetize lists when the information has a stable naming convention, like  the names of people or places.</p>
     <p class="mrgn-tp-lg"><span class="fa  fa-check text-success"></span> <strong>To make lists consistent, </strong>to align with <a href="https://www.tbs-sct.gc.ca/hgw-cgf/oversight-surveillance/communications/csc-grc-eng.asp" rel="external">Canada.ca style guide <span class="wb-inv"> (external link)</span></a> (the current authoritative source), and to make it easier for readers to  scan lists at different screen sizes and resolutions:</p>
<ul>
  <li>Introduce each list with a statement that ends in a colon (:)</li>
    <li>Capitalize the first word in a list item <strong>only</strong> when bullets are <strong>complete thoughts, or if the first word is a proper noun</strong> </li>
    <li>Do not include any punctuation at the end of list item</li>
    <li>Do not use articles &ldquo;the&rdquo; or &ldquo;a&rdquo; to begin a list  </li>
</ul>
  </div>
  <h3 id="image"><span id="image-heading">Images</span></h3>
  <div  id="image-info">
    <div class="well">
      <p><strong>Key points:</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> Images       must support the information</li>
        <li><span class="fa fa-li fa-check text-success"></span> Users       regularly ignore images</li>
        <li><span class="fa fa-li fa-check text-success"></span> Images       can slow the search for information</li>
        <li><span class="fa fa-li fa-check text-success"></span> Text       must accompany and fully describe the images &minus; for non-visual users</li>
      </ul>
    </div>
    <p>Only  add an image if it supports the information that users are looking for. Images need  to help users with navigation or comprehension. Otherwise, the image gets in  the way when users search for relevant information, or they simply ignore it. </p>
    <p> An  image should be professional-looking and &nbsp;modern. Ensure it is clear and non-pixilated.  In addition, <strong>beware that most images are  protected by copyright</strong>. Use only images from approved sources, and  obtain the necessary permission  to use them. </p>
    <p> To meet accessibility  requirements, <strong>always provide text alternatives (alt text) for all non-text content,  such as images,</strong> so that it can change into other forms people that need.  Some examples include large print, braille, speech, symbols or simpler language. When  providing alt text, follow these principles:</p>
    <ul>
      <li><strong>Alt text</strong> should  describe the image and except for rare occasions, must not exceed <strong>125 characters (including spaces)</strong></li>
      <li>For complex  images,&nbsp;or images that require more than 125 characters, do the following:
        <ul>
            <li>Provide a simple text statement as the <strong>alt</strong> value</li>
            <li>Provide a more detailed text description, coded immediately before or       after the image</li>
          </ul>
       </li>
       </ul> <p>This ensures that all users have access to a plain       description of the image, supports different learning styles and      meets accessibility requirements. The content must <strong>fully</strong> describe the image for the non-visual users that use text-to-speech software. <strong>Non-visual  users require the same experience as visual users,</strong> and need to understand  all information without any associated images.</p>
     
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>Users pay close attention to photos and other images that contain   relevant information but ignore fluffy pictures used to "jazz up" Web   pages.</p>
      <footer class="text-right">Nielsen Norman Group<br>
        <cite><a href="http://www.nngroup.com/articles/photos-as-web-content/" rel="external">Photos as Web Content<span  class="wb-inv"> (external link)</span></a></cite></footer>
  </blockquote>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>Good images explain a concept, conjure a feeling, convey information, and enhance people's overall experience on a site. Bad images waste  space, are ignored by users, and, even worse, are confusing.</p>
      <p>Depending on the context and types of images,   people look at less than half of the images presented to them on   average&mdash;only 42 percent. And in general, they look at those images for   less than two-tenths of a second. People ignore more images than they look at on the Web, and they look at images for just a fraction of a second.</p>
      <p>Designers should beware of using images that accompany text but don't do   anything to enhance it. We believe that these images should not be on a   page. They are a waste of pixels, of the designer's work, and of users'   time.</p>
      <p>Users look at images that are related to content about twice as often&mdash;29 percent of the time. </p>
      <footer class="text-right">Jakob Nielsen and Kara Pernice<br>
        <cite><a href="http://www.peachpit.com/articles/article.aspx?p=1412019" rel="external">Eyetracking Web Usability: Images<span  class="wb-inv"> (external link)</span></a></cite></footer>
    </blockquote>
  </div>
  <h3 id="tables"><span id="tables-heading">Tables</span></h3>
  <div  id="tables-info">
    <div class="well">
      <p><strong>Key points:</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> Use       tables for financial, statistical, comparative, or numerical information       only</li>
        <li><span class="fa fa-li fa-check text-success"></span> Ensure       that all columns and/or rows have a heading</li>
        <li><span class="fa fa-li fa-check text-success"></span> Keep       tables short, clear, and concise</li>
        <li><span class="fa fa-li fa-check text-success"></span> Ensure       that there is enough white space around each data element</li>
      </ul>
    </div>
    <p>Tables  are an effective way to present information. <strong>Use them only to display financial, statistical, comparative, or  numerical information</strong> &ndash; not to serve stylistic purposes. If it makes  sense to present the data using a spreadsheet, then it is appropriate to  present the same data in a table. For alternatives to tables, speak to your web team.</p>
    <p>Like  text, ensure tables are <strong>clear and concise</strong>, with as few data elements as  possible in each cell. If you need to include more than a few words in any  cell, consider using another format. Also, if your table has cells that are more than 50% empty, it is harder to scan between table headers and associated content &minus; consider using another format.</p>
    <p>If  there is not enough <strong>white space</strong> in  each cell, data becomes difficult to read. Ensure that each row and column has  a clear and concise heading. This allows screen readers to unambiguously convey  the content of the tables. </p>
  </div>
  <h3 id="colour"><span id="colour-heading">Colour</span></h3>
  <div  id="colour-info">
    <div class="well">
      <p><strong>Key points:</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> Less colour is more</li>
        <li><span class="fa fa-li fa-check text-success"></span> Colour can group similar content or  indicate differences</li>
        <li><span class="fa fa-li fa-check text-success"></span> Colour cannot be the only element  used to convey information</li>
        <li><span class="fa fa-li fa-check text-success"></span> Text and background need to have  high contrast</li>
      </ul>
    </div>
    <p>Colour should enhance usability, not compete  for attention; <strong>less colour is more</strong>. Limited colour palette represents a coordinated and connected approach to content across the entire web presence and enhances users' <strong>trust</strong> in information.</p>
    <p> Colour is effective when:</p>
    <ul>
      <li> Maximum of 3 main colours and 3 accent colours are used across a single  website</li>
      <li> Cultural meaning of colour is considered</li>
    </ul>
    <p>It <strong>groups  similar content or indicates differences</strong>. When using colour, consider how it  affects users with visual limitations:</p>
    <ul>
      <li> <strong>Colour cannot be the only  element used to convey information</strong> &ndash; colour blind people can have trouble &nbsp;understanding it (use in combination with  text, texture)</li>
      <li> Certain complementary colour combinations can create <strong>visual vibrations</strong> which make it really  hard to read (for example, red on blue, yellow on blue, white on yellow)&nbsp; </li>
    </ul>
    <p>Text and background  need to have <strong>high contrast</strong> &ndash; the  tool <a href="http://juicystudio.com/services/luminositycontrastratio.php" rel="external">Luminosity Colour Contrast Ratio Analyser</a> can analyze the background and foreground  colours to determine if there is sufficient contrast. Users read black text on  white background up to 32% faster than light text on a dark background.</p>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>Color coding permits users to rapidly scan and quickly perceive patterns  and relationships among items. Items that share the same color will be  considered as being related to each other, while items with prominent color  differences will seem to be different. </p>
      <footer class="text-right">Health and Human Services Department.gov<br>
        <cite><a href="http://guidelines.usability.gov/guidelines/185" rel="external">Standards and usability  guidelines<span  class="wb-inv"> (external link)</span></a></cite></footer>
    </blockquote>
  </div>
  <h3 id="font"><span id="font-heading">Font</span></h3>
  <div  id="font-info">
    <div class="well">
      <p><strong>Key points:</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> Limit the number of different fonts used across a website</li>
        <li><span class="fa fa-li fa-check text-success"></span> Use standard web fonts</li>
        <li><span class="fa fa-li fa-check text-success"></span> Limit the use of coloured fonts</li>
        <li><span class="fa fa-li fa-check text-success"></span> Do not use all capitals</li>
      </ul>
    </div>
    <p>On the web, 90% of information is in the form of written  language, and is presented with fonts. Fonts affect the <strong>speed and comfort</strong> with which users understand and read content. Refer  also to <a href="/english/r1713497special/chad_crf000/styleguide-new/theme-wet-boew/writing/strctr-en.html#colour">Colour</a>.</p>
    <p>When choosing fonts, follow these principles:</p>
    <ul>
      <li><strong>Do not use more than 3 fonts and 3  colours </strong>across a single website.
        <ul>
          <li> It makes the website look unstructured and  unprofessional</li>
          <li>Most websites have a limited number of pre-determined fonts allowed for web use. Speak to your web team if you need more information</li>
        </ul>
      </li>
      <li><strong>Use standard web fonts </strong>which  users can quickly recognize and read</li>
      <li><strong>Use sans serif fonts </strong>(like Ariel) for content</li>
      <li><strong>Limit  the use of serif fonts</strong> which have "arms" and "feet" (like Times  New Roman) to headings only</li>
      <li><strong>Do not use Comic Sans or</strong> <strong> Impact fonts</strong></li>
      <li><strong>Use coloured fonts carefully</strong>.
        <ul>
          <li>Do not use blue text for content; users can mistake it for links</li>
          <li>Use black text on white background  for best readability</li>
        </ul>
      </li>
      <li><strong>Do not use italics (except in direct quotations copied from an external source)</strong>, as they can slow down the reading speed
        <ul>
          <li>Refer to <a href="https://www.tbs-sct.gc.ca/hgw-cgf/oversight-surveillance/communications/csc-grc-eng.asp">Canada.ca style guide: <span  class="wb-inv"> (external link)</span></a> Bold, italics and underlining</li>
        </ul>
      </li>
      <li><strong>Do not use all capitals</strong>; this slows down reading and can appear aggressive</li>
    </ul>
    <blockquote class="mrgn-bttm-lg mrgn-lft-xl">
      <p>Designers should [&hellip;] strive to eliminate, or at least minimize, <strong>extraneous cognitive load</strong>:  processing that takes up mental resources, but doesn't actually help users  understand the content (for example, different font styles that don&rsquo;t convey  any unique meaning). </p>
      <footer class="text-right">Kathryn Whitenton<br>
        <cite><a href="https://www.nngroup.com/articles/minimize-cognitive-load/" rel="external">Minimize Cognitive Load to Maximize Usability <span  class="wb-inv"> (external link)</span></a></cite></footer>
    </blockquote></div>

