---
{
	"title": "Webmaster / Developer role",
	"language": "en",
	"altLangPrefix": "webmaster",
	"dateModified": "2014-02-28"
}
---
<p>A <strong>webmaster or developer</strong> commonly needs to know the design options, content creation principles, usability principles and accessibility requirements.</p>
<div class="row">
 <div class="col-md-3">
  <div class="panel panel-default">
   <div class="panel-heading">
    <h2 class="panel-title">Design and layout</h2>
   </div>
   <div class="panel-body">
    <p>All design and layout features must be adhered to.</p>
    <p>Refer to: <a href="../design/index-en.html" class="btn btn-primary">Design guide</a></p>
   </div>
  </div>
 </div>
 <div class="col-md-3">
  <div class="panel panel-default">
   <div class="panel-heading">
    <h2 class="panel-title">Content creation</h2>
   </div>
   <div class="panel-body">
    <p>Although a webmaster or developer does not create the content, they must still know basic content creation principles.</p>
    <p>Refer to: <a href="../writing/principals-en.html" class="btn btn-primary">Content creation principles</a></p>
   </div>
  </div>
 </div>
 <div class="col-md-3">
  <div class="panel panel-default">
   <div class="panel-heading">
    <h2 class="panel-title">Usability</h2>
   </div>
   <div class="panel-body">
    <p>All usability principles must be adhered to.</p>
    <p>Refer to: <a href="../usability/index-en.html" class="btn btn-primary">Usability guide</a></p>
   </div>
  </div>
 </div>
 <div class="col-md-3">
  <div class="panel panel-default">
   <div class="panel-heading">
    <h2 class="panel-title">Accessibility requirements</h2>
   </div>
   <div class="panel-body">
    <p>All accessibility requirements must be adhered to.</p>
    <p>Refer to: <a href="../accessibility/index-en.html" class="btn btn-primary">Accessibility</a></p>
   </div>
  </div>
 </div>
</div>