---
{
	"title": "This page has moved",
	"language": "en",
	"altLangPrefix": "principals",
	"dateModified": "2016-10-17"
}
---
<p>Refer to: <a href="prncpls-en.html">Content creation principles</a></p>
