{% if page.content_editable == false %}{% elsif site.content_editable == false and page.content_editable != true %}
{% elsif site.content_editable == true or page.content_editable == true %}
{% assign content_editable = true %}
{% endif %}
{% if page.content_revision_history == false %}{% elsif site.content_revision_history == false and page.content_revision_history != true %}
{% elsif site.content_revision_history == true or page.content_revision_history == true %}
{% assign content_revision_history = true %}
{% endif %}
{% if page.content_questions_comments == false %}{% elsif site.content_questions_comments == false and page.content_questions_comments != true %}
{% elsif site.content_questions_comments == true or page.content_questions_comments == true %}
{% assign content_questions_comments = true %}
{% endif %}
{% if content_editable == true or content_revision_history == true or content_questions_comments == true %}
<ul class="list-inline">
{% if content_editable == true %}
<li><a class="btn btn-default" id="edit-page" href="http://prose.io/#{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/{{ page.path }}">Modifier cette page</a></li>
{% endif %}
{% if content_revision_history == true %}
<li><a class="btn btn-default" href="https://github.com/{{ site.org_name }}/{{ site.repo_name }}/commits/{{ site.branch }}/{{ page.path }}">Historique des révisions</a></li>
{% endif %}
{% if content_questions_comments == true %}
<li><a class="btn btn-default" href="https://github.com/{{ site.org_name }}/{{ site.repo_name }}/issues/new">Questions ou commentaires?</a></li>
{% endif %}
</ul>
{% endif %}
