<footer id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr">
<div class="container">
<nav role="navigation" class="row">
<h2>À propos de ce site</h2>
<section class="col-sm-3">
<h3>Contactez-nous</h3>
<ul class="list-unstyled">
<li><a href="https://github.com/wet-boew/wet-boew-styleguide/issues/new">Questions ou commentaires?</a></li>
</ul>
</section>
<section class="col-sm-3">
<h3>À propos</h3>
<ul class="list-unstyled">
<li><a href="../../wet-boew/index-fr.html#apropos">À propos de la Boîte à outils de l’expérience Web</a></li>
<li><a rel="external" href="https://www.tbs-sct.gc.ca/ws-nw/index-fra.asp">À propos des normes Web</a></li>
</ul>
</section>
<section class="col-sm-3">
<h3>Nouvelles</h3>
<ul class="list-unstyled">
<li><a href="https://github.com/wet-boew/wet-boew-styleguide/pulse">Activité du projet récente</a></li>
<li><a href="https://github.com/wet-boew/wet-boew-styleguide/graphs">Statistiques du projet</a></li>
</ul>
</section>
<section class="col-sm-3">
<h3>Restez branchés</h3>
<ul class="list-unstyled">
<li><a rel="external" href="https://twitter.com/BoiteExpWeb">Twitter</a></li>
</ul>
</section>
</nav>
</div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://wet-boew.github.io/wet-boew/wet-boew/js/wet-boew.min.js"></script>
{% if page.script_src and page.script_src contains '.js' %}
<script src='{{ page.script_src }}'></script>
{% endif %}
</body>
</html>
