<nav role="navigation" id="wb-sm" data-ajax-replace="../../wet-boew/ajax/sitemenu-en.html" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
	<div class="container nvbar">
		<h2>Topics menu</h2>
		<div class="row">
			<ul class="list-inline menu">
					<li><a href="../../wet-boew/index-en.html">WET project</a></li>
					<li><a href="../../wet-boew/docs/start-en.html#implement">Implement WET</a></li>
					<li><a href="../../wet-boew/docs/start-en.html">Contribute to WET</a></li>
			</ul>
		</div>
	</div>
</nav>
