<section class="alert alert-info">
	<h2 class="h3">Work in progress</h2>
	<p>This page is a work in progress and requires review. Please <a href="https://github.com/wet-boew/wet-boew-styleguide/issues/new">file an issue</a> or submit a pull request if information or coding is missing, incorrect or out of sync with the main repository (wet-boew/wet-boew).</p>
</section>
