---
{
	"title": "Alerts",
	"language": "en",
	"altLangPrefix": "alerts",
	"css": ["http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome"],
	"dateModified": "2014-06-16"
}
---
<span class="wb-prettify all-pre"></span>
<div class="row">
	<div class="col-md-8">
		<section class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Table of contents</h2>
			</div>
			<div class="panel-body">
				<ul>
					<li><a href="#description">Description</a></li>
					<li><a href="#options">Alert options</a></li>
					<li><a href="#links">Alert links</a></li>
				</ul>
			</div>
		</section>
	</div>
	<div class="col-md-4 pull-right">
		<section class="well">
			<h2 class="h3 mrgn-tp-0">Related</h2>
			<section>
				<h3 class="h4"><span class="fa fa-picture-o text-muted"></span> Design guide</h3>
				<ul class="list-unstyled mrgn-lft-lg lst-spcd">
					<li><a href="panels-en.html">Panels<span class="wb-inv"> - Design guide</span></a></li>
					<li><a href="wells-en.html">Wells<span class="wb-inv"> - Design guide</span></a></li>
				</ul>
			</section>
		</section>
	</div>
</div>

<section>
	<h2 class="page-header" id="description">Description</h2>
	<p>Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</p>
</section>

<section>
	<h2 class="page-header" id="options">Alert options</h2>
	<p>Wrap any text and an optional dismiss button in <code>.alert</code> and one of the four contextual classes (e.g., <code>.alert-success</code>) for basic alert messages.</p>
	<p>Alerts don't have default classes, only base and modifier classes. A default gray alert doesn't make too much sense, so you're required to specify a type via contextual class. Choose from success, info, warning, or danger.</p>

	<section class="alert alert-success">
		<h3>Well done!</h3>
		<p>You successfully read this important alert message.</p>
	</section>

	<section class="alert alert-info">
		<h3>Heads up!</h3>
		<p>This alert needs your attention, but it's not super important.</p>
	</section>

	<section class="alert alert-warning">
		<h3>Warning!</h3>
		<p>Best check yourself, you're not looking too good.</p>
	</section>

	<section class="alert alert-danger">
		<h3>Oh snap!</h3>
		<p>Change a few things up and try submitting again.</p>
	</section>

	<div class="mrgn-tp-lg">
		<pre><code>&lt;section class=&quot;alert alert-success&quot;&gt;
	&lt;h3&gt;Well done!&lt;/h3&gt;
	&lt;p&gt;You successfully read this important alert message.&lt;/p&gt;
&lt;/section&gt;

&lt;section class=&quot;alert alert-info&quot;&gt;
	&lt;h3&gt;Heads up!&lt;/h3&gt;
	&lt;p&gt;This alert needs your attention, but it's not super important.&lt;/p&gt;
&lt;/section&gt;

&lt;section class=&quot;alert alert-warning&quot;&gt;
	&lt;h3&gt;Warning!&lt;/h3&gt;
	&lt;p&gt;Best check yourself, you're not looking too good.&lt;/p&gt;
&lt;/section&gt;

&lt;section class=&quot;alert alert-danger&quot;&gt;
	&lt;h3&gt;Oh snap!&lt;/h3&gt;
	&lt;p&gt;Change a few things up and try submitting again.&lt;/p&gt;
&lt;/section&gt;</code></pre>
	</div>

	<div class="row wb-eqht mrgn-tp-lg mrgn-bttm-xl">
		<section class="col-md-6">
			<h3 class="mrgn-tp-0 text-success h4"><strong>Use when <span class="glyphicon glyphicon-ok-circle"></span></strong></h3>
			<p>(Info goes here)</p>
		</section>

		<section class="col-md-6 brdr-lft">
			<h3 class="mrgn-tp-0 text-danger h4"><strong>Do not use when <span class="glyphicon glyphicon-remove-circle"></span></strong></h3>
			<p>(Info goes here)</p>
		</section>
	</div>
</section>

<section>
	<h2 class="page-header" id="links">Links in alerts</h2>
	<p>A link within an alert will default to the standard appearance. For example:</p>

	<section class="alert alert-success">
		<h3>Well done!</h3>
		<p>You successfully read <a href="#">this important alert message</a>.</p>
	</section>
 
	<p>To override that appearance, use the <code>.alert-link</code> utility class to quickly provide matching colored links within any alert.</p>
	
	<section class="alert alert-success">
		<h3>Well done!</h3>
		<p>You successfully read <a href="#" class="alert-link">this important alert message</a>.</p>
	</section>

	<section class="alert alert-info">
		<h3>Heads up!</h3>
		<p>This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.</p>
	</section>

	<section class="alert alert-warning">
		<h3>Warning!</h3>
		<p>Best check yourself, you're <a href="#" class="alert-link">not looking too good</a>.</p>
	</section>

	<section class="alert alert-danger">
		<h3>Oh snap!</h3>
		<p><a href="#" class="alert-link">Change a few things up</a> and try submitting again.</p>
	</section>

	<div class="mrgn-tp-lg">
		<pre><code>&lt;section class=&quot;alert alert-success&quot;&gt;
	&lt;h3&gt;Well done!&lt;/h3&gt;
	&lt;p&gt;You successfully read &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;this important alert message&lt;/a&gt;.&lt;/p&gt;
&lt;/section&gt;

&lt;section class=&quot;alert alert-info&quot;&gt;
	&lt;h3&gt;Heads up!&lt;/h3&gt;
	&lt;p&gt;This &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;alert needs your attention&lt;/a&gt;, but it's not super important.&lt;/p&gt;
&lt;/section&gt;

&lt;section class=&quot;alert alert-warning&quot;&gt;
	&lt;h3&gt;Warning!&lt;/h3&gt;
	&lt;p&gt;Best check yourself, you're &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;not looking too good&lt;/a&gt;.&lt;/p&gt;
&lt;/section&gt;

&lt;section class=&quot;alert alert-danger&quot;&gt;
	&lt;h3&gt;Oh snap!&lt;/h3&gt;
	&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;Change a few things up&lt;/a&gt; and try submitting again.&lt;/p&gt;
&lt;/section&gt;</code></pre>
	</div>

	<div class="row wb-eqht mrgn-tp-lg mrgn-bttm-xl">
		<section class="col-md-6">
			<h3 class="mrgn-tp-0 text-success h4"><strong>Use when <span class="glyphicon glyphicon-ok-circle"></span></strong></h3>
			<p>(Info goes here)</p>
		</section>

		<section class="col-md-6 brdr-lft">
			<h3 class="mrgn-tp-0 text-danger h4"><strong>Do not use when <span class="glyphicon glyphicon-remove-circle"></span></strong></h3>
			<p>(Info goes here)</p>
		</section>
	</div>
	<p class="mrgn-tp-lg"><span class="glyphicon glyphicon-info-sign"></span> Some of the code and documentation for this page is sourced from <a href="http://getbootstrap.com/" rel="external">Bootstrap</a></p>
</section>
