---
{
	"title": "Code",
	"language": "en",
	"altLangPrefix": "code",
	"dateModified": "2014-07-03"
}
---
<span class="wb-prettify all-pre"></span>

<div class="row">
	<section class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Table of contents</h2>
			</div>
			<div class="panel-body">
				<ul>
					<li><a href="#description">Description</a></li>
					<li><a href="#inline">Inline code </a></li>
					<li><a href="#keyboard">Keyboard keys </a></li>
					<li><a href="#block">Code block </a></li>
				</ul>
			</div>
		</div>
	</section>

	<section class="col-md-4">
		<div class="well">
			<h2 class="h3 mrgn-tp-0">Related</h2>
			<section>
				<h3 class="h4">Design guide</h3>
				<ul class="list-unstyled mrgn-lft-lg lst-spcd">
					<li><a href="http://wet-boew.github.io/v4.0-ci/demos/prettify/prettify-en.html">Prettify code <span class="wb-inv">- Design guide </span></a></li>
				</ul>
			</section>
		</div>
	</section>
</div>

<section>
	<h2 class="page-header" id="description">Description</h2>
	<p>For quoting blocks of content from another source within your document.</p>
</section>

<section>
	<h2 class="page-header" id="inline">Inline code</h2>
	<div class="well">
		<p>Wrap inline snippets of code with <code>&lt;code&gt;</code>.</p>
	</div>
	<p>For example, <code>&lt;section&gt;</code> should be wrapped as inline.</p>

	<div class="mrgn-tp-lg">
		<pre><code>&lt;p&gt;For example, &lt;code&gt;&amp;lt;section&amp;gt;&lt;/code&gt; should be wrapped as inline.&lt;/p&gt;</code></pre>
	</div>

	<div class="row wb-eqht mrgn-tp-lg mrgn-bttm-xl">
		<section class="col-md-6">
			<h3 class="mrgn-tp-0 text-success h4">Use when <span class="glyphicon glyphicon-ok-circle"></span></h3>
			<p>(Info goes here)</p>
		</section>

		<section class="col-md-6 brdr-lft">
			<h3 class="mrgn-tp-0 text-danger h4">Do not use when <span class="glyphicon glyphicon-remove-circle"></span></h3>
			<p>(Info goes here)</p>
		</section>
	</div>
</section>

<section>
	<h2 class="page-header" id="keyboard">Keyboard keys</h2>
	<p>Use <code>&lt;kbd&gt;</code> to indicate input that is typically entered via keyboard.</p>
	<div class="well">
		<p>To switch directories, type <kbd>cd</kbd> followed by the name of the directory.</p>
	</div>

	<pre><code>&lt;p&gt;To switch directories, type &lt;kbd&gt;cd&lt;/kbd&gt; followed by the name of the directory.&lt;/p&gt;</code></pre>

	<div class="row wb-eqht mrgn-tp-lg mrgn-bttm-xl">
		<section class="col-md-6">
			<h3 class="mrgn-tp-0 text-success h4">Use when <span class="glyphicon glyphicon-ok-circle"></span></h3>
			<p>(Info goes here)</p>
		</section>

		<section class="col-md-6 brdr-lft">
			<h3 class="mrgn-tp-0 text-danger h4"><strong>Do not use when <span class="glyphicon glyphicon-remove-circle"></span></strong></h3>
			<p>(Info goes here)</p>
		</section>
	</div>
</section>

<section>
	<h2 id="block" class="page-header block">Code block</h2>
	<p>Use <code>&lt;pre&gt;&lt;code&gt;</code> for multiple lines of code. Be sure to escape any angle brackets in the code for proper rendering.</p>
	<pre><code>&lt;p&gt;Sample text here...&lt;/p&gt;</code></pre>

	<div class="mrgn-tp-lg">
		<pre><code>&lt;pre&gt;&lt;code&gt;&amp;lt;p&amp;gt;Sample text here...&amp;lt;/p&amp;gt;&lt;/code&gt;&lt;/pre&gt;</code></pre>
	</div>

	<div class="row wb-eqht mrgn-tp-lg mrgn-bttm-xl">
		<section class="col-md-6">
			<h3 class="mrgn-tp-0 text-success h4">Use when <span class="glyphicon glyphicon-ok-circle"></span></h3>
			<p>(Info goes here)</p>
		</section>

		<section class="col-md-6 brdr-lft">
			<h3 class="mrgn-tp-0 text-danger h4">Do not use when <span class="glyphicon glyphicon-remove-circle"></span></h3>
			<p>(Info goes here)</p>
		</section>
	</div>
</section>

<p class="mrgn-tp-lg"><span class="glyphicon glyphicon-info-sign"></span> Some of the code and documentation for this page is sourced from <a href="http://getbootstrap.com/" rel="external">Bootstrap</a></p>
