---
{
	"title": "Floats",
	"language": "en",
	"altLangPrefix": "floats",
	"css": ["http://maxcdn.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome", "css/gridify" ],
	"dateModified": "2016-10-17"
}
---

  <span class="wb-prettify all-pre"></span>
  <div class="row">
    <section class="col-md-8">
      <div class="panel panel-default">
        <header class="panel-heading">
          <h2 class="panel-title">Table of contents</h2>
        </header>
        <div class="panel-body">
          <ul>
            <li><a href="#purpose">Purpose</a></li>
            <li> <a href="#design">Design and coding</a>
              <ul>
                <li> <a href="#basic">Basic use</a>
                  <ul>
                    <li><a href="#right">Right floats</a></li>
                    <li> <a href="#left">Left floats</a> </li>
                    <li><a href="#clearing">Clearing floats </a></li>
                  </ul>
                </li>
                <li><a href="#enhanced">Enhanced use</a>
                  <ul>
                    <li><a href="#addon">Add-on features</a> </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="col-md-4">
      <div class="panel panel-warning">
        <div class="panel-body">
          <h2 class="mrgn-tp-0 h4 text-warning"><span class="fa fa-exclamation-triangle"></span> Work in progress</h2>
          <p>This page is a work in progress.</p>
          <p>Please <a href="https://github.com/wet-boew/wet-boew-styleguide/issues/new">file an issue</a> or submit a pull request if information or coding is missing, incorrect or out of sync with the main repository (wet-boew/wet-boew).</p>
        </div>
      </div>
    </section>
  </div>
  <h2 id="purpose"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-info fa-stack-1x fa-inverse"></span></span> Purpose</h2>
  <p>Use a float to change the normal flow of an element. Push the  element to the left or right of its container, where text and inline elements  wrap around it. </p>
  <h2 id="design"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-paint-brush fa-stack-1x fa-inverse"></span></span> Design and coding</h2>
  <h3 id="basic">Basic use</h3>
  <h4 id="right"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-arrow-right fa-stack-1x fa-inverse"></span></span> Right floats</h4>
  <p>Use to float an element to the right.</p>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h5 class="mrgn-tp-0">Appearance</h5>
          <p class="pull-right">Pulled right</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> Correct use</h5>
<p>Compliance point(s):</p>
        <ul>
        <li>Use  <code>.pull-right</code> to float specific content to the right while  non-floating elements wrap around it</li>
      </ul>
      <h5 class="mrgn-tp-0 text-danger"><span class="glyphicon glyphicon-remove-circle"></span> Incorrect use</h5><p>Compliance point(s):</p><ul>
        <li>Do not use this component in a way that conflicts with the preceding compliance <span class="nowrap">point(s)</span></li>
        <li>Do not use to right align text. For alignment options, refer to: <a href="alignment-en.html">Alignment.</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h5 class="mrgn-tp-0">Code</h5>
      <pre><code>&lt;div <strong>class=&quot;pull-right&quot;</strong>&gt;...&lt;/div&gt;</code></pre>
    </div>
  </div>
  <h4 id="left"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-arrow-left fa-stack-1x fa-inverse"></span></span> Left floats</h4>
  <p>Use to float an element to the left.</p>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h5 class="mrgn-tp-0">Appearance</h5>
          <p class="pull-left">Pulled left</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> Correct use</h5>
<p>Compliance point(s):</p>
        <ul>
        <li>Use <code>.pull-left</code>   to float specific content to the left while  non-floating elements wrap around it</li>
      </ul>
      <h5 class="mrgn-tp-0 text-danger"><span class="glyphicon glyphicon-remove-circle"></span> Incorrect use</h5><p>Compliance point(s):</p><ul>
        <li>Do not use this component in a way that conflicts with the preceding compliance <span class="nowrap">point(s)</span></li>
        <li>Do not use to left align text.  For alignment options, refer to: <a href="alignment-en.html">Alignment.</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h5 class="mrgn-tp-0">Code</h5>
      <pre><code>&lt;div <strong>class=&quot;pull-left&quot;</strong>&gt;...&lt;/div&gt;</code></pre>
    </div>
  </div>
  <h4 id="clearing"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-ban fa-stack-1x fa-inverse"></span></span> Clearing floats</h4>
  <p>Use to clear (reset) the content float on any element.</p>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h5 class="mrgn-tp-0">Appearance</h5>
          <p>Without clearing:</p>
          <p class="pull-right mrgn-lft-md">Pulled right A</p>
          <p class="pull-right">Pulled right B</p>
          <div class="clearfix"></div>
          <p>With clearing:</p>
          <p class="pull-right">Pulled right A</p>
          <div class="clearfix"></div>
          <p class="pull-right">Pulled right B</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h5 class="mrgn-tp-0 text-success"><span class="glyphicon glyphicon-ok-circle"></span> Correct use</h5>
<p>Compliance point(s):</p>
        <ul>
        <li>Use  <code>.clearfix</code> to reset the content flow, and prevent any additional content from floating around or above an element</li>
      </ul>
      <h5 class="mrgn-tp-0 text-danger"><span class="glyphicon glyphicon-remove-circle"></span> Incorrect use</h5><p>Compliance point(s):</p><ul>
        <li>Do not use this component in a way that conflicts with the preceding compliance <span class="nowrap">point(s)</span></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h5 class="mrgn-tp-0">Code</h5>
      <pre><code><br>&lt;p class=&quot;pull-right&quot;&gt;Pulled right A&lt;/p&gt;<br>&lt;div <strong>class=&quot;clearfix&quot;</strong>&gt;&lt;/div&gt;<br>&lt;p class=&quot;pull-right&quot;&gt;Pulled right B&lt;/p&gt;</code></pre>
    </div>
  </div>
  <h3 id="enhanced">Enhanced use</h3>
  <h4 id="addon"><span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-stack-1x fa-plus fa-inverse"></span></span> Add-on features</h4>
  <p>Additional add-on features and behaviours are available.</p>
  <ul class="list-inline lst-spcd">
    <li><a class="btn btn-default" href="reflow-en.html"> Reflowing content around grids</a></li>
  </ul>
  <p class="mrgn-tp-lg text-muted">Some of the code and documentation for this page is sourced from <a href="http://getbootstrap.com/" >Bootstrap<span  class="wb-inv"> (external link)</span></a></p>