---
{
	"title": "Floats",
	"language": "en",
	"altLangPrefix": "floats",
	"dateModified": "2014-07-03"
}
---
<span class="wb-prettify all-pre"></span>

<div class="row">
	<section class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Table of contents</h2>
			</div>
			<div class="panel-body">
				<ul>
					<li><a href="#description">Description</a></li>
					<li><a href="#options">Floats options</a></li>
					<li><a href="#clearing">Clearing floats </a></li>
				</ul>
			</div>
		</div>
	</section>

	<section class="col-md-4">
		<div class="well">
			<h2 class="h3 mrgn-tp-0">Related</h2>
			<section>
				<h3 class="h4">Design guide</h3>
				<ul class="list-unstyled mrgn-lft-lg lst-spcd">
					<li><a href="alignment-en.html">Alignment<span class="wb-inv"> - Design guide</span></a></li>
					<li><a href="reflow-en.html">Reflowing content around grids<span class="wb-inv"> - Design guide </span></a></li>
				</ul>
			</section>
		</div>
	</section>
</div>

<section>
	<h2 class="page-header" id="description">Description</h2>
	<p>(Info goes here)</p>
</section>

<section>
	<h2 class="page-header" id="options">Float options</h2>
	<p>Float an element to the left or right with a class.</p>

	<div class="mrgn-tp-lg">
		<pre><code>&lt;div class=&quot;pull-left&quot;&gt;...&lt;/div&gt;
&lt;div class=&quot;pull-right&quot;&gt;...&lt;/div&gt;</code></pre>
	</div>

	<section>
		<h3>Example</h3>
		<div class="row">
			<div class="col-md-4 pull-right">
				<div class="well">
					<p>Pulled right A</p>
				</div>
			</div>

			<div class="col-md-4 pull-right">
				<div class="well">
					<p>Pulled right B</p>
				</div>
			</div>
		</div>

		<pre><code>&lt;div class=&quot;row&quot;&gt;
	&lt;div class=&quot;col-md-4 pull-right&quot;&gt;
		&lt;div class=&quot;well&quot;&gt;
			&lt;p&gt;Pulled right A&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;

	&lt;div class=&quot;col-md-4 pull-right&quot;&gt;
		&lt;div class=&quot;well&quot;&gt;
			&lt;p&gt;Pulled right B&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
	</section>

	<div class="row wb-eqht mrgn-tp-lg mrgn-bttm-xl">
		<section class="col-md-6">
			<h3 class="mrgn-tp-0 text-success h4">Use when <span class="glyphicon glyphicon-ok-circle"></span></h3>
			<p>(Info goes here)</p>
		</section>

		<section class="col-md-6 brdr-lft">
			<h3 class="mrgn-tp-0 text-danger h4">Do not use when <span class="glyphicon glyphicon-remove-circle"></span></h3>
			<p>(Info goes here)</p>
		</section>
	</div>
</section>

<section>
	<h2 class="page-header" id="clearing">Clearing floats</h2>
	<p>Clear the <code>float</code> on any element with the <code>clearfix</code> class.</p>

	<div class="mrgn-tp-lg">
		<pre><code>&lt;div class=&quot;clearfix&quot;&gt;...&lt;/div&gt;</code></pre>
	</div>

	<section>
		<h3>Example</h3>
		<div class="row">
			<div class="col-md-4 pull-right">
				<div class="well">
					<p>Pulled right A</p>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-4 pull-right">
				<div class="well">
					<p>Pulled right B</p>
				</div>
			</div>
		</div>

		<pre><code>&lt;div class=&quot;row&quot;&gt;
	&lt;div class=&quot;col-md-4 pull-right&quot;&gt;
		&lt;div class=&quot;well&quot;&gt;
			&lt;p&gt;Pulled right A&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;clearfix&quot;&gt;&lt;/div&gt;
	&lt;div class=&quot;col-md-4 pull-right&quot;&gt;
		&lt;div class=&quot;well&quot;&gt;
			&lt;p&gt;Pulled right B&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
	</section>

	<div class="row wb-eqht mrgn-tp-lg mrgn-bttm-xl">
		<section class="col-md-6">
			<h3 class="mrgn-tp-0 text-success h4">Use when <span class="glyphicon glyphicon-ok-circle"></span></h3>
			<p>(Info goes here)</p>
		</section>

		<section class="col-md-6 brdr-lft">
			<h3 class="mrgn-tp-0 text-danger h4">Do not use when <span class="glyphicon glyphicon-remove-circle"></span></h3>
			<p>(Info goes here)</p>
		</section>
	</div>
</section>

<p class="mrgn-tp-lg"><span class="glyphicon glyphicon-info-sign"></span> Some of the code and documentation for this page is sourced from <a href="http://getbootstrap.com/" rel="external">Bootstrap</a></p>
