---
{
	"title": "Design guide",
	"language": "en",
	"altLangPrefix": "index",
	"css": ["http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome"],
	"dateModified": "2014-09-22"
}
---
<p>Offers a large selection of design elements for both basic and complex designs in the <a href="http://wet-boew.github.io/themes-dist/theme-base/index-en.html">Base theme.</a></p>

<section>
	<h2>Structure and placement</h2>
	<p>Designing content layout with CSS.</p>
	<div class="row">
	<div class="col-md-3">
		<ul class="list-unstyled">
			<li><a href="alignment-en.html">Absolute positioning</a></li>
			<li><a href="position-en.html">Alignment</a></li>
			<li><a href="floats-en.html">Floats</a></li>
			<li><a href="grids-en.html">Grids</a></li>
		</ul>
	</div>

	<div class="col-md-3">
		<ul class="list-unstyled">
			<li><a href="proximity-en.html">Margin proximity</a></li>
			<li><a href="reflow-en.html">Reflowing content around grids</a></li>
		</ul>
	</div>
	</div>
</section>

<section>
	<h2>Basic effects</h2>
	<p>Basic design techniques.</p>
	<div class="row">
	<div class="col-md-3">
		<ul class="list-unstyled">
			<li><a href="borders-en.html">Borders</a></li>
			<li><a href="blockquotes-en.html">Blockquotes</a></li>
			<li><a href="buttons-en.html">Buttons</a></li>
			<li><a href="code-en.html">Code</a></li>
		</ul>
	</div>
	<div class="col-md-3">
		<ul class="list-unstyled">
			<li><a href="colour-en.html">Colour</a></li>
			<li><a href="forms-en.html">Forms</a></li>
			<li><a href="headings-en.html">Headings</a></li>
			<li><a href="icons-en.html">Icons</a></li>
		</ul>
	</div>
	<div class="col-md-3">
		<ul class="list-unstyled">
			<li><a href="images-en.html">Images</a></li>
			<li><a href="visible-en.html">Invisible and visible content</a></li>
			<li><a href="links-en.html">Links</a></li>
			<li><a href="lists-en.html">Lists</a></li>
		</ul>
	</div>
	<div class="col-md-3">
		<ul class="list-unstyled">
			<li><a href="keyboard-en.html">Keyboard keys</a></li>
			<li><a href="opacity-en.html">Opacity</a></li>
			<li><a href="sizing-en.html">Sizing</a></li>
			<li><a href="tables-en.html">Tables</a></li>
		</ul>
	</div>
	</div>	
</section>

<section>
	<h2>Menu and navigation</h2>
	<p>Basic CSS design for menus and navigation.</p>
	<div class="row">
	<div class="col-md-3">
		<ul class="list-unstyled">
			<li><a href="buttons-en.html">Buttons</a></li>
			<li><a href="list-group-en.html">List group</a></li>
			<li><a href="pagination-en.html">Pagination</a></li>
			<li><a href="pills-en.html">Pills</a></li>
		</ul>
	</div>
	</div>
</section>

<section>
	<h2>Callouts</h2>
	<p>Look in this section for some design techniques that adds importance to pieces of text on a page.</p>
	<div class="row">
	<div class="col-md-3">
		<ul class="list-unstyled">
			<li><a href="alerts-en.html">Alerts</a></li>
			<li><a href="badges-en.html">Badges</a></li>
			<li><a href="buttons-en.html">Buttons</a></li>
			<li><a href="labels-en.html">Labels</a></li>
		</ul>
	</div>
	<div class="col-md-3">
		<ul class="list-unstyled">
			<li><a href="jumbotron-en.html">Jumbotron</a></li>
			<li><a href="panels-en.html">Panels</a></li>
			<li><a href="progressmeter-en.html">Progress bar</a></li>
			<li><a href="wells-en.html">Wells</a></li>
		</ul>
	</div>
	</div>
</section>

<br />
<br />

<section>
	<h2 id="plugin" class="mrgn-tp-0">Plug-in design features</h2>
	<p>JavaScript and polyfill design features.</p>
	<table id="components" class="wb-prettify wb-tables table table-striped table-hover" data-wet-boew='{"aoColumnDefs": [ { "bVisible": false, "aTargets": [ 3 ] } ], "aLengthMenu": [[10, 25, -1], [10, 25, "All"]], "iDisplayLength": -1 }'>
		<thead>
			<tr>
				<th>Name</th>
				<th>Category</th>
				<th>Description</th>
				<th>Keywords</th>
			</tr>
		</thead>
		<tbody>
		 <tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/archived/archived-en.html">ARCHIVED - Archiving content</a></td>
			<td>Other</td>
			<td>Helps users identify Web pages that have been archived online.</td>
			<td>archived</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/arb-rra/arb-rra-en.html">Accessibility responsibility breakdown (WCAG 2.0)</a></td>
			<td>Other</td>
			<td>Provides a breakdown of WCAG 2.0 accessibility responsibilities throughout the Web production chain.</td>
			<td>arb-rra</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/cal-events/cal-events-en.html">Calendar of Events</a></td>
			<td>Plugin</td>
			<td>Dynamically generates a calendar interface for navigating a list of events.</td>
			<td>cal-events</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/country-content/country-content-en.html">Country Content</a></td>
			<td>Plugin</td>
			<td>A basic AjaxLoader wrapper that inserts AJAXed-in content based on a visitor&#x27;s country as determined by http://freegeoip.net</td>
			<td>country-content</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/data-ajax/data-ajax-en.html">Data Ajax</a></td>
			<td>Plugin</td>
			<td>A basic AjaxLoader wrapper that inserts AJAXed-in content.</td>
			<td>data-ajax</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/data-inview/data-inview-en.html">Data Inview: Bar</a></td>
			<td>Plugin</td>
			<td>Displays a bar when a section moves out of the viewport.</td>
			<td>data-inview</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/data-picture/data-picture-en.html">Data Picture</a></td>
			<td>Plugin</td>
			<td>Event driven port of Picturefill</td>
			<td>data-picture</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/datalist/datalist-en.html">Datalist polyfill (auto-complete)</a></td>
			<td>Polyfill</td>
			<td>Adds auto-complete functionality to specific &lt;input&gt; fields by dynamically displaying a list of words that match the &lt;datalist&gt;.</td>
			<td>datalist</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/details/details-en.html">Details/summary polyfill (expandable/collapsible content)</a></td>
			<td>Polyfill</td>
			<td>The &lt;details&gt; and &lt;summary&gt; elements allows content to be expanded and collapsed.</td>
			<td>details</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/equalheight/equalheight-en.html">Equal height</a></td>
			<td>Plugin</td>
			<td>A plugin for responsive equal height.</td>
			<td>equalheight</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/favicon/favicon-en.html">Favicon</a></td>
			<td>Plugin</td>
			<td>This plugin provides the ability to add and update the favicon&#x27;s on a web page.</td>
			<td>favicon</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/feedback/feedback-en.html">Feedback form</a></td>
			<td>Plugin</td>
			<td>Allows users to submit feedback for a specific Web page or website.</td>
			<td>feedback</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/feeds/feeds-en.html">Feeds</a></td>
			<td>Plugin</td>
			<td>Aggregates and displays entries from one or more Web feeds.</td>
			<td>feeds</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/footnotes/footnotes-en.html">Footnotes</a></td>
			<td>Plugin</td>
			<td>Provides a consistent, accessible way of handling footnotes across websites.</td>
			<td>footnotes</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/formvalid/formvalid-en.html">Form validation</a></td>
			<td>Plugin</td>
			<td>Provides generic validation and error message handling for Web forms.</td>
			<td>formvalid</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/datepicker/datepicker-en.html">Input type=&quot;date&quot; polyfill (date picker)</a></td>
			<td>Polyfill</td>
			<td>The &lt;input type=&quot;date&quot;&gt; element dynamically generates a calendar interface for selecting a date in a form.</td>
			<td>datepicker</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/slider/slider-en.html">Input type=&quot;range&quot; polyfill (slider control)</a></td>
			<td>Polyfill</td>
			<td>The &lt;input type=&quot;range&quot;&gt; element displays a slider control bar.</td>
			<td>slider</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/lightbox/lightbox-en.html">Lightbox</a></td>
			<td>Plugin</td>
			<td>Helps build a photo gallery on a web page.</td>
			<td>lightbox</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/mathml/mathml-en.html">MathML polyfill</a></td>
			<td>Polyfill</td>
			<td>Emulates MathML support for browsers that do not have MathML support.</td>
			<td>mathml</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/menu/menu-en.html">Menu</a></td>
			<td>Plugin</td>
			<td>Provides an interactive menu bar with optional sub-menus.</td>
			<td>menu</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/meter/meter-en.html">Meter polyfill</a></td>
			<td>Polyfill</td>
			<td>The &lt;meter&gt; element displays a scalar measurement in a known range.</td>
			<td>meter</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/multimedia/multimedia-audio-en.html">Multimedia Player - Audio-only</a></td>
			<td>Plugin</td>
			<td>Provides an accessible audio player for embedding audio into web pages.</td>

			<td>multimedia</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/multimedia/multimedia-en.html">Multimedia Player - Video</a></td>
			<td>Plugin</td>
			<td>Provides an accessible multimedia player for embedding video into web pages.</td>
			<td>multimedia</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/multimedia/multimedia-youtube-en.html">Multimedia Player - YouTube</a></td>
			<td>Plugin</td>
			<td>Provides an accessible multimedia player for embedding YouTube video into web pages.</td>
			<td>multimedia, youtube</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/overlay/overlay-en.html">Overlay</a></td>
			<td>Plugin</td>
			<td>A flexible, responsive overlay plugin.</td>
			<td>overlay</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/prettify/prettify-en.html">Prettify</a></td>
			<td>Plugin</td>
			<td>Provides syntax highlighting of source code snippets in an HTML page using google-code-prettify.</td>
			<td>prettify</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/progress/progress-en.html">Progress polyfill (progress bar)</a></td>
			<td>Polyfill</td>
			<td>The &lt;progress&gt; element displays the progress of a task.</td>
			<td>progress</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/session-timeout/session-timeout-en.html">Session Timeout</a></td>
			<td>Plugin</td>
			<td>Helps Web asset owners to provide session timeout and inactivity timeout functionality.</td>
			<td>session-timeout</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/share/share-en.html">Share widget</a></td>
			<td>Plugin</td>
			<td>Facilitates sharing Web content on social media platforms.</td>
			<td>share</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/tabs/tabs-en.html">Tabbed Interface</a></td>
			<td>Plugin</td>
			<td>Dynamically stacks multiple sections of content, transforming them into a tabbed interface.</td>
			<td>tabs</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/tabs/tabs-carousel-en.html">Tabbed Interface - Carousel</a></td>
			<td>Plugin</td>
			<td>Dynamically stacks multiple images and captions into a carousel (or slider) widget.</td>
			<td>tabs, carousel</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/tables/tables-en.html">Tables</a></td>
			<td>Plugin</td>
			<td>Integrates the DataTables plugin into WET providing searching, sorting, filtering, pagination and other advanced features for tables.</td>
			<td>tables</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/texthighlight/texthighlight-en.html?txthl=avian%20influenza+world+cook+flu-like%20symptoms+Don&#x27;t%20Forget...+causes%20sickness%20in%20birds,%20it%20can%20also%20infect%20people.">Text highlighting</a></td>
			<td>Plugin</td>
			<td>Automatically highlights certain words on a Web page. The highlighted words can be selected via the query string.</td>
			<td>texthighlight</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/toggle/toggle-en.html">Toggle</a></td>
			<td>Plugin</td>
			<td>Allows a link to toggle elements between on and off states.</td>
			<td>toggle</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/demos/twitter/twitter-en.html">Twitter embedded timeline</a></td>
			<td>Plugin</td>
			<td>Helps with implementing Twitter embedded timelines.</td>
			<td>twitter</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/v4.0-ci/theme/index-en.html">WET theme</a></td>
			<td>Other</td>
			<td>The WET theme was developed to provide an example implementation of the Base Theme.</td>
			<td>theme-wet-boew</td>
		</tr>
		</tbody>
	</table>
</section>

<p><span class="glyphicon glyphicon-info-sign"></span> Some of the code and documentation for these pages is sourced from <a href="http://getbootstrap.com/" rel="external">Bootstrap</a></p>
