---
{
	"title": "Keyboard keys",
	"language": "en",
	"altLangPrefix": "keyboard",
	"css": "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome",
	"dateModified": "2014-02-28"
}
---
<div class="wb-prettify all-pre">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Table of contents</h2>
        </div>
        <div class="panel-body">
          <ul>
            <li><a href="#description">Description</a></li>
            <li><a href="#options">Code options </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title"><span class="fa fa-wheelchair text-muted"></span> Accessibility guide</h2>
        </div>
        <div class="list-group"><a href="../accessibility/keyboard-en.html" class="list-group-item">Keyboard and user controls<span class="wb-inv"> - Accessibility guide</span></a></div>
      </div>
    </div>
  </div>
  <h2 class="page-header" id="description">Description</h2>
  <p>Keyboard keys are represented by the &lt;kbd&gt; element.</p>
  <h2 class="page-header" id="options">Code options</h2>
  <p>Press <kbd>Shift</kbd></p>
  <p>Press <kbd><abbr title="Control">Ctrl</abbr></kbd></p>
  <p>Press <kbd>Enter</kbd></p>
  <pre>&lt;p&gt;Press &lt;kbd&gt;Shift&lt;/kbd&gt;&lt;/p&gt;
&lt;p&gt;Press &lt;kbd&gt;&lt;abbr title=&quot;Control&quot;&gt;Ctrl&lt;/abbr&gt;&lt;/kbd&gt;&lt;/p&gt;
&lt;p&gt;Press &lt;kbd&gt;Enter&lt;/kbd&gt;&lt;/p&gt;</pre>
  <div class="row wb-eqht mrgn-tp-lg mrgn-bttm-xl">
    <div class="col-md-6">
      <h3 class="mrgn-tp-0 text-success h4"><strong>Use when <span class="glyphicon glyphicon-ok-circle"></span></strong></h3>
      <p>(Info goes here)</p>
    </div>
    <div class="col-md-6 brdr-lft">
      <h3 class="mrgn-tp-0 text-danger h4"><strong>Do not use when <span class="glyphicon glyphicon-remove-circle"></span></strong></h3>
      <p>(Info goes here)</p>
    </div>
  </div>
  <p class="mrgn-tp-lg"><span class="glyphicon glyphicon-info-sign"></span> Some of the code and documentation for this page is sourced from <a href="http://getbootstrap.com/" rel="external">Bootstrap</a></p>
</div>
