---
{
	"title": "Margin proximity",
	"language": "en",
	"altLangPrefix": "proximity",
	"dateModified": "2014-10-14"
}
---
<span class="wb-prettify all-pre"></span>

<div class="row">
	<section class="col-md-8">
		<div class="panel panel-default">
			<header class="panel-heading">
				<h2 class="panel-title">Table of contents</h2>
			</header>
			<div class="panel-body">
				<ul>
					<li><a href="#description">Description</a></li>
					<li><a href="#options">Options</a></li>
				</ul>
			</div>
		</div>
	</section>

	<section class="col-md-4 pull-right">
		<div class="well">
			<h2 class="h3 mrgn-tp-0">Related</h2>
			<section>
				<h3 class="h4">Design guide</h3>
				<ul class="list-unstyled mrgn-lft-lg lst-spcd">
					<li><a href="position-en.html">Absolute positioning<span class="wb-inv"> - Design guide </span></a></li>
					<li><a href="reflow-en.html">Reflowing content around grids<span class="wb-inv"> - Design guide </span></a></li>
				</ul>
			</section>
		</div>
	</section>
</div>

<section>
	<h2 class="page-header" id="description">Description</h2>
	<p>Increase or decrease the proximity of one object to another by using these classes.  Additionally these classes allow grid and non-grid content to exist in the same row.</p>
</section>

<section>
	<h2 class="page-header" id="options">Options</h2>
	<table class="table table-bordered">
		<tr>
			<th scope="col">Top margin</th>
			<th scope="col">Right margin</th>
			<th scope="col">Bottom margin</th>
			<th scope="col">Left margin</th>
		</tr>
		<tr>
			<td>
				<ul>
					<li><code>.mrgn-tp-0</code> = 0px</li>
					<li><code>.mrgn-tp-sm</code> = 5px</li>
					<li><code>.mrgn-tp-md</code> = 15px</li>
					<li><code>.mrgn-tp-lg</code> = 30px</li>
					<li><code>.mrgn-tp-xl</code> = 50px</li>
				</ul>
			</td>
			<td>
				<ul>
					<li><code>.mrgn-rght-0</code> = 0px</li>
					<li><code>.mrgn-rght-sm</code> = 5px</li>
					<li><code>.mrgn-rght-md</code> = 15px</li>
					<li><code>.mrgn-rght-lg</code> = 30px</li>
					<li><code>.mrgn-rght-xl</code> = 50px</li>
				</ul>
			</td>
			<td>
				<ul>
					<li><code>.mrgn-bttm-0</code> = 0px</li>
					<li><code>.mrgn-bttm-sm</code> = 5px</li>
					<li><code>.mrgn-bttm-md</code> = 15px</li>
					<li><code>.mrgn-bttm-lg</code> = 30px</li>
					<li><code>.mrgn-bttm-xl</code> = 50px</li>
				</ul>
			</td>
			<td>
				<ul>
					<li><code>.mrgn-lft-0</code> = 0px</li>
					<li><code>.mrgn-lft-sm</code> = 5px</li>
					<li><code>.mrgn-lft-md</code> = 15px</li>
					<li><code>.mrgn-lft-lg</code> = 30px</li>
					<li><code>.mrgn-lft-xl</code> = 50px</li>
				</ul>
			</td>
		</tr>
	</table>

	<div class="row wb-eqht mrgn-tp-lg mrgn-bttm-xl">
		<section class="col-md-6">
			<h3 class="mrgn-tp-0 text-success h4">Use when <span class="glyphicon glyphicon-ok-circle"></span></h3>
			<p>(Info goes here)</p>
		</section>

		<section class="col-md-6 brdr-lft">
			<h3 class="mrgn-tp-0 text-danger h4">Do not use when <span class="glyphicon glyphicon-remove-circle"></span></h3>
			<p>(Info goes here)</p>
		</section>
	</div>
</section>
