---
{
	"title": "Margin proximity",
	"language": "en",
	"altLangPrefix": "proximity",
	"css": ["http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome"],
	"dateModified": "2014-02-28"
}
---
<div class="wb-prettify all-pre">
 <div class="row">
  <div class="col-md-8">
   <div class="panel panel-default">
    <div class="panel-heading">
     <h2 class="panel-title">Table of contents</h2>
    </div>
    <div class="panel-body">
     <ul>
      <li><a href="#description">Description</a></li>
      <li><a href="#options">Options</a></li>
     </ul>
    </div>
   </div>
  </div>
  <div class="col-md-4 pull-right">
   <div class="well">
    <h2 class="h3 mrgn-tp-0">Related </h2>
    <h3 class="h4"><span class="fa fa-picture-o text-muted"></span> Design guide</h3>
    <ul class="list-unstyled mrgn-lft-lg lst-spcd">
     <li><a href="position-en.html">Absolute positioning<span class="wb-inv"> - Design guide </span></a></li>
     <li><a href="reflow-en.html">Reflowing content around grids<span class="wb-inv"> - Design guide </span></a></li>
    </ul>
   </div>
  </div>
 </div>
 <h2 class="page-header" id="description">Description</h2>
 <p>Increase of decrease the proxmity of one object to another by using these classes.  Additionally these classes allow grid and non-grid content to exist in the same row.</p>
 <h2 class="page-header" id="options">Options</h2>
 <table class="table table-bordered">
  <tr>
   <th scope="col">Top margin </th>
   <th scope="col">Right margin </th>
   <th scope="col">Bottom margin </th>
   <th scope="col">Left margin </th>
  </tr>
  <tr>
   <td><p><code>.mrgn-tp-0</code> = 0px </p>
    <p><code>.mrgn-tp-sm</code> = 5px </p>
    <p><code>.mrgn-tp-md</code> = 15px </p>
    <p><code>.mrgn-tp-lg</code> = 30px </p>
    <p><code>.mrgn-tp-xl</code> = 50px </p></td>
   <td><p><code>.mrgn-rght-0</code> = 0px </p>
    <p><code>.mrgn-rght-sm</code> = 5px </p>
    <p><code>.mrgn-rght-md</code> = 15px </p>
    <p><code>.mrgn-rght-lg</code> = 30px </p>
    <p><code>.mrgn-rght-xl</code> = 50px </p></td>
   <td><p><code>.mrgn-bttm-0</code> = 0px </p>
    <p><code>.mrgn-bttm-sm</code> = 5px </p>
    <p><code>.mrgn-bttm-md</code> = 15px </p>
    <p><code>.mrgn-bttm-lg</code> = 30px </p>
    <p><code>.mrgn-bttm-xl</code> = 50px </p></td>
   <td><p><code>.mrgn-lft-0</code> = 0px </p>
    <p><code>.mrgn-lft-sm</code> = 5px </p>
    <p><code>.mrgn-lft-md</code> = 15px </p>
    <p><code>.mrgn-lft-lg</code> = 30px </p>
    <p><code>.mrgn-lft-xl</code> = 50px </p></td>
  </tr>
 </table>
 <div class="row wb-eqht mrgn-tp-lg mrgn-bttm-xl">
  <div class="col-md-6">
   <h3 class="mrgn-tp-0 text-success h4"><strong>Use when <span class="glyphicon glyphicon-ok-circle"></span></strong></h3>
   <p>(Info goes here)</p>
  </div>
  <div class="col-md-6 brdr-lft">
   <h3 class="mrgn-tp-0 text-danger h4"><strong>Do not use when <span class="glyphicon glyphicon-remove-circle"></span></strong></h3>
   <p>(Info goes here)</p>
  </div>
 </div>
</div>
