---
{
	"title": "Wells",
	"language": "en",
	"altLangPrefix": "wells",
	"dateModified": "2014-07-10"
}
---
<span class="wb-prettify all-pre"></span>
<div class="row">
	<section class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Table of contents</h2>
			</div>
			<div class="panel-body">
				<ul>
					<li><a href="#description">Description</a></li>
					<li><a href="#default">Default well</a></li>
					<li><a href="#sizing">Well sizing</a></li>
				</ul>
			</div>
		</div>
	</section>

	<section class="col-md-4">
		<div class="well">
			<h2 class="h3 mrgn-tp-0">Related</h2>
			<section>
				<h3 class="h4">Design guide</h3>
				<ul class="list-unstyled mrgn-lft-lg lst-spcd">
					<li><a href="alerts-en.html">Alerts<span class="wb-inv"> - Design guide</span></a></li>
					<li><a href="panels-en.html">Panels<span class="wb-inv"> - Design guide</span></a></li>
				</ul>
			</section>
		</div>
	</section>
</div>

<section>
	<h2 class="page-header" id="description">Description</h2>
	<p>Use the well as a simple effect on an element to give it an inset effect.</p>
</section>

<section>
	<h2 class="page-header" id="default">Default well</h2>
	<p class="well">Look, I'm in a well!</p>
	<div class="mrgn-tp-lg">
		<pre><code>&lt;div class=&quot;well&quot;&gt;...&lt;/div&gt;</code></pre>
	</div>

	<div class="row wb-eqht mrgn-tp-lg mrgn-bttm-xl">
		<section class="col-md-6">
			<h3 class="mrgn-tp-0 text-success h4">Use when <span class="glyphicon glyphicon-ok-circle"></span></h3>
			<p>(Info goes here)</p>
		</section>

	<section class="col-md-6 brdr-lft">
		<h3 class="mrgn-tp-0 text-danger h4">Do not use when <span class="glyphicon glyphicon-remove-circle"></span></h3>
		<p>(Info goes here)</p>
	</section>
</section>

<section>
	<h2 class="page-header" id="sizing">Well sizing</h2>
	<p>Control padding and rounded corners with two optional modifier classes.</p>

	<section>
		<h3>Large wells</h3>
		<p class="well well-lg">Look, I'm in a large well!</p>
		<div class="mrgn-tp-lg">
			<pre><code>&lt;div class=&quot;well well-lg&quot;&gt;...&lt;/div&gt;</code></pre>
		</div>

		<div class="row wb-eqht mrgn-tp-lg mrgn-bttm-xl">
			<section class="col-md-6">
				<h4 class="mrgn-tp-0 text-success">Use when <span class="glyphicon glyphicon-ok-circle"></span></h4>
				<p>(Info goes here)</p>
			</section>

			<section class="col-md-6 brdr-lft">
				<h4 class="mrgn-tp-0 text-danger">Do not use when <span class="glyphicon glyphicon-remove-circle"></span></h4>
				<p>(Info goes here)</p>
			</section>
		</div>
	</section>

	<section>
		<h3>Small wells</h3>
		<p class="well well-sm mrgn-tp-xl">Look, I'm in a small well!</p>
		<div class="mrgn-tp-lg">
			<pre><code>&lt;div class=&quot;well well-sm&quot;&gt;...&lt;/div&gt;</code></pre>
		</div>

		<div class="row wb-eqht mrgn-tp-lg mrgn-bttm-xl">
			<section class="col-md-6">
				<h4 class="mrgn-tp-0 text-success">Use when <span class="glyphicon glyphicon-ok-circle"></span></h4>
				<p>(Info goes here)</p>
			</section>

			<section class="col-md-6 brdr-lft">
				<h4 class="mrgn-tp-0 text-danger">Do not use when <span class="glyphicon glyphicon-remove-circle"></span></h4>
				<p>(Info goes here)</p>
			</section>
	</section>
</section>

<p class="mrgn-tp-lg"><span class="glyphicon glyphicon-info-sign"></span> Some of the code and documentation for this page is sourced from <a href="http://getbootstrap.com/" rel="external">Bootstrap</a></p>
