---
{
	"title": "Whitespace",
	"language": "en",
	"altLangPrefix": "whitespace",
	"dateModified": "2014-07-07"
}
---
<span class="wb-prettify all-pre"></span>

<div class="row">
	<section class="col-md-8">
		<div class="panel panel-default">
			<header class="panel-heading">
				<h2 class="panel-title">Table of contents</h2>
			</header>
			<div class="panel-body">
				<ul>
					<li><a href="#description">Description</a></li>
					<li><a href="#description">Default appearance</a></li>
					<li><a href="#whitespace">Whitespace options</a></li>
				</ul>
			</div>
		</div>
	</section>

	<section class="col-md-4 pull-right">
		<div class="well">
			<h2 class="h3 mrgn-tp-0">Related</h2>
			<section>
				<p>(Info goes here)</p>
			</section>
		</div>
	</section>
</div>

<section>
	<h2 class="page-header" id="description">Description</h2>
	<p>Used to to describe how whitespace inside the element is handled.</p>
</section>

<section>
	<h2 class="page-header" id="default">Default appearance</h2>
	<p>Sequences of whitespace (spaces/tabs) are collapsed; newline characters in the source are handled as other whitespace.</p>
	<p>Breaks lines as necessary to fill line boxes.</p>
</section>

<section>
	<h2 class="page-header" id="whitespace">Whitespace options</h2>
	<p>The normal behaviour is that text wraps and whitespace collapses.</p>
	<p>The <code>nowrap</code> class can be added to prevent text from wrapping. Sequences of whitespace will still collapse.</p>
	<section>
		<p>A really long line of text that has the <code>nowrap</code> class applied:</p>
		<p class="nowrap">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
	</section>
</section>

<section>
	<div class="row wb-eqht mrgn-tp-lg mrgn-bttm-xl">
		<section class="col-md-6">
			<h4 class="mrgn-tp-0 text-success">Use when <span class="glyphicon glyphicon-ok-circle"></span></h4>
			<p>(Info goes here)</p>
		</section>

		<section class="col-md-6 brdr-lft">
			<h4 class="mrgn-tp-0 text-danger"><strong>Do not use when <span class="glyphicon glyphicon-remove-circle"></span></h4>
			<p>(Info goes here)</p>
		</section>
	</div>
</section>
