---
{
	"title": "Style guide",
	"language": "en",
	"altLangPrefix": "index",
	"css": "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome",
	"dateModified": "2014-02-28"
}
---
<div class="row">
 <div class="col-md-8">
  <p>The style guide is broken down two ways - by category and by user role - both ultimately taking you to the same information.</p>
  <p>Adherence to documentation is mandatory, as it will ensure that content is accessible, usable, well formatted, well written and well positioned for future changes.</p>
  <div class="row">
   <div class="col-md-6">
    <div class="panel panel-default">
     <div class="panel-body">
      <h2 class="mrgn-tp-0 h3">Design guide</h2>
      <p>Offers a large selection of design and layout features for both basic and complex designs.</p>
      <p class="text-center"><a href="design/index-en.html" style="text-decoration: none;"><span class="fa-stack text-muted fa-3x hidden-xs hidden-sm center-block"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-picture-o fa-stack-1x fa-inverse"></span></span><span class="btn btn-primary btn-block">Design guide</span></a></p>
     </div>
    </div>
   </div>
   <div class="col-md-6">
    <div class="panel panel-default">
     <div class="panel-body">
      <h2 class="mrgn-tp-0 h3">Writing guide</h2>
      <p>Create content that is written for the web and follows specific technical writing requirements.</p>
      <p class="text-center"><a href="writing/index-en.html" style="text-decoration: none;"><span class="fa-stack text-muted fa-3x hidden-xs hidden-sm center-block"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-font fa-stack-1x fa-inverse"></span></span><span class="btn btn-primary btn-block">Writing guide</span></a></p>
     </div>
    </div>
   </div>
  </div>
  <div class="row">
   <div class="col-md-6">
    <div class="panel panel-default">
     <div class="panel-body">
      <h2 class="mrgn-tp-0 h3">Usability guide</h2>
      <p>User behaviour needs to be understood in order to create content that is usable.</p>
      <p class="text-center"><a href="usability/index-en.html" style="text-decoration: none;"><span class="fa-stack text-muted fa-3x hidden-xs hidden-sm center-block"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-smile-o fa-stack-1x fa-inverse"></span></span><span class="btn btn-primary btn-block">Usability guide</span></a></p>
     </div>
    </div>
   </div>
   <div class="col-md-6">
    <div class="panel panel-default">
     <div class="panel-body">
      <h2 class="mrgn-tp-0 h3">Accessibility guide</h2>
      <p>Create and code content so that is accessible to all users, regardless of ability or disability.</p>
      <p class="text-center"><a href="accessibility/index-en.html" style="text-decoration: none;"><span class="fa-stack text-muted fa-3x hidden-xs hidden-sm center-block"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-wheelchair fa-stack-1x fa-inverse"></span></span><span class="btn btn-primary btn-block">Accessibility guide</span></a></p>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="col-md-4">
  <div class="well">
   <div class="panel panel-default">
    <div class="panel-body">
     <h2 class="mrgn-tp-0 h3">Author role</h2>
     <p>For the <strong>author, content creator or content coordinator</strong>.</p>
     <p><a href="role/author-en.html" class="btn btn-info btn-block">Author role</a></p>
    </div>
   </div>
   <div class="panel panel-default">
    <div class="panel-body">
     <h2 class="mrgn-tp-0 h3">Webmaster / Developer role</h2>
     <p>For the <strong>webmaster or developer</strong>.</p>
     <p><a href="role/webmaster-en.html" class="btn btn-info btn-block">Webmaster / Developer role</a></p>
    </div>
   </div>
   <div class="panel panel-default">
    <div class="panel-body">
     <h2 class="mrgn-tp-0 h3">Designer role</h2>
     <p>For the <strong>graphic designer, interaction designer or prototyper</strong>.</p>
     <p><a href="role/designer-en.html" class="btn btn-info btn-block">Designer role</a></p>
    </div>
   </div>
   <div class="panel panel-default">
    <div class="panel-body">
     <h2 class="mrgn-tp-0 h3">IM / IA role</h2>
     <p>For the <strong>information manager or information architecture</strong>.</p>
     <p><a href="role/ia-en.html" class="btn btn-info btn-block">IM / IA role</a></p>
    </div>
   </div>
   <div class="panel panel-default mrgn-bttm-0">
    <div class="panel-body">
     <h2 class="mrgn-tp-0 h3">Manager role</h2>
     <p>For the <strong>manager</strong> or <strong>project manager</strong>.</p>
     <p><a href="role/manager-en.html" class="btn btn-info btn-block">Manager role</a></p>
    </div>
   </div>
  </div>
 </div>
</div>