---
{
	"title": "Guide de conception",
	"language": "fr",
	"altLangPrefix": "index",
	"css": ["http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome"],
	"dateModified": "2014-09-18"
}
---
<div class="row">
	<div class="col-md-8">
		<p>Le guide de style est décomposé de deux façons - par catégorie et par rôle d'utilisateur - les deux vous rends à la même information.</p>
		<p>Conformité à la documentation est obligatoire, car il fera en sorte que le contenu est accessible, utilisable, bien formaté, bien écrit et bien positionné pour les changements à venir.</p>
		<div class="row">
			<section class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h2 class="mrgn-tp-0 h3">Guide de conception</h2>
						<p>Offre un grand choix de caractéristiques de conception et de mise en page pour les modèles de base et complexes.</p>
						<p class="text-center">
							<a href="design/index-fr.html" style="text-decoration: none;">
								<span class="fa-stack text-muted fa-3x hidden-xs hidden-sm center-block">
									<span class="fa fa-circle fa-stack-2x"></span>
									<span class="fa fa-picture-o fa-stack-1x fa-inverse"></span>
								</span>
								<span class="btn btn-primary btn-block">Guide de conception</span>
							</a>
						</p>
					</div>
				</div>
			</section>

			<section class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h2 class="mrgn-tp-0 h3">Guide d'écriture</h2>
						<p>Créer du contenu qui est écrit pour le Web et qui suit les exigences spécifiques de rédaction technique.</p>
						<p class="text-center">
							<a href="writing/index-fr.html" style="text-decoration: none;">
								<span class="fa-stack text-muted fa-3x hidden-xs hidden-sm center-block">
									<span class="fa fa-circle fa-stack-2x"></span>
									<span class="fa fa-font fa-stack-1x fa-inverse"></span>
								</span>
								<span class="btn btn-primary btn-block">Guide d'écriture</span>
							</a>
						</p>
					</div>
				</div>
			</section>
		</div>

		<div class="row">
			<section class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h2 class="mrgn-tp-0 h3">Guide de convivialité </h2>
						<p>Le comportement de l'utilisateur doit être compris afin de créer du contenu qui est utilisable.</p>
						<p class="text-center">
							<a href="usability/index-fr.html" style="text-decoration: none;">
								<span class="fa-stack text-muted fa-3x hidden-xs hidden-sm center-block">
									<span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-smile-o fa-stack-1x fa-inverse"></span>
								</span>
								<span class="btn btn-primary btn-block">Guide de convivialité </span>
							</a>
						</p>
					</div>
				</div>
			</section>

			<section class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h2 class="mrgn-tp-0 h3">Guide d'accessibilité</h2>
						<p>Créer et codé du contenu de sorte que c'est accessible à tous les utilisateurs, peu importe leurs capacités ou incapacité.</p>
						<p class="text-center">
							<a href="accessibility/index-fr.html" style="text-decoration: none;">
								<span class="fa-stack text-muted fa-3x hidden-xs hidden-sm center-block">
									<span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-wheelchair fa-stack-1x fa-inverse"></span>
								</span>
								<span class="btn btn-primary btn-block">Guide d'accessibilité</span>
							</a>
						</p>
					</div>
				</div>
			</section>
		</div>
	</div>

	<div class="col-md-4">
		<div class="well">
			<section class="panel panel-default">
				<div class="panel-body">
					<h2 class="mrgn-tp-0 h3">Rôle de l'auteur</h2>
					<p>Pour <strong>l'auteur, créateur de contenu ou le coordonnateur des contenus</strong>.</p>
					<p><a href="role/author-fr.html" class="btn btn-info btn-block">Rôle de l'auteur</a></p>
				</div>
			</section>

			<section class="panel panel-default">
				<div class="panel-body">
					<h2 class="mrgn-tp-0 h3">Rôle du Webmaître / développeur</h2>
					<p>Pour les <strong>Webmaîtres ou développeur</strong>.</p>
					<p><a href="role/webmaster-fr.html" class="btn btn-info btn-block">Rôle du Webmaître / développeur</a></p>
				</div>
			</section>

			<section class="panel panel-default">
				<div class="panel-body">
					<h2 class="mrgn-tp-0 h3">Rôle du concepteur</h2>
					<p>Pour les <strong>graphistes, concepteurs d'interaction ou prototypeurs</strong>.</p>
					<p><a href="role/designer-fr.html" class="btn btn-info btn-block">Rôle du concepteur</a></p>
				</div>
			</section>

			<section class="panel panel-default">
				<div class="panel-body">
					<h2 class="mrgn-tp-0 h3">Rôle GI / Architectes d'informations </h2>
					<p>Pour les <strong>gestionnaires de l'information ou de l'architecture de l'information</strong>.</p>
					<p><a href="role/ia-fr.html" class="btn btn-info btn-block">Rôle GI / Architectes d'informations</a></p>
				</div>
			</section>

			<section class="panel panel-default mrgn-bttm-0">
				<div class="panel-body">
					<h2 class="mrgn-tp-0 h3">Rôle du gestionnaire</h2>
					<p>Pour les <strong>gestionnaires</strong> ou <strong>gestionnaires de project</strong>.</p>
					<p><a href="role/manager-fr.html" class="btn btn-info btn-block">Rôle du gestionnaire</a></p>
				</div>
			</section>
		</div>
	</div>
</div>
