---
{
	"title": "Guide de convivialité",
	"language": "fr",
	"altLangPrefix": "index",
	"css": ["http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome"],
	"dateModified": "2014-08-07"
}
---
<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-4 col-lg-3 visible-md visible-lg">
				<span class="fa-stack fa-5x">
					<span class="fa fa-circle fa-stack-2x"></span>
					<span class="fa fa-smile-o fa-stack-1x fa-inverse"></span>
				</span>
			</div>
			<div class="col-md-8 col-lg-9">
				<p>Le guide de convivialité d'utilisation fournit aux auteurs de contenu et aux webmestres une compréhension de la façon dont le comportement de l'utilisateur impacte la facilité d'utilisation du contenu.</p>
				<p>(Ajouter les détails ici)</p>
			</div>
		</div>
	</div>

	<section class="col-md-4">
		<h2 class="wb-inv">Related</h2>
		<div class="list-group hidden-xs hidden-sm">
			<a href="../design/index-fr.html" class="list-group-item">Guide de conception</a>
			<a href="../writing/index-fr.html" class="list-group-item">Guide d'écriture</a>
			<a href="../usability/index-fr.html" class="list-group-item active">Guide de convivialité</a>
			<a href="../accessibility/index-fr.html" class="list-group-item">Guide d'accessibilité</a>
		</div>

		<blockquote>
			<p>Citation ici</p>
			<p class="text-right">-Nom</p>
		</blockquote>

		<blockquote>
			<p>Citation ici</p>
			<p class="text-right">-Nom</p>
		</blockquote>
	</section>
</div>
