{% include header-theme-wet-boew-fr.html %}
<main property="mainContentOfPage" class="container">
<h1 id="wb-cont" property="name">{{ page.title }}</h1>
{% include content-buttons-fr.html %}
{% if page.written_lang != null and page.written_lang != '' %}
<div class="alert alert-warning">
	<p>Cette page n'est pas disponible en version française présentement.</p>
</div>
<div lang="{{ page.written_lang }}">
{% endif %}

{{ content }}

{% if page.written_lang != null and page.written_lang != '' %}
</div>
{% endif %}

{% if page.date_modified != null and page.date_modified != '' %}
<dl id="wb-dtmd">
	<dt>Date de modification:&#32;</dt>
	<dd><time property="dateModified">{{ page.date_modified }}</time></dd>
</dl>
{% endif %}
</main>
{% include footer-theme-wet-boew-fr.html %}
